Repository cBournhonesque/lightyear: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, docs, taplo

rustfmt:
  name: rustfmt
  description: Check if all files follow the rustfmt style
  entry: cargo fmt --all -- --check --color always
  language: system
  pass_filenames: false

clippy:
  name: clippy
  description: Run clippy linter
  entry: cargo clippy --features=lightyear_core/not_mock --workspace --exclude=compiletime --exclude=avian_3d_character --exclude=launcher --exclude=delta_compression --exclude=distributed_authority --no-deps -- -D warnings -A clippy::needless_lifetimes
  ...

docs:
  name: docs
  description: Build the documentation to ensure there are no errors
  entry: cargo +nightly doc --all-features --workspace --document-private-items --no-deps --keep-going
  language: system
  pass_filenames: false

taplo:
  name: Taplo TOML formatter
  description: Check formatting of all TOML files using Taplo
  entry: taplo fmt --check
  language: system
  pass_filenames: false

fix(example): disable frame interpolation on server (#1552)
  examples/avian_3d_character/src/renderer.rs
Due: rustfmt, clippy, docs

re-add delta-compression and fix fps
  examples/delta_compression/README.md
  examples/delta_compression/src/automation.rs
  examples/delta_compression/src/client.rs
  examples/delta_compression/src/protocol.rs
  examples/delta_compression/src/renderer.rs
  examples/delta_compression/src/server.rs
  examples/delta_compression/src/shared.rs
  examples/fps/src/renderer.rs
  justfile
Due: rustfmt, clippy, docs

ci
  examples/avian_3d/src/renderer.rs
Due: rustfmt, clippy, docs

feat(webtransport): allow overriding the target url in WebTransportClientIo
  crates/io/webtransport/src/client.rs
  crates/io/webtransport/src/lib.rs
  examples/common/src/client.rs
Due: rustfmt, clippy, docs

feat(webtransport): allow setting the target in WebTransport (#1556)
  crates/io/webtransport/src/client.rs
  crates/io/webtransport/src/lib.rs
  examples/common/src/client.rs
Due: rustfmt, clippy, docs

feat(interpolation): Support multiple interpolation fns for the same component
  crates/replication/interpolation/Cargo.toml
  crates/replication/interpolation/src/archetypes.rs
  crates/replication/interpolation/src/interpolate.rs
  crates/replication/interpolation/src/lib.rs
  crates/replication/interpolation/src/plugin.rs
  crates/replication/interpolation/src/registry.rs
Due: rustfmt, clippy, docs, taplo

only add one type-erased system
  crates/replication/interpolation/src/archetypes.rs
  crates/replication/interpolation/src/interpolate.rs
  crates/replication/interpolation/src/plugin.rs
  crates/replication/interpolation/src/registry.rs
  crates/replication/replication/src/deferred_entity.rs
  crates/replication/replication/src/lib.rs
  crates/tests/src/client_server/replication.rs
  crates/tests/src/protocol.rs
Due: rustfmt, clippy, docs

merge
  crates/core/sync/src/ping/plugin.rs
  crates/replication/interpolation/src/archetypes.rs
  crates/replication/interpolation/src/registry.rs
Due: rustfmt, clippy, docs

fix ci
  crates/inputs/inputs/src/server.rs
  crates/replication/interpolation/src/interpolate.rs
  crates/replication/interpolation/src/registry.rs
Due: rustfmt, clippy, docs

fixes
  crates/core/lightyear/src/client.rs
  crates/core/sync/src/ping/plugin.rs
  crates/replication/interpolation/src/archetypes.rs
  crates/replication/interpolation/src/interpolate.rs
  crates/replication/interpolation/src/registry.rs
  crates/tests/src/client_server/replication.rs
Due: rustfmt, clippy, docs

merge update interpolation histories and apply interpolate
  crates/core/lightyear/src/client.rs
  crates/core/sync/src/ping/plugin.rs
  crates/inputs/inputs/src/server.rs
  crates/replication/interpolation/src/archetypes.rs
  crates/replication/interpolation/src/interpolate.rs
  crates/replication/interpolation/src/plugin.rs
  crates/replication/interpolation/src/registry.rs
Due: rustfmt, clippy, docs

improve InterpolationFns api
  crates/replication/interpolation/src/interpolate.rs
  crates/replication/interpolation/src/lib.rs
  crates/replication/interpolation/src/registry.rs
  crates/replication/interpolation/src/rules.rs
  crates/replication/replication/src/registry/mod.rs
  examples/avian_3d/src/shared.rs
Due: rustfmt, clippy, docs

make frame interpolation use interpolation registry
  crates/core/core/src/frame_interpolation.rs
  crates/core/core/src/lib.rs
  crates/core/frame_interpolation/Cargo.toml
  crates/core/frame_interpolation/src/archetypes.rs
  crates/core/frame_interpolation/src/lib.rs
  crates/core/frame_interpolation/src/tests.rs
  crates/integration/avian/src/correction_2d.rs
  crates/integration/avian/src/correction_3d.rs
  crates/integration/avian/src/plugin.rs
  crates/replication/interpolation/src/archetypes.rs
  crates/replication/interpolation/src/interpolate.rs
  crates/replication/interpolation/src/lib.rs
  crates/replication/interpolation/src/registry.rs
  crates/replication/interpolation/src/rule.rs
  crates/replication/prediction/src/correction.rs
  crates/replication/prediction/src/registry.rs
  crates/replication/replication/src/registry/mod.rs
  crates/tests/src/client_server/avian/transform_replication.rs
  crates/tests/src/client_server/deterministic/protocol.rs
  crates/tests/src/protocol.rs
  examples/avian_2d/src/renderer.rs
  examples/avian_3d/src/renderer.rs
  examples/avian_3d/src/shared.rs
  examples/deterministic_replication/src/protocol.rs
  examples/deterministic_replication/src/shared.rs
  examples/fps/src/client.rs
  examples/fps/src/renderer.rs
  examples/projectiles/src/renderer.rs
  examples/replication_groups/src/client.rs
  examples/replication_groups/src/protocol.rs
Due: rustfmt, clippy, docs, taplo

split rules into folder
  crates/core/frame_interpolation/src/archetypes.rs
  crates/core/frame_interpolation/src/lib.rs
  crates/integration/avian/src/correction_2d.rs
  crates/integration/avian/src/correction_3d.rs
  crates/integration/avian/src/plugin.rs
  crates/replication/interpolation/src/archetypes.rs
  crates/replication/interpolation/src/interpolate.rs
  crates/replication/interpolation/src/lib.rs
  crates/replication/interpolation/src/registry.rs
  crates/replication/interpolation/src/rule.rs
  crates/replication/interpolation/src/rules.rs
  crates/replication/interpolation/src/rules/bundle.rs
  crates/replication/interpolation/src/rules/frame_interpolate.rs
  crates/replication/prediction/src/correction.rs
  crates/replication/prediction/src/registry.rs
Due: rustfmt, clippy, docs

simplify erased fns
  crates/core/frame_interpolation/src/archetypes.rs
  crates/replication/interpolation/src/archetypes.rs
  crates/replication/interpolation/src/interpolate.rs
  crates/replication/interpolation/src/plugin.rs
  crates/replication/interpolation/src/registry.rs
  crates/replication/interpolation/src/rules.rs
  crates/replication/interpolation/src/rules/bundle.rs
  crates/replication/interpolation/src/rules/frame_interpolate.rs
  crates/replication/prediction/src/correction.rs
Due: rustfmt, clippy, docs

use low-latency hint on webtransport
  crates/io/webtransport/src/client.rs
Due: rustfmt, clippy, docs

feat(webtransport): use low-latency hint on webtransport (#1557)
  crates/io/webtransport/src/client.rs
Due: rustfmt, clippy, docs

fix(lag_compensation): make LagCompensationBuffer its own type
  crates/core/core/src/history_buffer.rs
  crates/integration/avian/src/lag_compensation/history.rs
Due: rustfmt, clippy, docs

remove add_correction_fn and merge ErasedPostRollbackCorrection within PredictionMetadata
  crates/core/frame_interpolation/src/archetypes.rs
  crates/core/frame_interpolation/src/lib.rs
  crates/core/lightyear/src/lib.rs
  crates/integration/avian/src/correction_2d.rs
  crates/integration/avian/src/correction_3d.rs
  crates/integration/avian/src/plugin.rs
  crates/replication/interpolation/src/archetypes.rs
  crates/replication/interpolation/src/interpolate.rs
  crates/replication/interpolation/src/lib.rs
  crates/replication/interpolation/src/rules.rs
  crates/replication/interpolation/src/rules/frame_interpolate.rs
  crates/replication/prediction/src/correction.rs
  crates/replication/prediction/src/registry.rs
  crates/replication/replication/src/registry/mod.rs
  demos/spaceships/src/protocol.rs
  demos/spaceships/src/renderer.rs
  examples/avian_3d/src/protocol.rs
Due: rustfmt, clippy, docs

fix lint
  crates/integration/avian/src/lag_compensation/history.rs
  crates/integration/avian2d/Cargo.toml
  crates/integration/avian3d/Cargo.toml
Due: rustfmt, clippy, docs, taplo

fix(lag_compensation): make LagCompensationBuffer its own type (#1560)
  crates/core/core/src/history_buffer.rs
  crates/integration/avian/src/lag_compensation/history.rs
  crates/integration/avian2d/Cargo.toml
  crates/integration/avian3d/Cargo.toml
Due: rustfmt, clippy, docs, taplo

guarantee deterministic rule iteration
  crates/core/frame_interpolation/src/archetypes.rs
  crates/replication/interpolation/Cargo.toml
  crates/replication/interpolation/src/archetypes.rs
  crates/replication/interpolation/src/registry.rs
  crates/replication/prediction/src/correction.rs
  crates/replication/prediction/src/registry.rs
Due: rustfmt, clippy, docs, taplo

rename correction fields
  crates/replication/prediction/Cargo.toml
  crates/replication/prediction/src/registry.rs
  examples/fps/src/protocol.rs
Due: rustfmt, clippy, docs, taplo

simplify webtransport
  certificates/cert.pem
  certificates/digest.txt
  certificates/generate.sh
  certificates/key.pem
  demos/spaceships/README.md
  demos/spaceships/src/settings.rs
  examples/README.md
  examples/auth/README.md
  examples/avian_2d/README.md
  examples/avian_3d/README.md
  examples/bevy_enhanced_inputs/README.md
  examples/common/src/server.rs
  examples/delta_compression/README.md
  examples/deterministic_replication/README.md
  examples/fps/README.md
  examples/lobby/README.md
  examples/network_visibility/README.md
  examples/priority/README.md
  examples/projectiles/README.md
  examples/replication_groups/README.md
  examples/simple_box/README.md
  examples/simple_setup/Cargo.toml
  examples/simple_setup/README.md
  examples/simple_setup/src/main.rs
  examples/simple_setup/src/server.rs
  examples/simple_setup/src/shared.rs
Due: rustfmt, clippy, docs, taplo

simplify correction API
  crates/replication/prediction/src/correction.rs
  crates/replication/prediction/src/registry.rs
  crates/replication/replication/src/registry/mod.rs
  crates/tests/src/client_server/deterministic/protocol.rs
  crates/tests/src/protocol.rs
  examples/avian_2d/src/protocol.rs
  examples/avian_3d/src/protocol.rs
  examples/deterministic_replication/src/protocol.rs
  examples/projectiles/src/protocol.rs
Due: rustfmt, clippy, docs

taplo
  examples/avian_2d/Cargo.toml
  examples/avian_3d/Cargo.toml
  examples/bevy_enhanced_inputs/Cargo.toml
  examples/deterministic_replication/Cargo.toml
  examples/fps/Cargo.toml
  examples/network_visibility/Cargo.toml
  examples/priority/Cargo.toml
  examples/projectiles/Cargo.toml
  examples/replication_groups/Cargo.toml
  examples/simple_box/Cargo.toml
  examples/simple_setup/Cargo.toml
Due: taplo

fix deref
  crates/integration/avian/src/lag_compensation/history.rs
Due: rustfmt, clippy, docs

update correction docstring
  crates/replication/prediction/src/correction.rs
Due: rustfmt, clippy, docs

add correction docs
  crates/core/core/src/ecs_utils.rs
  crates/core/core/src/lib.rs
  crates/core/frame_interpolation/Cargo.toml
  crates/core/frame_interpolation/src/lib.rs
  crates/replication/interpolation/src/interpolate.rs
  crates/replication/interpolation/src/registry.rs
  crates/replication/interpolation/src/rules.rs
  crates/replication/interpolation/src/rules/bundle.rs
  crates/replication/interpolation/src/rules/frame_interpolate.rs
  crates/replication/prediction/src/correction.rs
Due: rustfmt, clippy, docs, taplo

type-erase backfill confirmed history observer
  crates/replication/interpolation/src/plugin.rs
  crates/replication/interpolation/src/registry.rs
  crates/replication/interpolation/src/rules.rs
  crates/replication/prediction/src/registry.rs
Due: rustfmt, clippy, docs

cleanup
  crates/replication/interpolation/src/interpolate.rs
  crates/replication/interpolation/src/plugin.rs
  crates/replication/interpolation/src/registry.rs
Due: rustfmt, clippy, docs

Add host-client single-target message test
  crates/tests/src/host_server/messages.rs
Due: rustfmt, clippy, docs

Point RakNet channel docs to archived URL
  crates/transport/transport/src/channel/builder.rs
Due: rustfmt, clippy, docs

Replace direct paste dependency with pastey
  Cargo.toml
  crates/core/utils/Cargo.toml
  crates/core/utils/src/wrapping_id.rs
Due: rustfmt, clippy, docs, taplo

Point RakNet channel docs to archived URL (#1565)
  crates/transport/transport/src/channel/builder.rs
Due: rustfmt, clippy, docs

Add host-client single-target message regression test (#1564)
  crates/tests/src/host_server/messages.rs
Due: rustfmt, clippy, docs

Path conditions:
  rustfmt: any of: \.rs$
  clippy: any of: \.rs$
  docs: any of: \.rs$
  taplo: any of: \.toml$
