Repository cBournhonesque/lightyear: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, docs, taplo

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        description: Check if all files follow the rustfmt style
        entry: cargo fmt --all -- --check --color always
        types: [rust]
        language: system
        pass_filenames: false

      - id: clippy
        name: clippy
        description: Run clippy linter
        entry: cargo clippy --features=lightyear_core/not_mock --workspace --exclude=compiletime --exclude=avian_3d_character --exclude=launcher --exclude=delta_compression --exclude=distributed_authority --no-deps -- -D warnings -A clippy::needless_lifetimes
        types: [rust]
        language: system
        pass_filenames: false

      - id: docs
        name: docs
        description: Build the documentation to ensure there are no errors
        entry: cargo +nightly doc --all-features --workspace --document-private-items --no-deps --keep-going
        types: [rust]
        language: system
        pass_filenames: false

      - id: taplo
        name: Taplo TOML formatter
        description: Check formatting of all TOML files using Taplo
        entry: taplo fmt --check
        types: [toml]
        language: system
        pass_filenames: false

Fix replication_groups example
  examples/avian_3d_character/Cargo.toml
  examples/avian_physics/Cargo.toml
  examples/bevy_enhanced_inputs/Cargo.toml
  examples/bevy_enhanced_inputs/src/main.rs
  examples/bevy_enhanced_inputs/src/protocol.rs
  examples/bevy_enhanced_inputs/src/server.rs
  examples/client_replication/Cargo.toml
  examples/common/src/cli.rs
  examples/deterministic_replication/Cargo.toml
  examples/distributed_authority/Cargo.toml
  examples/fps/Cargo.toml
  examples/network_visibility/Cargo.toml
  examples/priority/Cargo.toml
  examples/projectiles/Cargo.toml
  examples/projectiles/src/server.rs
  examples/replication_groups/Cargo.toml
  examples/replication_groups/src/automation.rs
  examples/simple_box/Cargo.toml
  lightyear_interpolation/src/registry.rs
  lightyear_tests/src/client_server/replication.rs
  lightyear_tests/src/protocol.rs
Due: rustfmt, clippy, docs, taplo

fix: add Connected transition for crossbeam transport (client + server-side ClientOf)
  lightyear_crossbeam/Cargo.toml
  lightyear_crossbeam/src/lib.rs
Due: rustfmt, clippy, docs, taplo

add InputMarker only in entities with authority (#1431)
  lightyear_inputs_bei/src/marker.rs
Due: rustfmt, clippy, docs

update avian2d/avian3d from 0.5 to 0.6
  Cargo.toml
  lightyear_avian/src/lag_compensation/history.rs
Due: rustfmt, clippy, docs, taplo

fix: predicted entity input buffer dropping inputs
  lightyear_inputs/src/server.rs
Due: rustfmt, clippy, docs

fix: network collapsing just_pressed
  lightyear_inputs/src/input_message.rs
  lightyear_inputs/src/server.rs
  lightyear_inputs_leafwing/src/input_message.rs
Due: rustfmt, clippy, docs

fix: HostClient's controls for bevy_enhanced_inputs example
  examples/bevy_enhanced_inputs/src/client.rs
Due: rustfmt, clippy, docs

fix: remove unused Disconnected import in crossbeam #1446
  lightyear_crossbeam/src/lib.rs
Due: rustfmt, clippy, docs

refactor: use With<LinkOf> filter instead of unused binding, clarify drain-on-break #1446
  lightyear_crossbeam/src/lib.rs
Due: rustfmt, clippy, docs

fix: register Transform as required for Collider for avian 0.6 compatibility
  lightyear_avian/src/plugin.rs
Due: rustfmt, clippy, docs

fix: update ActionMock import path for bevy_enhanced_input 0.24
  examples/projectiles/src/client.rs
  examples/projectiles/src/renderer.rs
Due: rustfmt, clippy, docs

fix: don't check non-button inputs for just_pressed hydration
  lightyear_inputs_leafwing/src/input_message.rs
Due: rustfmt, clippy, docs

fix: snap interpolated component to single remaining keyframe
  lightyear_interpolation/src/interpolation_history.rs
Due: rustfmt, clippy, docs

fix: write confirmed value on every idle rebase, not just first
  lightyear_interpolation/src/interpolate.rs
  lightyear_interpolation/src/interpolation_history.rs
Due: rustfmt, clippy, docs

fix: maintain bracketing keyframes under packet loss
  lightyear_interpolation/src/interpolate.rs
  lightyear_interpolation/src/interpolation_history.rs
Due: rustfmt, clippy, docs

fix: smart drain + clamp for interpolation under packet loss
  lightyear_interpolation/src/interpolate.rs
  lightyear_interpolation/src/interpolation_history.rs
Due: rustfmt, clippy, docs

docs: restore context comments and document clamp-vs-extrapolate trade-off
  lightyear_interpolation/src/interpolate.rs
  lightyear_interpolation/src/interpolation_history.rs
Due: rustfmt, clippy, docs

fix: update ActionMock import path for bevy_enhanced_input 0.24 (#1449)
  examples/projectiles/src/client.rs
  examples/projectiles/src/renderer.rs
Due: rustfmt, clippy, docs

fix: register Transform as required for Collider for avian 0.6 compatibility (#1448)
  Cargo.toml
  lightyear_avian/src/lag_compensation/history.rs
  lightyear_avian/src/plugin.rs
Due: rustfmt, clippy, docs, taplo

Add checkpoint mapping for prediction tick resolution
  lightyear_prediction/src/checkpoint_ticks.rs
  lightyear_prediction/src/lib.rs
  lightyear_prediction/src/manager.rs
  lightyear_prediction/src/predicted_history.rs
  lightyear_prediction/src/registry.rs
  lightyear_prediction/src/rollback.rs
  lightyear_replication/src/checkpoint.rs
  lightyear_replication/src/client.rs
  lightyear_replication/src/lib.rs
  lightyear_replication/src/server.rs
  lightyear_replication/tests/checkpoint.rs
  lightyear_tests/src/client_server/prediction/rollback.rs
Due: rustfmt, clippy, docs

Fix spaceship example + replication issue
  demos/spaceships/Cargo.toml
  demos/spaceships/src/client.rs
  demos/spaceships/src/protocol.rs
  demos/spaceships/src/renderer.rs
  examples/projectiles/src/client.rs
  lightyear_avian/src/plugin.rs
  lightyear_inputs_bei/src/setup.rs
  lightyear_prediction/src/predicted_history.rs
  lightyear_prediction/src/registry.rs
  lightyear_prediction/src/rollback.rs
  lightyear_replication/src/checkpoint.rs
  lightyear_replication/src/client.rs
  lightyear_replication/src/server.rs
  lightyear_replication/tests/checkpoint.rs
Due: rustfmt, clippy, docs, taplo

fix: host-client controlled component (#1425)
  lightyear_replication/src/host.rs
Due: rustfmt, clippy, docs

fix rollback test
  Cargo.toml
  lightyear_tests/src/client_server/prediction/rollback.rs
Due: rustfmt, clippy, docs, taplo

interpolation: init confirmed history when Interpolated is added (#1421)
  lightyear_interpolation/src/interpolation_history.rs
  lightyear_interpolation/src/plugin.rs
Due: rustfmt, clippy, docs

fix interpolation issues + add docs
  Cargo.toml
  lightyear_avian/src/lag_compensation/history.rs
  lightyear_inputs/src/client.rs
  lightyear_inputs/src/server.rs
  lightyear_inputs_bei/src/plugin.rs
  lightyear_interpolation/src/interpolate.rs
  lightyear_interpolation/src/interpolation_history.rs
  lightyear_interpolation/src/plugin.rs
  lightyear_replication/src/authority.rs
  lightyear_replication/src/control.rs
  lightyear_replication/src/lib.rs
  lightyear_replication/src/metadata.rs
  lightyear_replication/src/receive.rs
  lightyear_replication/src/send.rs
  lightyear_replication/src/visibility/immediate.rs
Due: rustfmt, clippy, docs, taplo

Make interpolation use the server authoritative tick
  lightyear_interpolation/src/registry.rs
  lightyear_prediction/src/manager.rs
Due: rustfmt, clippy, docs

Replace Tick from u16 to u32
  demos/spaceships/src/protocol.rs
  demos/spaceships/src/server.rs
  demos/spaceships/src/shared.rs
  lightyear_avian/src/lag_compensation/history.rs
  lightyear_core/src/history_buffer.rs
  lightyear_core/src/tick.rs
  lightyear_core/src/time.rs
  lightyear_core/src/timeline.rs
  lightyear_inputs/src/client.rs
  lightyear_inputs/src/input_buffer.rs
  lightyear_inputs/src/input_message.rs
  lightyear_inputs/src/lib.rs
  lightyear_inputs_bei/src/input_message.rs
  lightyear_inputs_leafwing/src/input_message.rs
  lightyear_inputs_native/src/input_message.rs
  lightyear_interpolation/src/interpolate.rs
  lightyear_interpolation/src/timeline.rs
  lightyear_prediction/src/predicted_history.rs
  lightyear_prediction/src/rollback.rs
  lightyear_replication/src/checkpoint.rs
  lightyear_replication/src/delta.rs
  lightyear_replication/src/send.rs
  lightyear_sync/src/ping/manager.rs
  lightyear_sync/src/timeline/input.rs
  lightyear_sync/src/timeline/sync.rs
  lightyear_tests/src/client_server/prediction/prespawn.rs
  lightyear_tests/src/client_server/replication.rs
  lightyear_transport/src/packet/header.rs
  lightyear_utils/src/wrapping_id.rs
Due: rustfmt, clippy, docs

Fix Dropped Inputs and Collapsed JustPressed Events (#1438)
  lightyear_inputs/src/input_message.rs
  lightyear_inputs/src/server.rs
  lightyear_inputs_leafwing/src/input_message.rs
Due: rustfmt, clippy, docs

Merge main (incl PR #1438) and integrate from_snapshot_transitions fix
  lightyear_inputs/src/input_message.rs
  lightyear_inputs/src/server.rs
  lightyear_inputs_leafwing/src/input_message.rs
  lightyear_inputs_leafwing/src/lib.rs
  lightyear_tests/src/client_server/input/leafwing.rs
Due: rustfmt, clippy, docs

Fix interpolation merge follow-up and test warnings
  lightyear_interpolation/src/interpolation_history.rs
  lightyear_tests/src/client_server/avian/position_replication.rs
  lightyear_tests/src/client_server/input/bei.rs
  lightyear_tests/src/client_server/prediction/prespawn.rs
  lightyear_tests/src/client_server/prediction/spawn.rs
  lightyear_tests/src/client_server/replication.rs
  lightyear_tests/src/host_server/input/bei.rs
Due: rustfmt, clippy, docs

Add tests for https://github.com/cBournhonesque/lightyear/pull/1438
  certificates/cert.pem
  certificates/digest.txt
  certificates/key.pem
  lightyear_inputs/src/input_buffer.rs
  lightyear_replication/src/send.rs
  lightyear_tests/src/client_server/input/leafwing.rs
Due: rustfmt, clippy, docs

Fix more examples
  demos/spaceships/src/client.rs
  examples/auth/src/client.rs
  examples/auth/src/main.rs
  examples/bevy_enhanced_inputs/src/client.rs
  examples/common/src/cli.rs
  examples/deterministic_replication/Cargo.toml
  examples/deterministic_replication/src/automation.rs
  examples/deterministic_replication/src/client.rs
  examples/deterministic_replication/src/main.rs
  examples/deterministic_replication/src/protocol.rs
  examples/deterministic_replication/src/server.rs
  examples/deterministic_replication/src/shared.rs
  examples/simple_setup/src/main.rs
  justfile
  lightyear_inputs_leafwing/Cargo.toml
  lightyear_inputs_leafwing/src/input_message.rs
  lightyear_inputs_leafwing/src/plugin.rs
  lightyear_messages/src/server.rs
  lightyear_replication/src/send.rs
  lightyear_tests/src/client_server/input/leafwing.rs
  lightyear_tests/src/host_server/input/bei.rs
  lightyear_transport/src/packet/packet.rs
  lightyear_transport/src/packet/packet_builder.rs
Due: rustfmt, clippy, docs, taplo

add example issues
  example_issues.md
Due: none

Insert the latest ActionState value from the InputBuffer when receiving old inputs from remote client
  lightyear_inputs/src/client.rs
  lightyear_tests/src/client_server/input/leafwing.rs
Due: rustfmt, clippy, docs

fix: ignore WSAECONNRESET on Windows UDP receive
  lightyear_udp/src/lib.rs
  lightyear_udp/src/server.rs
Due: rustfmt, clippy, docs

Fix examples in host-server mode + remove wrapping functions for Tick
  demos/spaceships/src/client.rs
  examples/avian_3d_character/src/client.rs
  examples/avian_physics/src/client.rs
  examples/bevy_enhanced_inputs/src/client.rs
  examples/deterministic_replication/Cargo.toml
  examples/deterministic_replication/src/client.rs
  examples/deterministic_replication/src/protocol.rs
  examples/deterministic_replication/src/server.rs
  examples/fps/src/server.rs
  examples/lobby/src/server.rs
  examples/network_visibility/src/client.rs
  examples/projectiles/src/server.rs
  examples/replication_groups/src/client.rs
  examples/replication_groups/src/protocol.rs
  examples/simple_box/src/client.rs
  lightyear_core/src/tick.rs
  lightyear_deterministic_replication/src/checksum.rs
  lightyear_prediction/src/manager.rs
  lightyear_prediction/src/registry.rs
  lightyear_prediction/src/rollback.rs
  lightyear_utils/src/wrapping_id.rs
Due: rustfmt, clippy, docs, taplo
