Repository cBournhonesque/lightyear: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, docs, taplo

rustfmt:
  name: rustfmt
  description: Check if all files follow the rustfmt style
  entry: cargo fmt --all -- --check --color always
  language: system
  pass_filenames: false

clippy:
  name: clippy
  description: Run clippy linter
  entry: cargo clippy --features=lightyear_core/not_mock --workspace --exclude=compiletime --exclude=avian_3d_character --exclude=launcher --exclude=delta_compression --exclude=distributed_authority --no-deps -- -D warnings -A clippy::needless_lifetimes
  ...

docs:
  name: docs
  description: Build the documentation to ensure there are no errors
  entry: cargo +nightly doc --all-features --workspace --document-private-items --no-deps --keep-going
  language: system
  pass_filenames: false

taplo:
  name: Taplo TOML formatter
  description: Check formatting of all TOML files using Taplo
  entry: taplo fmt --check
  language: system
  pass_filenames: false

feat(sync): aggregate P2P timeline pacing (#1630)
  crates/core/sync/src/lib.rs
  crates/core/sync/src/timeline/input.rs
  crates/core/sync/src/timeline/remote.rs
  crates/core/sync/src/timeline/sync.rs
  crates/deterministic/deterministic_replication/src/lib.rs
  crates/deterministic/deterministic_replication/src/plugin.rs
  crates/deterministic/deterministic_replication/src/prediction_window.rs
  crates/inputs/inputs/src/client.rs
  crates/replication/interpolation/src/timeline.rs
  crates/replication/prediction/src/manager.rs
  crates/replication/prediction/src/rollback.rs
Due: rustfmt, clippy, docs

fix(replication): specify visibility scope lifetimes
  crates/replication/replication/src/control.rs
  crates/replication/replication/src/send.rs
  crates/replication/replication/src/visibility/immediate.rs
Due: rustfmt, clippy, docs

refactor(prediction): make rollback state global (#1628)
  book/src/concepts/advanced_replication/prespawning.md
  book/src/tutorial/advanced_systems.md
  crates/core/core/src/timeline.rs
  crates/core/sync/src/timeline/remote.rs
  crates/deterministic/deterministic_replication/src/late_join/client.rs
  crates/inputs/inputs/src/client.rs
  crates/replication/interpolation/src/timeline.rs
  crates/replication/prediction/src/correction.rs
  crates/replication/prediction/src/despawn.rs
  crates/replication/prediction/src/manager.rs
  crates/replication/prediction/src/plugin.rs
  crates/replication/prediction/src/predicted_history.rs
  crates/replication/prediction/src/registry.rs
  crates/replication/prediction/src/rollback.rs
  crates/replication/replication/src/REPLICON_INTEGRATION.md
  crates/tests/src/client_server/deterministic/state_based_catchup.rs
  crates/tests/src/client_server/deterministic/stepper.rs
  crates/tests/src/client_server/diff.rs
  crates/tests/src/client_server/input/native.rs
  crates/tests/src/client_server/prediction/mod.rs
  crates/tests/src/client_server/prediction/rollback.rs
  crates/tests/src/stepper.rs
  examples/common/src/client.rs
  examples/deterministic_replication/src/main.rs
  examples/fps/src/debug.rs
  examples/projectiles/src/server.rs
  examples/projectiles/src/shared.rs
Due: rustfmt, clippy, docs

refactor(inputs): route through cached network topology (#1627)
  crates/inputs/input_bei/src/setup.rs
  crates/inputs/inputs/src/client.rs
Due: rustfmt, clippy, docs

refactor(replication): centralize prespawn lifecycle tracking
  crates/inputs/inputs/src/server.rs
  crates/replication/prediction/src/plugin.rs
  crates/replication/prediction/src/rollback.rs
  crates/replication/replication/src/REPLICON_INTEGRATION.md
  crates/replication/replication/src/lib.rs
  crates/replication/replication/src/prespawn.rs
  crates/tests/src/client_server/deterministic/input_only.rs
  crates/tests/src/client_server/deterministic/protocol.rs
  crates/tests/src/client_server/deterministic/state_based_catchup.rs
  crates/tests/src/client_server/deterministic/stepper.rs
  crates/tests/src/client_server/prediction/prespawn.rs
  crates/tests/src/client_server/prediction/rollback.rs
Due: rustfmt, clippy, docs

feat(p2p): add fixed-roster session agreement
  Cargo.toml
  crates/connection/connection/src/lib.rs
  crates/connection/connection/src/p2p.rs
  crates/connection/p2p/Cargo.toml
  crates/connection/p2p/src/lib.rs
  crates/connection/p2p/src/session.rs
  crates/core/lightyear/Cargo.toml
  crates/core/lightyear/src/lib.rs
  demos/spaceships/src/p2p.rs
  examples/avian_2d/src/p2p.rs
  examples/avian_3d/src/p2p.rs
  examples/bevy_enhanced_inputs/src/p2p.rs
  examples/common/src/p2p.rs
  examples/deterministic_replication/src/p2p.rs
  examples/fps/src/p2p.rs
  examples/network_visibility/src/p2p.rs
  examples/replication_groups/src/p2p.rs
  examples/simple_box/README.md
  examples/simple_box/src/client.rs
  examples/simple_box/src/p2p.rs
Due: rustfmt, clippy, docs, taplo

refactor(p2p): simplify session lifecycle
  crates/connection/connection/src/lib.rs
  crates/connection/connection/src/p2p.rs
  crates/connection/p2p/Cargo.toml
  crates/connection/p2p/src/lib.rs
  crates/connection/p2p/src/session.rs
  crates/core/lightyear/Cargo.toml
  crates/core/sync/src/timeline/sync.rs
  demos/spaceships/src/p2p.rs
  examples/avian_2d/src/p2p.rs
  examples/avian_3d/src/p2p.rs
  examples/bevy_enhanced_inputs/src/p2p.rs
  examples/common/src/p2p.rs
  examples/deterministic_replication/src/p2p.rs
  examples/fps/src/p2p.rs
  examples/network_visibility/src/p2p.rs
  examples/replication_groups/src/p2p.rs
  examples/simple_box/README.md
  examples/simple_box/src/p2p.rs
Due: rustfmt, clippy, docs, taplo

docs(p2p): clarify session negotiation state
  crates/connection/p2p/src/session.rs
Due: rustfmt, clippy, docs

feat(p2p): optionally unlink links on stop
  crates/connection/p2p/Cargo.toml
  crates/connection/p2p/src/lib.rs
  crates/connection/p2p/src/session.rs
Due: rustfmt, clippy, docs, taplo

fix(p2p): adapt session to current link API
  crates/connection/p2p/src/session.rs
  examples/avian_3d/src/p2p.rs
Due: rustfmt, clippy, docs

fix(netcode): validate token server addresses
  book/src/tutorial/build_client_server.md
  crates/connection/netcode/src/server.rs
  crates/connection/netcode/src/server_plugin.rs
  examples/simple_setup/src/main.rs
  examples/simple_setup/src/server.rs
Due: rustfmt, clippy, docs

refactor(netcode): clarify expected server addresses
  book/src/tutorial/build_client_server.md
  crates/connection/netcode/src/server.rs
  crates/connection/netcode/src/server_plugin.rs
  examples/common/src/server.rs
Due: rustfmt, clippy, docs

fix(netcode): follow server link addresses
  book/src/tutorial/build_client_server.md
  crates/connection/netcode/Cargo.toml
  crates/connection/netcode/src/lib.rs
  crates/connection/netcode/src/server.rs
  crates/connection/netcode/src/server_plugin.rs
  examples/auth/src/main.rs
  examples/common/src/cli.rs
  examples/common/src/server.rs
  examples/launcher/src/main.rs
  examples/lobby/src/main.rs
  examples/simple_setup/src/main.rs
  examples/simple_setup/src/server.rs
Due: rustfmt, clippy, docs, taplo

refactor(netcode): simplify server address validation
  book/src/tutorial/build_client_server.md
  crates/connection/netcode/src/lib.rs
  crates/connection/netcode/src/server.rs
  crates/connection/netcode/src/server_plugin.rs
  crates/tests/src/client_server/deterministic/stepper.rs
  crates/tests/src/stepper.rs
  examples/auth/src/main.rs
  examples/common/src/cli.rs
  examples/common/src/server.rs
  examples/launcher/src/main.rs
  examples/lobby/src/main.rs
Due: rustfmt, clippy, docs

feat(deterministic): validate checksums across P2P peers
  crates/core/lightyear/Cargo.toml
  crates/deterministic/deterministic_replication/Cargo.toml
  crates/deterministic/deterministic_replication/src/checksum.rs
  crates/deterministic/deterministic_replication/src/lib.rs
  examples/deterministic_replication/src/protocol.rs
Due: rustfmt, clippy, docs, taplo

fix(replication): preserve despawns with visibility lifetimes
  crates/replication/replication/src/send.rs
Due: rustfmt, clippy, docs

fix(sync): complete timeline API migration
  crates/core/sync/src/timeline/input.rs
  crates/deterministic/deterministic_replication/src/prediction_window.rs
  crates/replication/prediction/src/rollback.rs
  demos/spaceships/src/shared.rs
Due: rustfmt, clippy, docs

ci: run doctests in parallel
  .github/workflows/main.yaml
Due: none

chore: updates to justfile
  book/src/guides/remote_server.md
  demos/spaceships/README.md
  demos/spaceships/src/main.rs
  examples/README.md
  examples/auth/README.md
  examples/avian_2d/README.md
  examples/avian_3d/README.md
  examples/bevy_enhanced_inputs/README.md
  examples/common/src/cli.rs
  examples/delta_compression/README.md
  examples/deterministic_replication/README.md
  examples/fps/README.md
  examples/lobby/README.md
  examples/network_visibility/README.md
  examples/priority/README.md
  examples/projectiles/README.md
  examples/replication_groups/README.md
  examples/simple_box/README.md
  examples/simple_box/p2p_smoke.sh
  examples/simple_setup/README.md
  examples/simple_setup/src/automation.rs
  examples/simple_setup/src/client.rs
  examples/simple_setup/src/main.rs
  justfile
Due: rustfmt, clippy, docs

feat(visibility): update visibility with replicon scope lifetimes
  crates/replication/replication/src/lib.rs
  crates/replication/replication/src/send.rs
  crates/replication/replication/src/visibility/immediate.rs
  crates/tests/src/client_server/visibility.rs
  examples/network_visibility/README.md
  examples/network_visibility/src/main.rs
  examples/network_visibility/src/p2p.rs
  examples/network_visibility/src/protocol.rs
  examples/network_visibility/src/renderer.rs
  examples/network_visibility/src/server.rs
Due: rustfmt, clippy, docs

Update readme
  README.md
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  clippy: any of: \.rs$
  docs: any of: \.rs$
  taplo: any of: \.toml$
