Repository cBournhonesque/lightyear: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, docs, taplo

rustfmt:
  name: rustfmt
  description: Check if all files follow the rustfmt style
  entry: cargo fmt --all -- --check --color always
  language: system
  pass_filenames: false

clippy:
  name: clippy
  description: Run clippy linter
  entry: cargo clippy --features=lightyear_core/not_mock --workspace --exclude=compiletime --exclude=avian_3d_character --exclude=launcher --exclude=delta_compression --exclude=distributed_authority --no-deps -- -D warnings -A clippy::needless_lifetimes
  ...

docs:
  name: docs
  description: Build the documentation to ensure there are no errors
  entry: cargo +nightly doc --all-features --workspace --document-private-items --no-deps --keep-going
  language: system
  pass_filenames: false

taplo:
  name: Taplo TOML formatter
  description: Check formatting of all TOML files using Taplo
  entry: taplo fmt --check
  language: system
  pass_filenames: false

test: use the standard protocol for allocation checks
  crates/tests/src/protocol.rs
  crates/tests/src/stepper.rs
  crates/tests/tests/allocation_profile.rs
  crates/tests/tests/allocation_regression.rs
Due: rustfmt, clippy, docs

Fix benchmarks and reduce steady-state allocations (#1623)
  benches/criterion/Cargo.toml
  benches/criterion/benches/bandwidth/replication.rs
  benches/criterion/benches/bandwidth/transport_compression.rs
  benches/criterion/src/measurements/bandwidth.rs
  crates/core/sync/src/ping/manager.rs
  crates/core/sync/src/ping/plugin.rs
  crates/replication/prediction/src/registry.rs
  crates/replication/replication/src/client.rs
  crates/tests/Cargo.toml
  crates/tests/tests/allocation_profile.rs
  crates/tests/tests/allocation_regression.rs
Due: rustfmt, clippy, docs, taplo

fix(perf): avoid repeatedly allocating metrics keys
  crates/core/lightyear/Cargo.toml
  crates/core/utils/src/metrics.rs
  crates/inputs/inputs/src/client.rs
  crates/inputs/inputs/src/lib.rs
  crates/inputs/inputs/src/metric_handles.rs
  crates/inputs/inputs/src/plugin.rs
  crates/inputs/inputs/src/server.rs
  crates/replication/prediction/src/plugin.rs
  crates/replication/prediction/src/registry.rs
  crates/replication/prediction/src/rollback.rs
  crates/tools/tools/Cargo.toml
  crates/tools/tools/src/ui/debug.rs
  crates/tools/ui/Cargo.toml
  crates/transport/messages/src/multi.rs
  crates/transport/messages/src/registry.rs
  crates/transport/messages/src/send.rs
  crates/transport/transport/src/channel/registry.rs
  crates/transport/transport/src/plugin.rs
  docs/allocation-regression.md
Due: rustfmt, clippy, docs, taplo

fix(prediction): preserve pre-target history so deeper rollbacks restore canonically (#1618)
  crates/replication/prediction/src/rollback.rs
Due: rustfmt, clippy, docs

fix(prediction): prune prediction history (#1626)
  crates/core/sync/src/timeline/input.rs
  crates/deterministic/deterministic_replication/src/late_join/client.rs
  crates/inputs/inputs/src/client.rs
  crates/replication/prediction/src/manager.rs
  crates/replication/prediction/src/predicted_history.rs
  crates/replication/prediction/src/rollback.rs
Due: rustfmt, clippy, docs

fix(perf): avoid allocating on metrics calls (#1625)
  crates/core/lightyear/Cargo.toml
  crates/core/utils/src/metrics.rs
  crates/inputs/inputs/src/client.rs
  crates/inputs/inputs/src/lib.rs
  crates/inputs/inputs/src/metric_handles.rs
  crates/inputs/inputs/src/plugin.rs
  crates/inputs/inputs/src/server.rs
  crates/replication/prediction/src/plugin.rs
  crates/replication/prediction/src/registry.rs
  crates/replication/prediction/src/rollback.rs
  crates/tools/tools/Cargo.toml
  crates/tools/tools/src/ui/debug.rs
  crates/tools/ui/Cargo.toml
  crates/transport/messages/src/multi.rs
  crates/transport/messages/src/registry.rs
  crates/transport/messages/src/send.rs
  crates/transport/transport/src/channel/registry.rs
  crates/transport/transport/src/plugin.rs
  docs/allocation-regression.md
Due: rustfmt, clippy, docs, taplo

feat(perf): reuse allocations when sending packets to Link
  crates/tests/tests/allocation_regression.rs
  crates/transport/transport/Cargo.toml
  crates/transport/transport/src/channel/builder.rs
  crates/transport/transport/src/packet/compression.rs
  crates/transport/transport/src/packet/mod.rs
  crates/transport/transport/src/packet/packet.rs
  crates/transport/transport/src/packet/packet_builder.rs
  crates/transport/transport/src/packet/test_utils.rs
  crates/transport/transport/src/plugin.rs
  crates/transport/transport/tests/allocation_regression.rs
  crates/transport/transport/tests/dhat_packet_loop.rs
Due: rustfmt, clippy, docs, taplo

feat(perf): reuse allocations when sending packets to Link (#1629)
  crates/tests/tests/allocation_regression.rs
  crates/transport/transport/Cargo.toml
  crates/transport/transport/src/channel/builder.rs
  crates/transport/transport/src/packet/compression.rs
  crates/transport/transport/src/packet/mod.rs
  crates/transport/transport/src/packet/packet.rs
  crates/transport/transport/src/packet/packet_builder.rs
  crates/transport/transport/src/packet/test_utils.rs
  crates/transport/transport/src/plugin.rs
  crates/transport/transport/tests/allocation_regression.rs
  crates/transport/transport/tests/dhat_packet_loop.rs
Due: rustfmt, clippy, docs, taplo

fix(deps): Replace unmaintained bincode for STD
  Cargo.toml
  README.md
  crates/core/core/src/time.rs
  crates/inputs/input_bei/src/input_message.rs
  crates/io/websocket/src/server.rs
  crates/io/webtransport/src/server.rs
  crates/replication/replication/src/send.rs
  crates/transport/serde/Cargo.toml
  crates/transport/serde/src/lib.rs
  crates/transport/serde/src/registry.rs
  demos/spaceships/src/shared.rs
  examples/lobby/src/server.rs
Due: rustfmt, clippy, docs, taplo

feat(serde): replace bincode with postcard
  Cargo.toml
  README.md
  crates/transport/serde/Cargo.toml
  crates/transport/serde/src/lib.rs
  crates/transport/serde/src/postcard_utils.rs
  crates/transport/serde/src/reader.rs
  crates/transport/serde/src/registry.rs
  crates/transport/serde/src/writer.rs
Due: rustfmt, clippy, docs, taplo

refactor(serde): consolidate reader and writer implementations
  crates/transport/serde/src/reader.rs
  crates/transport/serde/src/writer.rs
  crates/transport/serde/tests/buffers.rs
Due: rustfmt, clippy, docs

feat(serde): replace bincode with postcard (#1632)
  Cargo.toml
  README.md
  crates/transport/serde/Cargo.toml
  crates/transport/serde/src/lib.rs
  crates/transport/serde/src/postcard_utils.rs
  crates/transport/serde/src/reader.rs
  crates/transport/serde/src/registry.rs
  crates/transport/serde/src/writer.rs
Due: rustfmt, clippy, docs, taplo

test(serde): remove buffer feature-matrix test
  crates/transport/serde/tests/buffers.rs
Due: rustfmt, clippy, docs

feat(perf): reuse receive buffer allocations
  crates/connection/netcode/src/client.rs
  crates/connection/netcode/src/packet.rs
  crates/connection/netcode/src/server.rs
  crates/core/core/Cargo.toml
  crates/core/core/src/buffer_pool.rs
  crates/core/core/src/lib.rs
  crates/io/aeronet/src/lib.rs
  crates/io/crossbeam/src/lib.rs
  crates/io/link/src/lib.rs
  crates/io/udp/Cargo.toml
  crates/io/udp/src/lib.rs
  crates/io/udp/src/server.rs
  crates/tests/Cargo.toml
  crates/tests/src/client_server/base.rs
  crates/tests/src/host_server/input/bei.rs
  crates/tests/src/host_server/replication.rs
  crates/tests/src/multi_server/steam.rs
  crates/tests/src/stepper.rs
  crates/tests/tests/allocation_regression.rs
  crates/transport/messages/src/plugin.rs
  crates/transport/transport/src/packet/packet_builder.rs
  crates/transport/transport/src/plugin.rs
Due: rustfmt, clippy, docs, taplo

refactor(serde): consolidate reader and writer implementations (#1633)
  crates/transport/serde/src/reader.rs
  crates/transport/serde/src/writer.rs
Due: rustfmt, clippy, docs

refactor(serde): consolidate reader and writer implementations
  crates/transport/serde/src/reader.rs
  crates/transport/serde/src/writer.rs
Due: rustfmt, clippy, docs

fix(serde): keep no-default-features std-free
  Cargo.toml
  crates/transport/serde/Cargo.toml
Due: taplo

refactor(serde): consolidate reader and writer implementations (#1635)
  crates/transport/serde/src/reader.rs
  crates/transport/serde/src/writer.rs
Due: rustfmt, clippy, docs

feat(perf): reuse receive buffer allocations (#1634)
  crates/connection/netcode/src/client.rs
  crates/connection/netcode/src/packet.rs
  crates/connection/netcode/src/server.rs
  crates/core/core/Cargo.toml
  crates/core/core/src/buffer_pool.rs
  crates/core/core/src/lib.rs
  crates/io/aeronet/src/lib.rs
  crates/io/crossbeam/src/lib.rs
  crates/io/link/src/lib.rs
  crates/io/udp/Cargo.toml
  crates/io/udp/src/lib.rs
  crates/io/udp/src/server.rs
  crates/tests/Cargo.toml
  crates/tests/src/client_server/base.rs
  crates/tests/src/host_server/input/bei.rs
  crates/tests/src/host_server/replication.rs
  crates/tests/src/multi_server/steam.rs
  crates/tests/src/stepper.rs
  crates/tests/tests/allocation_regression.rs
  crates/transport/messages/src/plugin.rs
  crates/transport/transport/src/packet/packet_builder.rs
  crates/transport/transport/src/plugin.rs
Due: rustfmt, clippy, docs, taplo

fix(serde): keep no-default-features std-free (#1636)
  Cargo.toml
  crates/transport/serde/Cargo.toml
Due: taplo

fix(serde): make reader slicing fallible
  crates/transport/serde/src/lib.rs
  crates/transport/serde/src/reader.rs
Due: rustfmt, clippy, docs

fix(serde): make reader slicing fallible (#1637)
  crates/transport/serde/src/lib.rs
  crates/transport/serde/src/reader.rs
Due: rustfmt, clippy, docs

refactor(serde): implement bytes Buf for Reader
  crates/transport/serde/src/postcard_utils.rs
  crates/transport/serde/src/reader.rs
Due: rustfmt, clippy, docs

refactor(serde): decode varints without seeking
  crates/transport/serde/src/reader.rs
Due: rustfmt, clippy, docs

refactor(serde): decode varints without seeking (#1640)
  crates/transport/serde/src/reader.rs
Due: rustfmt, clippy, docs

refactor(serde): implement bytes Buf for Reader (#1639)
  crates/transport/serde/src/postcard_utils.rs
  crates/transport/serde/src/reader.rs
Due: rustfmt, clippy, docs

refactor(serde): clarify reader and writer APIs
  crates/connection/connection/src/network_target.rs
  crates/connection/netcode/src/client.rs
  crates/connection/netcode/src/server.rs
  crates/transport/messages/src/multi.rs
  crates/transport/messages/src/registry.rs
  crates/transport/messages/src/send.rs
  crates/transport/messages/src/send_trigger.rs
  crates/transport/serde/src/entity_map.rs
  crates/transport/serde/src/lib.rs
  crates/transport/serde/src/postcard_utils.rs
  crates/transport/serde/src/reader.rs
  crates/transport/serde/src/writer.rs
  crates/transport/transport/src/channel/builder.rs
  crates/transport/transport/src/plugin.rs
Due: rustfmt, clippy, docs

fix(perf): reuse packet bookkeeping allocations
  crates/connection/netcode/src/server.rs
  crates/transport/transport/src/channel/builder.rs
  crates/transport/transport/src/packet/header.rs
  crates/transport/transport/src/plugin.rs
Due: rustfmt, clippy, docs

refactor(serde): clarify reader and writer APIs (#1638)
  crates/connection/connection/src/network_target.rs
  crates/connection/netcode/src/client.rs
  crates/connection/netcode/src/server.rs
  crates/transport/messages/src/multi.rs
  crates/transport/messages/src/registry.rs
  crates/transport/messages/src/send.rs
  crates/transport/messages/src/send_trigger.rs
  crates/transport/serde/src/entity_map.rs
  crates/transport/serde/src/lib.rs
  crates/transport/serde/src/postcard_utils.rs
  crates/transport/serde/src/reader.rs
  crates/transport/serde/src/writer.rs
  crates/transport/transport/src/channel/builder.rs
  crates/transport/transport/src/plugin.rs
Due: rustfmt, clippy, docs

fix(perf): reuse packet bookkeeping allocations (#1642)
  crates/connection/netcode/src/server.rs
  crates/transport/transport/src/channel/builder.rs
  crates/transport/transport/src/packet/header.rs
  crates/transport/transport/src/plugin.rs
Due: rustfmt, clippy, docs

feat(perf): adapt query iteration to entity count
  crates/connection/netcode/src/client_plugin.rs
  crates/connection/netcode/src/server_plugin.rs
  crates/core/sync/src/ping/plugin.rs
  crates/core/utils/src/ecs.rs
  crates/io/link/src/lib.rs
  crates/io/udp/Cargo.toml
  crates/io/udp/src/lib.rs
  crates/replication/prediction/src/rollback.rs
  crates/transport/messages/src/receive.rs
  crates/transport/messages/src/send.rs
  crates/transport/transport/src/plugin.rs
Due: rustfmt, clippy, docs, taplo

feat(perf): adapt query iteration to entity count (#1643)
  crates/connection/netcode/src/client_plugin.rs
  crates/connection/netcode/src/server_plugin.rs
  crates/core/sync/src/ping/plugin.rs
  crates/core/utils/src/ecs.rs
  crates/io/link/src/lib.rs
  crates/io/udp/Cargo.toml
  crates/io/udp/src/lib.rs
  crates/replication/prediction/src/rollback.rs
  crates/transport/messages/src/receive.rs
  crates/transport/messages/src/send.rs
  crates/transport/transport/src/plugin.rs
Due: rustfmt, clippy, docs, taplo

fix(udp): expose OS-assigned server port
  crates/io/udp/src/server.rs
Due: rustfmt, clippy, docs

fix(udp): expose OS-assigned server port (#1644)
  crates/io/udp/src/server.rs
Due: rustfmt, clippy, docs

nit: add default on DisableRollback
  crates/replication/prediction/src/rollback.rs
Due: rustfmt, clippy, docs

nit: add default on DisableRollback (#1646)
  crates/replication/prediction/src/rollback.rs
Due: rustfmt, clippy, docs

test(connection): cover disconnect log spam regressions
  crates/tests/Cargo.toml
  crates/tests/src/client_server/connection.rs
Due: rustfmt, clippy, docs, taplo

test(connection): cover disconnect log spam regressions (#1648)
  crates/tests/Cargo.toml
  crates/tests/src/client_server/connection.rs
Due: rustfmt, clippy, docs, taplo

Path conditions:
  rustfmt: any of: \.rs$
  clippy: any of: \.rs$
  docs: any of: \.rs$
  taplo: any of: \.toml$
