Repository cBournhonesque/lightyear: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, docs, taplo

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        description: Check if all files follow the rustfmt style
        entry: cargo fmt --all -- --check --color always
        types: [rust]
        language: system
        pass_filenames: false

      - id: clippy
        name: clippy
        description: Run clippy linter
        entry: cargo clippy --features=lightyear_core/not_mock --workspace --exclude=compiletime --exclude=avian_3d_character --exclude=launcher --exclude=delta_compression --exclude=distributed_authority --no-deps -- -D warnings -A clippy::needless_lifetimes
        types: [rust]
        language: system
        pass_filenames: false

      - id: docs
        name: docs
        description: Build the documentation to ensure there are no errors
        entry: cargo +nightly doc --all-features --workspace --document-private-items --no-deps --keep-going
        types: [rust]
        language: system
        pass_filenames: false

      - id: taplo
        name: Taplo TOML formatter
        description: Check formatting of all TOML files using Taplo
        entry: taplo fmt --check
        types: [toml]
        language: system
        pass_filenames: false

prepare changelog
  CHANGELOG.md
Due: none

Fix some client feature visibility issues in lightyear_replication (#1499)
  lightyear_replication/src/lib.rs
  lightyear_replication/src/send.rs
Due: rustfmt, clippy, docs

Ensure ProtocolCheckPlugin compares apples to apples (#1500)
  examples/auth/src/main.rs
  lightyear/src/protocol.rs
Due: rustfmt, clippy, docs

nit: use ServerMutateTicks.last_confirmed_tick instead of computing it manually
  Cargo.toml
  lightyear_interpolation/Cargo.toml
  lightyear_interpolation/src/interpolate.rs
  lightyear_prediction/src/checkpoint_ticks.rs
  lightyear_prediction/src/manager.rs
  lightyear_prediction/src/rollback.rs
  lightyear_replication/src/checkpoint.rs
  lightyear_replication/src/client.rs
  lightyear_replication/src/lib.rs
  lightyear_replication/src/receive.rs
  lightyear_tests/src/client_server/prediction/rollback.rs
  lightyear_tests/src/client_server/replication.rs
Due: rustfmt, clippy, docs, taplo

Fix prediction history ordering after future confirmations
  lightyear_prediction/src/predicted_history.rs
Due: rustfmt, clippy, docs

Add regression test for future confirmed prediction history
  lightyear_tests/src/client_server/prediction/history.rs
Due: rustfmt, clippy, docs

feat: handle diff-enabled components in prediction/interpolation
  Cargo.toml
  lightyear_core/src/history_buffer.rs
  lightyear_interpolation/Cargo.toml
  lightyear_interpolation/src/interpolate.rs
  lightyear_interpolation/src/interpolation_history.rs
  lightyear_interpolation/src/plugin.rs
  lightyear_interpolation/src/registry.rs
  lightyear_prediction/Cargo.toml
  lightyear_prediction/src/plugin.rs
  lightyear_prediction/src/predicted_history.rs
  lightyear_prediction/src/registry.rs
  lightyear_prediction/src/rollback.rs
  lightyear_tests/src/client_server/prediction/history.rs
  lightyear_tests/src/client_server/prediction/prespawn.rs
Due: rustfmt, clippy, docs, taplo

Simplify tracking the latest confirmed tick
  lightyear_interpolation/src/interpolate.rs
  lightyear_interpolation/src/registry.rs
  lightyear_prediction/src/checkpoint_ticks.rs
  lightyear_prediction/src/lib.rs
  lightyear_prediction/src/registry.rs
  lightyear_prediction/src/rollback.rs
  lightyear_replication/src/checkpoint.rs
  lightyear_replication/src/client.rs
  lightyear_replication/src/lib.rs
Due: rustfmt, clippy, docs

Simplify tracking the latest confirmed tick (#1506)
  lightyear_interpolation/src/interpolate.rs
  lightyear_interpolation/src/registry.rs
  lightyear_prediction/src/checkpoint_ticks.rs
  lightyear_prediction/src/lib.rs
  lightyear_prediction/src/registry.rs
  lightyear_prediction/src/rollback.rs
  lightyear_replication/src/checkpoint.rs
  lightyear_replication/src/client.rs
  lightyear_replication/src/lib.rs
Due: rustfmt, clippy, docs

feat(prediction): split ConfirmedHistory and PredictionHistory
  demos/spaceships/src/renderer.rs
  demos/spaceships/src/shared.rs
  lightyear_avian/src/correction_2d.rs
  lightyear_avian/src/correction_3d.rs
  lightyear_core/src/confirmed_history.rs
  lightyear_core/src/lib.rs
  lightyear_deterministic_replication/src/archetypes.rs
  lightyear_deterministic_replication/src/late_join.rs
  lightyear_interpolation/src/interpolate.rs
  lightyear_interpolation/src/interpolation_history.rs
  lightyear_interpolation/src/lib.rs
  lightyear_interpolation/src/registry.rs
  lightyear_prediction/Cargo.toml
  lightyear_prediction/src/correction.rs
  lightyear_prediction/src/manager.rs
  lightyear_prediction/src/plugin.rs
  lightyear_prediction/src/predicted_history.rs
  lightyear_prediction/src/registry.rs
  lightyear_prediction/src/rollback.rs
  lightyear_tests/src/client_server/prediction/history.rs
  lightyear_tests/src/client_server/prediction/prespawn.rs
  lightyear_tests/src/client_server/prediction/rollback.rs
Due: rustfmt, clippy, docs, taplo

Split history
  lightyear_prediction/src/correction.rs
  lightyear_prediction/src/predicted_history.rs
  lightyear_prediction/src/registry.rs
Due: rustfmt, clippy, docs

Split confirmed and prediction histories
  Cargo.toml
  lightyear_core/src/confirmed_history.rs
  lightyear_interpolation/src/interpolate.rs
  lightyear_interpolation/src/interpolation_history.rs
  lightyear_interpolation/src/lib.rs
  lightyear_interpolation/src/plugin.rs
  lightyear_interpolation/src/registry.rs
  lightyear_prediction/src/correction.rs
  lightyear_prediction/src/manager.rs
  lightyear_prediction/src/plugin.rs
  lightyear_prediction/src/predicted_history.rs
  lightyear_prediction/src/registry.rs
  lightyear_prediction/src/rollback.rs
  lightyear_replication/src/REPLICON_INTEGRATION.md
  lightyear_replication/src/checkpoint.rs
  lightyear_replication/src/client.rs
  lightyear_replication/src/lib.rs
  lightyear_replication/src/receive.rs
  lightyear_tests/src/client_server/prediction/history.rs
  lightyear_tests/src/client_server/prediction/mod.rs
  lightyear_tests/src/client_server/prediction/prespawn.rs
  lightyear_tests/src/client_server/prediction/rollback.rs
  lightyear_tests/src/client_server/replication.rs
Due: rustfmt, clippy, docs, taplo

Fix split history CI failures
  demos/spaceships/src/renderer.rs
  demos/spaceships/src/shared.rs
  examples/fps/src/shared.rs
  examples/projectiles/src/shared.rs
  examples/replication_groups/src/automation.rs
  examples/replication_groups/src/client.rs
  lightyear_prediction/src/manager.rs
  lightyear_prediction/src/registry.rs
  lightyear_prediction/src/rollback.rs
  lightyear_replication/src/checkpoint.rs
Due: rustfmt, clippy, docs

fix prepare_rollback
  lightyear_prediction/src/registry.rs
  lightyear_prediction/src/rollback.rs
Due: rustfmt, clippy, docs

remove redundant traces
  lightyear_prediction/src/predicted_history.rs
  lightyear_prediction/src/rollback.rs
Due: rustfmt, clippy, docs

ci
  lightyear_prediction/src/registry.rs
Due: rustfmt, clippy, docs

fix test
  lightyear_prediction/src/rollback.rs
Due: rustfmt, clippy, docs

feat(prediction): split ConfirmedHistory and PredictionHistory (#1507)
  Cargo.toml
  demos/spaceships/src/renderer.rs
  demos/spaceships/src/shared.rs
  examples/fps/src/shared.rs
  examples/projectiles/src/shared.rs
  examples/replication_groups/src/automation.rs
  examples/replication_groups/src/client.rs
  lightyear_avian/src/correction_2d.rs
  lightyear_avian/src/correction_3d.rs
  lightyear_core/src/confirmed_history.rs
  lightyear_core/src/lib.rs
  lightyear_deterministic_replication/src/archetypes.rs
  lightyear_deterministic_replication/src/late_join.rs
  lightyear_interpolation/src/interpolate.rs
  lightyear_interpolation/src/interpolation_history.rs
  lightyear_interpolation/src/lib.rs
  lightyear_interpolation/src/plugin.rs
  lightyear_interpolation/src/registry.rs
  lightyear_prediction/Cargo.toml
  lightyear_prediction/src/correction.rs
  lightyear_prediction/src/manager.rs
  lightyear_prediction/src/plugin.rs
  lightyear_prediction/src/predicted_history.rs
  lightyear_prediction/src/registry.rs
  lightyear_prediction/src/rollback.rs
  lightyear_replication/src/REPLICON_INTEGRATION.md
  lightyear_replication/src/checkpoint.rs
  lightyear_replication/src/client.rs
  lightyear_replication/src/lib.rs
  lightyear_replication/src/receive.rs
  lightyear_tests/src/client_server/prediction/history.rs
  lightyear_tests/src/client_server/prediction/mod.rs
  lightyear_tests/src/client_server/prediction/prespawn.rs
  lightyear_tests/src/client_server/prediction/rollback.rs
  lightyear_tests/src/client_server/replication.rs
Due: rustfmt, clippy, docs, taplo

Handle diff-enabled components for prediction/interpolation
  Cargo.toml
  lightyear_interpolation/Cargo.toml
  lightyear_interpolation/src/interpolate.rs
  lightyear_interpolation/src/plugin.rs
  lightyear_interpolation/src/registry.rs
  lightyear_prediction/Cargo.toml
  lightyear_prediction/src/plugin.rs
  lightyear_prediction/src/predicted_history.rs
  lightyear_prediction/src/registry.rs
  lightyear_replication/src/diff_history.rs
  lightyear_replication/src/lib.rs
  lightyear_replication/src/registry/replication.rs
  lightyear_tests/src/client_server/diff.rs
  lightyear_tests/src/client_server/mod.rs
  lightyear_tests/src/protocol.rs
Due: rustfmt, clippy, docs, taplo

add unchanged interpolation values to history
  lightyear_core/src/confirmed_history.rs
  lightyear_interpolation/src/interpolate.rs
  lightyear_prediction/src/predicted_history.rs
  lightyear_replication/src/diff_history.rs
Due: rustfmt, clippy, docs

Keep unchanged interpolation history anchors
  lightyear_core/src/confirmed_history.rs
  lightyear_interpolation/src/interpolate.rs
Due: rustfmt, clippy, docs

Keep unchanged interpolation history anchors (#1508)
  lightyear_core/src/confirmed_history.rs
  lightyear_interpolation/src/interpolate.rs
Due: rustfmt, clippy, docs

fix unchanged path for diff components
  lightyear_interpolation/src/interpolate.rs
  lightyear_replication/src/diff_history.rs
Due: rustfmt, clippy, docs

fix interpolation cleanup
  lightyear_replication/src/diff_history.rs
Due: rustfmt, clippy, docs

ahoy integration
  Cargo.toml
  FPS_DEMO_PLAN.md
  crates/core/lightyear/Cargo.toml
  crates/core/lightyear/src/lib.rs
  crates/integration/ahoy/CHANGELOG.md
  crates/integration/ahoy/Cargo.toml
  crates/integration/ahoy/src/bei.rs
  crates/integration/ahoy/src/lib.rs
  crates/integration/ahoy/src/native.rs
  crates/integration/ahoy/src/plugin.rs
  crates/integration/ahoy/src/stepper.rs
  demos/fps/Cargo.toml
  demos/fps/src/client.rs
  demos/fps/src/main.rs
  demos/fps/src/protocol.rs
  demos/fps/src/renderer.rs
  demos/fps/src/server.rs
  demos/fps/src/shared.rs
Due: rustfmt, clippy, docs, taplo

simplify late catchup
  crates/core/lightyear/Cargo.toml
  crates/deterministic/deterministic_replication/Cargo.toml
  crates/deterministic/deterministic_replication/src/checksum.rs
  crates/deterministic/deterministic_replication/src/late_join.rs
  crates/deterministic/deterministic_replication/src/late_join/client.rs
  crates/deterministic/deterministic_replication/src/late_join/mod.rs
  crates/deterministic/deterministic_replication/src/late_join/server.rs
  crates/deterministic/deterministic_replication/src/late_join/shared.rs
  crates/deterministic/deterministic_replication/src/lib.rs
  crates/inputs/input_bei/src/lib.rs
  crates/inputs/inputs_leafwing/src/lib.rs
  crates/inputs/inputs_native/src/lib.rs
  crates/replication/prediction/src/registry.rs
  crates/replication/prediction/src/rollback.rs
  crates/tests/src/client_server/deterministic/input_only.rs
  crates/tests/src/client_server/deterministic/protocol.rs
  crates/tests/src/client_server/deterministic/state_based_catchup.rs
  examples/deterministic_replication/src/client.rs
  examples/deterministic_replication/src/protocol.rs
  examples/deterministic_replication/src/server.rs
Due: rustfmt, clippy, docs, taplo

fix(prediction): only remove component if explicit ConfirmedHistory::Removed information
  crates/replication/prediction/src/rollback.rs
  crates/tests/src/client_server/prediction/rollback.rs
Due: rustfmt, clippy, docs

make sure that replicon exists
  crates/deterministic/deterministic_replication/Cargo.toml
  crates/deterministic/deterministic_replication/src/late_join/client.rs
  crates/deterministic/deterministic_replication/src/late_join/mod.rs
  crates/deterministic/deterministic_replication/src/late_join/server.rs
  crates/deterministic/deterministic_replication/src/late_join/shared.rs
Due: rustfmt, clippy, docs, taplo

Replace ConfirmedState/PredictedState with HistoryState
  crates/core/core/src/confirmed_history.rs
  crates/core/core/src/history_buffer.rs
  crates/core/core/src/lib.rs
  crates/replication/interpolation/src/interpolate.rs
  crates/replication/interpolation/src/registry.rs
  crates/replication/prediction/src/predicted_history.rs
  crates/replication/prediction/src/registry.rs
  crates/replication/prediction/src/rollback.rs
  crates/tests/src/client_server/prediction/history.rs
  crates/tests/src/client_server/prediction/prespawn.rs
  crates/tests/src/client_server/prediction/rollback.rs
Due: rustfmt, clippy, docs

fix(prediction): only remove component on explicit ConfirmedState::Removed (#1512)
  crates/replication/prediction/src/rollback.rs
  crates/tests/src/client_server/prediction/rollback.rs
Due: rustfmt, clippy, docs

feat: compute rtt estimate on every packet
  crates/core/sync/src/ping/diagnostics.rs
  crates/core/sync/src/ping/manager.rs
  crates/core/sync/src/ping/plugin.rs
  crates/core/sync/src/timeline/input.rs
  crates/core/sync/src/timeline/remote.rs
  crates/replication/interpolation/src/timeline.rs
  crates/tests/src/timeline/sync_tests.rs
  crates/transport/transport/src/packet/header.rs
  crates/transport/transport/src/plugin.rs
Due: rustfmt, clippy, docs

feat: compute rtt estimate on every packet (#1513)
  crates/core/sync/src/ping/diagnostics.rs
  crates/core/sync/src/ping/manager.rs
  crates/core/sync/src/ping/plugin.rs
  crates/core/sync/src/timeline/input.rs
  crates/core/sync/src/timeline/remote.rs
  crates/replication/interpolation/src/timeline.rs
  crates/replication/prediction/src/rollback.rs
  crates/tests/src/timeline/sync_tests.rs
  crates/transport/transport/src/packet/header.rs
  crates/transport/transport/src/plugin.rs
Due: rustfmt, clippy, docs

working
  crates/deterministic/deterministic_replication/src/late_join/client.rs
  crates/deterministic/deterministic_replication/src/late_join/mod.rs
  crates/deterministic/deterministic_replication/src/late_join/server.rs
  crates/deterministic/deterministic_replication/src/late_join/shared.rs
  crates/tests/src/client_server/deterministic/state_based_catchup.rs
  examples/deterministic_replication/src/server.rs
Due: rustfmt, clippy, docs

simplify
  crates/core/lightyear/Cargo.toml
  crates/deterministic/deterministic_replication/Cargo.toml
  crates/deterministic/deterministic_replication/src/checksum.rs
  crates/deterministic/deterministic_replication/src/late_join/client.rs
  crates/deterministic/deterministic_replication/src/late_join/mod.rs
  crates/deterministic/deterministic_replication/src/late_join/server.rs
  crates/deterministic/deterministic_replication/src/late_join/shared.rs
  crates/deterministic/deterministic_replication/src/lib.rs
  crates/inputs/inputs/src/client.rs
  crates/replication/prediction/src/lib.rs
  crates/replication/prediction/src/manager.rs
  crates/replication/prediction/src/registry.rs
  crates/replication/prediction/src/rollback.rs
  crates/tests/src/client_server/deterministic/mod.rs
  crates/tests/src/client_server/deterministic/protocol.rs
  crates/tests/src/client_server/deterministic/state_based_catchup.rs
  crates/tests/src/client_server/deterministic/stepper.rs
  examples/deterministic_replication/src/automation.rs
  examples/deterministic_replication/src/client.rs
  examples/deterministic_replication/src/server.rs
  examples/deterministic_replication/src/shared.rs
Due: rustfmt, clippy, docs, taplo

fix issues
  crates/deterministic/deterministic_replication/src/late_join/client.rs
  crates/deterministic/deterministic_replication/src/late_join/mod.rs
  crates/inputs/inputs/src/client.rs
  crates/replication/prediction/src/manager.rs
  crates/tests/src/client_server/deterministic/state_based_catchup.rs
  crates/tests/src/client_server/deterministic/stepper.rs
Due: rustfmt, clippy, docs

fix ci
  crates/deterministic/deterministic_replication/src/checksum.rs
  crates/deterministic/deterministic_replication/src/late_join/client.rs
  crates/deterministic/deterministic_replication/src/late_join/mod.rs
  crates/deterministic/deterministic_replication/src/late_join/server.rs
  crates/deterministic/deterministic_replication/src/late_join/shared.rs
  crates/deterministic/deterministic_replication/src/lib.rs
  crates/inputs/inputs/src/client.rs
  crates/replication/prediction/src/manager.rs
  crates/replication/prediction/src/registry.rs
  crates/replication/prediction/src/rollback.rs
  crates/tests/src/client_server/deterministic/mod.rs
  crates/tests/src/client_server/deterministic/protocol.rs
  crates/tests/src/client_server/deterministic/state_based_catchup.rs
  crates/tests/src/client_server/deterministic/stepper.rs
  examples/deterministic_replication/src/automation.rs
  examples/deterministic_replication/src/protocol.rs
  examples/deterministic_replication/src/shared.rs
Due: rustfmt, clippy, docs

fixes
  crates/deterministic/deterministic_replication/src/late_join/client.rs
  crates/deterministic/deterministic_replication/src/late_join/mod.rs
  crates/deterministic/deterministic_replication/src/late_join/server.rs
  crates/deterministic/deterministic_replication/src/late_join/shared.rs
  examples/deterministic_replication/src/shared.rs
Due: rustfmt, clippy, docs

fix ci
  crates/replication/prediction/src/rollback.rs
Due: rustfmt, clippy, docs
