Repository cBournhonesque/lightyear: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, docs, taplo

rustfmt:
  name: rustfmt
  description: Check if all files follow the rustfmt style
  entry: cargo fmt --all -- --check --color always
  language: system
  pass_filenames: false

clippy:
  name: clippy
  description: Run clippy linter
  entry: cargo clippy --features=lightyear_core/not_mock --workspace --exclude=compiletime --exclude=avian_3d_character --exclude=launcher --exclude=delta_compression --exclude=distributed_authority --no-deps -- -D warnings -A clippy::needless_lifetimes
  ...

docs:
  name: docs
  description: Build the documentation to ensure there are no errors
  entry: cargo +nightly doc --all-features --workspace --document-private-items --no-deps --keep-going
  language: system
  pass_filenames: false

taplo:
  name: Taplo TOML formatter
  description: Check formatting of all TOML files using Taplo
  entry: taplo fmt --check
  language: system
  pass_filenames: false

chore: trim obvious shared-access comments
  crates/replication/replication/src/client.rs
  crates/replication/replication/src/server.rs
  crates/transport/transport/src/channel/builder.rs
Due: rustfmt, clippy, docs

feat(messages): allow parallel message sends via shared borrows (#1735)
  crates/replication/replication/src/client.rs
  crates/replication/replication/src/server.rs
  crates/transport/messages/src/multi.rs
  crates/transport/messages/src/receive.rs
  crates/transport/messages/src/receive_event.rs
  crates/transport/messages/src/registry.rs
  crates/transport/messages/src/send.rs
  crates/transport/messages/src/send_trigger.rs
  crates/transport/messages/src/trigger.rs
  crates/transport/serde/src/entity_map.rs
  crates/transport/serde/src/lib.rs
  crates/transport/serde/src/registry.rs
  crates/transport/transport/src/channel/builder.rs
Due: rustfmt, clippy, docs

feat(replicate): simplify ReplicationTarget implementation (#1734)
  book/src/concepts/advanced_replication/interest_management.md
  crates/core/core/src/id.rs
  crates/replication/replication/src/control.rs
  crates/replication/replication/src/send.rs
  crates/replication/replication/src/server.rs
  crates/tests/src/client_server/replication.rs
Due: rustfmt, clippy, docs

feat(messages): resolve entity mappings through replicon's shared map
  crates/replication/replication/Cargo.toml
  crates/replication/replication/src/client.rs
  crates/tests/src/client_server/avian/compound_replication.rs
  crates/tests/src/client_server/avian/position_replication.rs
  crates/tests/src/client_server/avian/transform_replication.rs
  crates/tests/src/client_server/base.rs
  crates/tests/src/client_server/deterministic/input_only.rs
  crates/tests/src/client_server/deterministic/state_based_catchup.rs
  crates/tests/src/client_server/diff.rs
  crates/tests/src/client_server/hierarchy.rs
  crates/tests/src/client_server/input/bei.rs
  crates/tests/src/client_server/input/leafwing.rs
  crates/tests/src/client_server/input/native.rs
  crates/tests/src/client_server/messages.rs
  crates/tests/src/client_server/prediction/despawn.rs
  crates/tests/src/client_server/prediction/history.rs
  crates/tests/src/client_server/prediction/prespawn.rs
  crates/tests/src/client_server/prediction/rollback.rs
  crates/tests/src/client_server/prediction/spawn.rs
  crates/tests/src/client_server/replication.rs
  crates/tests/src/client_server/visibility.rs
  crates/tests/src/host_server/input/bei.rs
  crates/tests/src/host_server/input/leafwing.rs
  crates/tests/src/host_server/input/native.rs
  crates/tests/src/host_server/replication.rs
  crates/tests/src/multi_server/steam.rs
  crates/transport/messages/Cargo.toml
  crates/transport/messages/src/lib.rs
  crates/transport/messages/src/multi.rs
  crates/transport/messages/src/plugin.rs
  crates/transport/messages/src/receive.rs
  crates/transport/messages/src/receive_event.rs
  crates/transport/messages/src/registry.rs
  crates/transport/messages/src/replicon_map.rs
  crates/transport/messages/src/send.rs
  crates/transport/messages/src/send_trigger.rs
  crates/transport/messages/src/trigger.rs
  crates/transport/serde/src/entity_map.rs
  crates/transport/serde/src/registry.rs
Due: rustfmt, clippy, docs, taplo

feat(messages): avoid copying replicon's ServerEntityMap
  crates/replication/replication/src/client.rs
  crates/transport/messages/src/lib.rs
  crates/transport/messages/src/multi.rs
  crates/transport/messages/src/receive.rs
  crates/transport/messages/src/registry.rs
  crates/transport/messages/src/replicon_map.rs
  crates/transport/messages/src/send.rs
  crates/transport/serde/src/entity_map.rs
Due: rustfmt, clippy, docs

test fix
  crates/tests/src/client_server/replication.rs
  crates/transport/messages/src/plugin.rs
Due: rustfmt, clippy, docs

test
  crates/tests/tests/allocation_profile.rs
  crates/tests/tests/allocation_regression.rs
Due: rustfmt, clippy, docs

docs(inputs): E0 tick-pipeline skeleton in book
  book/src/concepts/advanced_replication/inputs.md
Due: none

docs(inputs): E1 stale prose fixes and scheduling tables
  book/src/concepts/advanced_replication/inputs.md
  crates/inputs/inputs/src/client.rs
  crates/inputs/inputs/src/lib.rs
  crates/inputs/inputs/src/server.rs
  crates/inputs/inputs_leafwing/src/plugin.rs
Due: rustfmt, clippy, docs

refactor(inputs)!: fixed-ring InputBuffer capped at 64 ticks
  crates/inputs/inputs/src/input_buffer.rs
  crates/inputs/inputs/src/server.rs
  crates/inputs/inputs_native/src/input_message.rs
  crates/tests/src/host_server/input/bei.rs
Due: rustfmt, clippy, docs

refactor(inputs): shared range and prespawn helpers, backend roundtrips
  crates/inputs/input_bei/src/input_message.rs
  crates/inputs/inputs/src/client.rs
  crates/inputs/inputs/src/input_message.rs
  crates/inputs/inputs/src/server.rs
  crates/inputs/inputs_leafwing/src/input_message.rs
  crates/inputs/inputs_native/src/input_message.rs
Due: rustfmt, clippy, docs

docs(inputs): E6 book final pass
  book/src/concepts/advanced_replication/inputs.md
Due: none

refactor(inputs): topology handling to the edges
  crates/inputs/inputs/src/client.rs
Due: rustfmt, clippy, docs

refactor(inputs): InputConfig builder, precise field docs, drop dead code
  crates/inputs/inputs/src/client.rs
  crates/inputs/inputs/src/config.rs
Due: rustfmt, clippy, docs

refactor(inputs): E7 materialized Option ring, pure predict, no stored predictions
  crates/inputs/input_bei/src/input_message.rs
  crates/inputs/inputs/src/client.rs
  crates/inputs/inputs/src/input_buffer.rs
  crates/inputs/inputs/src/server.rs
  crates/inputs/inputs_leafwing/src/input_message.rs
  crates/inputs/inputs_native/src/input_message.rs
  crates/tests/src/host_server/input/bei.rs
Due: rustfmt, clippy, docs

refactor(inputs): E8 shared resolve policy, simpler apply paths
  crates/inputs/inputs/src/client.rs
  crates/inputs/inputs/src/input_buffer.rs
  crates/inputs/inputs/src/server.rs
Due: rustfmt, clippy, docs

refactor(inputs): E9 usize window bounds, LastConfirmedInput fold
  crates/inputs/inputs/src/client.rs
  crates/inputs/inputs/src/server.rs
  crates/tests/src/client_server/input/leafwing.rs
Due: rustfmt, clippy, docs

refactor(inputs): E10 DoS test pins drop, TODO sweep
  crates/inputs/inputs/src/client.rs
  crates/inputs/inputs/src/input_buffer.rs
  crates/inputs/inputs/src/input_message.rs
  crates/inputs/inputs/src/server.rs
  crates/inputs/inputs_leafwing/src/input_message.rs
  crates/inputs/inputs_native/src/input_message.rs
  crates/inputs/inputs_native/src/plugin.rs
  crates/tests/src/client_server/input/leafwing.rs
Due: rustfmt, clippy, docs

E11: frontier max-keep, shared send window, single input config
  crates/inputs/input_bei/src/input_message.rs
  crates/inputs/input_bei/src/setup.rs
  crates/inputs/inputs/src/client.rs
  crates/inputs/inputs/src/config.rs
  crates/inputs/inputs/src/input_message.rs
  crates/inputs/inputs/src/lib.rs
  crates/inputs/inputs/src/server.rs
  crates/inputs/inputs_leafwing/src/input_message.rs
  crates/inputs/inputs_native/src/input_message.rs
Due: rustfmt, clippy, docs

E12: SameAsPrecedent lives only in the message layer
  crates/inputs/input_bei/src/input_message.rs
  crates/inputs/inputs/src/input_buffer.rs
  crates/inputs/inputs/src/input_message.rs
  crates/inputs/inputs/src/server.rs
  crates/inputs/inputs_leafwing/src/input_message.rs
  crates/inputs/inputs_native/src/action_state.rs
  crates/inputs/inputs_native/src/input_message.rs
  crates/tests/src/host_server/input/bei.rs
Due: rustfmt, clippy, docs

feat(inputs): simplify input handling
  book/src/concepts/advanced_replication/inputs.md
  crates/inputs/input_bei/src/input_message.rs
  crates/inputs/inputs/src/client.rs
  crates/inputs/inputs/src/config.rs
  crates/inputs/inputs/src/input_buffer.rs
  crates/inputs/inputs/src/input_message.rs
  crates/inputs/inputs/src/lib.rs
  crates/inputs/inputs/src/server.rs
  crates/inputs/inputs_leafwing/src/input_message.rs
  crates/inputs/inputs_leafwing/src/plugin.rs
  crates/inputs/inputs_native/src/input_message.rs
  crates/inputs/inputs_native/src/plugin.rs
Due: rustfmt, clippy, docs

fix(book): drop unsupported multilingual key so mdbook 0.5 builds
  book/book.toml
Due: taplo

fix(ci): trailing newline for fmt; projectiles uses unified InputConfig
  crates/inputs/inputs/src/config.rs
  demos/projectiles/src/server.rs
Due: rustfmt, clippy, docs

feat(inputs): simplify input handling (#1738)
  crates/inputs/input_bei/src/input_message.rs
  crates/inputs/input_bei/src/setup.rs
  crates/inputs/inputs/src/client.rs
  crates/inputs/inputs/src/config.rs
  crates/inputs/inputs/src/input_buffer.rs
  crates/inputs/inputs/src/input_message.rs
  crates/inputs/inputs/src/lib.rs
  crates/inputs/inputs/src/server.rs
  crates/inputs/inputs_leafwing/src/input_message.rs
  crates/inputs/inputs_native/src/action_state.rs
  crates/inputs/inputs_native/src/input_message.rs
  crates/inputs/inputs_native/src/plugin.rs
  crates/tests/src/client_server/input/leafwing.rs
  crates/tests/src/host_server/input/bei.rs
  demos/projectiles/src/server.rs
Due: rustfmt, clippy, docs

chore(examples): simplify simple_setup example
  crates/connection/connection/src/client.rs
  examples/README.md
  examples/simple_setup/Cargo.toml
  examples/simple_setup/README.md
  examples/simple_setup/src/automation.rs
  examples/simple_setup/src/client.rs
  examples/simple_setup/src/main.rs
  examples/simple_setup/src/server.rs
  examples/simple_setup/src/shared.rs
Due: rustfmt, clippy, docs, taplo

chore(examples): simplify simple_setup example (#1739)
  crates/connection/connection/src/client.rs
  examples/README.md
  examples/simple_setup/Cargo.toml
  examples/simple_setup/README.md
  examples/simple_setup/src/automation.rs
  examples/simple_setup/src/client.rs
  examples/simple_setup/src/main.rs
  examples/simple_setup/src/server.rs
  examples/simple_setup/src/shared.rs
Due: rustfmt, clippy, docs, taplo

feat: enable timeline switching
  crates/integration/avian/src/plugin.rs
  crates/replication/interpolation/src/registry.rs
  crates/replication/prediction/src/archetypes.rs
  crates/replication/prediction/src/correction.rs
  crates/replication/prediction/src/lib.rs
  crates/replication/prediction/src/plugin.rs
  crates/replication/prediction/src/registry.rs
  crates/replication/prediction/src/rollback.rs
  crates/replication/prediction/src/switch.rs
  crates/tests/src/client_server/prediction/correction.rs
  examples/README.md
  examples/timeline_switch/Cargo.toml
  examples/timeline_switch/README.md
  examples/timeline_switch/index.html
  examples/timeline_switch/src/automation.rs
  examples/timeline_switch/src/client.rs
  examples/timeline_switch/src/debug.rs
  examples/timeline_switch/src/main.rs
  examples/timeline_switch/src/protocol.rs
  examples/timeline_switch/src/renderer.rs
  examples/timeline_switch/src/server.rs
  examples/timeline_switch/src/shared.rs
Due: rustfmt, clippy, docs, taplo

simplify
  crates/replication/prediction/src/correction.rs
  crates/replication/prediction/src/switch.rs
  examples/timeline_switch/README.md
  examples/timeline_switch/src/client.rs
  examples/timeline_switch/src/renderer.rs
  examples/timeline_switch/src/server.rs
  examples/timeline_switch/src/shared.rs
Due: rustfmt, clippy, docs

remove comments
  crates/replication/prediction/src/correction.rs
  crates/replication/prediction/src/switch.rs
  examples/timeline_switch/src/client.rs
  examples/timeline_switch/src/protocol.rs
  examples/timeline_switch/src/renderer.rs
  examples/timeline_switch/src/server.rs
  examples/timeline_switch/src/shared.rs
Due: rustfmt, clippy, docs

fix(tests): drop the byte ceiling from the allocation guard
  crates/replication/prediction/src/switch.rs
  crates/tests/tests/allocation_regression.rs
  examples/timeline_switch/src/renderer.rs
  examples/timeline_switch/src/server.rs
Due: rustfmt, clippy, docs

test(allocation): compare per-frame medians, not window totals
  crates/tests/tests/allocation_regression.rs
Due: rustfmt, clippy, docs

remove unused test
  crates/integration/avian/src/plugin.rs
Due: rustfmt, clippy, docs

feat: enable timeline switching (#1740)
  crates/integration/avian/src/plugin.rs
  crates/replication/interpolation/src/registry.rs
  crates/replication/prediction/src/archetypes.rs
  crates/replication/prediction/src/correction.rs
  crates/replication/prediction/src/lib.rs
  crates/replication/prediction/src/plugin.rs
  crates/replication/prediction/src/registry.rs
  crates/replication/prediction/src/rollback.rs
  crates/replication/prediction/src/switch.rs
  crates/tests/src/client_server/prediction/correction.rs
  crates/tests/tests/allocation_regression.rs
  examples/README.md
  examples/timeline_switch/Cargo.toml
  examples/timeline_switch/README.md
  examples/timeline_switch/index.html
  examples/timeline_switch/src/automation.rs
  examples/timeline_switch/src/client.rs
  examples/timeline_switch/src/debug.rs
  examples/timeline_switch/src/main.rs
  examples/timeline_switch/src/protocol.rs
  examples/timeline_switch/src/renderer.rs
  examples/timeline_switch/src/server.rs
  examples/timeline_switch/src/shared.rs
Due: rustfmt, clippy, docs, taplo

exclude simple_setup from web build
  examples/simple_setup/Cargo.toml
Due: taplo

refactor(io): separate endpoints from the server role
  crates/connection/connection/src/host.rs
  crates/connection/connection/src/network_topology.rs
  crates/connection/netcode/src/server_plugin.rs
  crates/connection/raw_connection/src/server.rs
  crates/connection/steam/src/endpoint.rs
  crates/connection/steam/src/lib.rs
  crates/core/lightyear/src/lib.rs
  crates/core/lightyear/src/server.rs
  crates/deterministic/deterministic_replication/src/checksum.rs
  crates/deterministic/deterministic_replication/src/late_join/server.rs
  crates/inputs/inputs/src/server.rs
  crates/io/aeronet/src/endpoint.rs
  crates/io/aeronet/src/lib.rs
  crates/io/crossbeam/src/lib.rs
  crates/io/link/src/endpoint.rs
  crates/io/link/src/lib.rs
  crates/io/link/src/server.rs
  crates/io/udp/src/endpoint.rs
  crates/io/udp/src/lib.rs
  crates/io/udp/src/server.rs
  crates/io/websocket/src/endpoint.rs
  crates/io/websocket/src/lib.rs
  crates/io/webtransport/src/endpoint.rs
  crates/io/webtransport/src/lib.rs
  crates/tests/src/client_server/base.rs
  crates/tests/src/client_server/deterministic/stepper.rs
  crates/tests/src/client_server/messages.rs
  crates/tests/src/host_server/messages.rs
  crates/tests/src/multi_server/steam.rs
  crates/tests/src/stepper.rs
  crates/tests/tests/allocation_regression.rs
  crates/transport/messages/src/server.rs
  demos/projectiles/src/bot.rs
  examples/common/src/cli.rs
  examples/common/src/server.rs
  examples/lobby/src/client.rs
  examples/lobby/src/server.rs
  examples/simple_box/src/server.rs
Due: rustfmt, clippy, docs

docs: explain endpoint and server role migration
  book/src/concepts/bevy_integration/server.md
  book/src/concepts/connection/title.md
  book/src/concepts/transport/title.md
  crates/connection/steam/src/endpoint.rs
Due: rustfmt, clippy, docs

fix(tests): resolve endpoint import before lobby changes
  crates/tests/src/client_server/base.rs
Due: rustfmt, clippy, docs

fix(endpoint): install UDP lifecycle and enable P2P listeners
  book/src/concepts/transport/title.md
  crates/connection/steam/Cargo.toml
  crates/connection/steam/src/lib.rs
  crates/core/lightyear/CHANGELOG.md
  crates/core/lightyear/Cargo.toml
  crates/io/udp/Cargo.toml
  crates/io/udp/src/endpoint.rs
  crates/io/udp/src/lib.rs
  crates/io/websocket/Cargo.toml
  crates/io/websocket/src/lib.rs
  crates/io/webtransport/Cargo.toml
  crates/io/webtransport/src/lib.rs
Due: rustfmt, clippy, docs, taplo

fix: satisfy endpoint formatting and clippy checks
  book/src/tutorial/build_client_server.md
  crates/connection/connection/src/host.rs
  crates/deterministic/deterministic_replication/src/late_join/server.rs
  crates/io/link/src/lib.rs
  crates/tests/src/stepper.rs
  examples/common/src/server.rs
  examples/lobby/src/client.rs
  examples/simple_setup/src/server.rs
Due: rustfmt, clippy, docs

Path conditions:
  rustfmt: any of: \.rs$
  clippy: any of: \.rs$
  docs: any of: \.rs$
  taplo: any of: \.toml$
