Repository cBournhonesque/lightyear: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, docs, taplo

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        description: Check if all files follow the rustfmt style
        entry: cargo fmt --all -- --check --color always
        types: [rust]
        language: system
        pass_filenames: false

      - id: clippy
        name: clippy
        description: Run clippy linter
        entry: cargo clippy --features=lightyear_core/not_mock --workspace --exclude=compiletime --exclude=avian_3d_character --exclude=launcher --exclude=delta_compression --exclude=distributed_authority --no-deps -- -D warnings -A clippy::needless_lifetimes
        types: [rust]
        language: system
        pass_filenames: false

      - id: docs
        name: docs
        description: Build the documentation to ensure there are no errors
        entry: cargo +nightly doc --all-features --workspace --document-private-items --no-deps --keep-going
        types: [rust]
        language: system
        pass_filenames: false

      - id: taplo
        name: Taplo TOML formatter
        description: Check formatting of all TOML files using Taplo
        entry: taplo fmt --check
        types: [toml]
        language: system
        pass_filenames: false

ci: run rustdoc with pinned nightly
  .github/workflows/main.yaml
Due: none

Revert "ci: pin rustdoc to compatible nightly"
  .github/workflows/main.yaml
Due: none

Revert "ci: run rustdoc with pinned nightly"
  .github/workflows/main.yaml
Due: none

test(prediction): move integration cases to lightyear tests (#1712)
  crates/replication/prediction/Cargo.toml
  crates/replication/prediction/src/correction.rs
  crates/replication/prediction/src/manager.rs
  crates/replication/prediction/src/registry.rs
  crates/tests/Cargo.toml
  crates/tests/src/client_server/prediction/correction.rs
  crates/tests/src/client_server/prediction/rollback.rs
  crates/tests/src/protocol.rs
Due: rustfmt, clippy, docs, taplo

refactor(interpolation): improve bundle rule resolution
  crates/core/core/src/confirmed_history.rs
  crates/core/frame_interpolation/src/archetypes.rs
  crates/core/frame_interpolation/src/lib.rs
  crates/integration/avian/src/plugin.rs
  crates/integration/avian/src/types_2d.rs
  crates/integration/avian/src/types_3d.rs
  crates/replication/interpolation/Cargo.toml
  crates/replication/interpolation/src/archetypes.rs
  crates/replication/interpolation/src/interpolate.rs
  crates/replication/interpolation/src/lib.rs
  crates/replication/interpolation/src/plugin.rs
  crates/replication/interpolation/src/registry.rs
  crates/replication/interpolation/src/rules.rs
  crates/replication/interpolation/src/rules/bundle.rs
  crates/replication/interpolation/src/rules/frame_interpolate.rs
  crates/replication/prediction/src/correction.rs
  crates/replication/prediction/src/registry.rs
  crates/replication/replication/src/registry/deterministic.rs
  crates/replication/replication/src/registry/mod.rs
  crates/replication/replication/src/registry/replication.rs
Due: rustfmt, clippy, docs, taplo

test(interpolation): wait for history initialization
  crates/tests/src/client_server/replication.rs
Due: rustfmt, clippy, docs

refactor(interpolation): improve bundle rule resolution (#1713)
  crates/core/core/src/confirmed_history.rs
  crates/core/frame_interpolation/src/archetypes.rs
  crates/core/frame_interpolation/src/lib.rs
  crates/integration/avian/src/plugin.rs
  crates/integration/avian/src/types_2d.rs
  crates/integration/avian/src/types_3d.rs
  crates/replication/interpolation/Cargo.toml
  crates/replication/interpolation/src/archetypes.rs
  crates/replication/interpolation/src/interpolate.rs
  crates/replication/interpolation/src/lib.rs
  crates/replication/interpolation/src/plugin.rs
  crates/replication/interpolation/src/registry.rs
  crates/replication/interpolation/src/rules.rs
  crates/replication/interpolation/src/rules/bundle.rs
  crates/replication/interpolation/src/rules/frame_interpolate.rs
  crates/replication/prediction/src/correction.rs
  crates/replication/prediction/src/registry.rs
  crates/replication/replication/src/registry/deterministic.rs
  crates/replication/replication/src/registry/mod.rs
  crates/replication/replication/src/registry/replication.rs
  crates/tests/src/client_server/replication.rs
Due: rustfmt, clippy, docs, taplo

perf: fix interpolatio archetype key computation
  crates/core/frame_interpolation/src/archetypes.rs
  crates/replication/interpolation/src/archetypes.rs
  crates/replication/interpolation/src/registry.rs
  crates/replication/prediction/src/correction.rs
Due: rustfmt, clippy, docs

perf: fix interpolatio archetype key computation (#1714)
  crates/core/frame_interpolation/src/archetypes.rs
  crates/replication/interpolation/src/archetypes.rs
  crates/replication/interpolation/src/registry.rs
  crates/replication/prediction/src/correction.rs
Due: rustfmt, clippy, docs

Simplify rollback checking
  crates/deterministic/deterministic_replication/src/late_join/client.rs
  crates/replication/interpolation/src/interpolate.rs
  crates/replication/prediction/src/manager.rs
  crates/replication/prediction/src/predicted_history.rs
  crates/replication/prediction/src/registry.rs
  crates/replication/prediction/src/rollback.rs
  crates/replication/replication/src/checkpoint.rs
  crates/replication/replication/src/client.rs
  crates/replication/replication/src/diff_history.rs
  crates/tests/src/client_server/prediction/history.rs
  crates/tests/src/client_server/prediction/mod.rs
  crates/tests/src/client_server/prediction/rollback.rs
  crates/tests/src/client_server/prediction/spawn.rs
Due: rustfmt, clippy, docs

Simplify rollback checking (#1717)
  crates/deterministic/deterministic_replication/src/late_join/client.rs
  crates/replication/interpolation/src/interpolate.rs
  crates/replication/prediction/src/manager.rs
  crates/replication/prediction/src/predicted_history.rs
  crates/replication/prediction/src/registry.rs
  crates/replication/prediction/src/rollback.rs
  crates/replication/replication/src/checkpoint.rs
  crates/replication/replication/src/client.rs
  crates/replication/replication/src/diff_history.rs
  crates/tests/src/client_server/prediction/history.rs
  crates/tests/src/client_server/prediction/mod.rs
  crates/tests/src/client_server/prediction/rollback.rs
  crates/tests/src/client_server/prediction/spawn.rs
Due: rustfmt, clippy, docs

feat(prediction): type-erase prediction systems
  crates/deterministic/deterministic_replication/src/archetypes.rs
  crates/replication/prediction/src/archetypes.rs
  crates/replication/prediction/src/correction.rs
  crates/replication/prediction/src/lib.rs
  crates/replication/prediction/src/plugin.rs
  crates/replication/prediction/src/predicted_history.rs
  crates/replication/prediction/src/registry.rs
  crates/replication/prediction/src/rollback.rs
Due: rustfmt, clippy, docs

feat(prediction): type-erase prediction systems (#1718)
  crates/deterministic/deterministic_replication/src/archetypes.rs
  crates/replication/prediction/src/archetypes.rs
  crates/replication/prediction/src/correction.rs
  crates/replication/prediction/src/lib.rs
  crates/replication/prediction/src/plugin.rs
  crates/replication/prediction/src/predicted_history.rs
  crates/replication/prediction/src/registry.rs
  crates/replication/prediction/src/rollback.rs
Due: rustfmt, clippy, docs

chore(deps): update networking and GUI dependencies
  Cargo.toml
  crates/connection/netcode/Cargo.toml
  crates/connection/netcode/src/crypto.rs
  crates/connection/netcode/src/packet.rs
  crates/connection/netcode/src/token.rs
  crates/io/link/Cargo.toml
  examples/launcher/src/main.rs
Due: rustfmt, clippy, docs, taplo

chore(interpolation): tighten interp timeline
  crates/replication/interpolation/src/timeline.rs
Due: rustfmt, clippy, docs

chore(interpolation): tighten interp timeline (#1720)
  crates/replication/interpolation/src/timeline.rs
Due: rustfmt, clippy, docs

refactor MessageRegistry
  crates/transport/messages/src/plugin.rs
  crates/transport/messages/src/receive.rs
  crates/transport/messages/src/registry.rs
  crates/transport/messages/src/send.rs
  crates/transport/messages/src/send_trigger.rs
  crates/transport/messages/src/trigger.rs
Due: rustfmt, clippy, docs

clippy fix
  crates/transport/messages/src/plugin.rs
Due: rustfmt, clippy, docs

save 1 hashmap lookup
  crates/transport/messages/src/send.rs
Due: rustfmt, clippy, docs

refactor(transport): Refactor `MessageRegistry` (#1722)
  crates/transport/messages/src/plugin.rs
  crates/transport/messages/src/receive.rs
  crates/transport/messages/src/registry.rs
  crates/transport/messages/src/send.rs
  crates/transport/messages/src/send_trigger.rs
  crates/transport/messages/src/trigger.rs
Due: rustfmt, clippy, docs

fix(prediction): prune confirmed history on prediction
  crates/replication/interpolation/src/interpolate.rs
  crates/replication/prediction/src/plugin.rs
  crates/replication/prediction/src/predicted_history.rs
  crates/replication/replication/src/diff_history.rs
  crates/replication/replication/src/registry/replication.rs
  docs/allocation-regression.md
Due: rustfmt, clippy, docs

fix(prediction): prune confirmed history on prediction (#1724)
  crates/replication/interpolation/src/interpolate.rs
  crates/replication/prediction/src/plugin.rs
  crates/replication/prediction/src/predicted_history.rs
  crates/replication/replication/src/diff_history.rs
  crates/replication/replication/src/registry/replication.rs
  docs/allocation-regression.md
Due: rustfmt, clippy, docs

nit(input): drain receiver channel if timeline is not synced
  crates/inputs/inputs/src/client.rs
Due: rustfmt, clippy, docs

chore: update replicon to 0.44
  Cargo.toml
  crates/replication/interpolation/src/plugin.rs
  crates/replication/prediction/src/plugin.rs
Due: rustfmt, clippy, docs, taplo

chore: update replicon to 0.44 (#1728)
  Cargo.toml
  crates/replication/interpolation/src/plugin.rs
  crates/replication/prediction/src/plugin.rs
Due: rustfmt, clippy, docs, taplo

fix ci
  crates/replication/prediction/src/plugin.rs
  crates/replication/prediction/src/predicted_history.rs
Due: rustfmt, clippy, docs

nit(input): drain receiver channel if timeline is not synced (#1727)
  crates/inputs/inputs/src/client.rs
  crates/replication/prediction/src/plugin.rs
  crates/replication/prediction/src/predicted_history.rs
Due: rustfmt, clippy, docs

fix(avian): add correction for velocities
  book/src/concepts/advanced_replication/avian.md
  crates/integration/avian/src/plugin.rs
  crates/integration/avian/src/types_2d.rs
  crates/integration/avian/src/types_3d.rs
  crates/replication/interpolation/src/registry.rs
  crates/replication/replication/src/impls/avian2d.rs
  crates/replication/replication/src/impls/avian3d.rs
  crates/tests/src/client_server/prediction/correction.rs
Due: rustfmt, clippy, docs

chore(book): update book
  book/src/SUMMARY.md
  book/src/concepts/advanced_replication/bandwidth_management.md
  book/src/concepts/advanced_replication/client_replication.md
  book/src/concepts/advanced_replication/component_sync_mode.md
  book/src/concepts/advanced_replication/inputs.md
  book/src/concepts/advanced_replication/interest_management.md
  book/src/concepts/advanced_replication/interpolation.md
  book/src/concepts/advanced_replication/map_entities.md
  book/src/concepts/advanced_replication/prediction.md
  book/src/concepts/advanced_replication/prespawning.md
  book/src/concepts/advanced_replication/replication_logic.md
  book/src/concepts/bevy_integration/client/time_sync.md
  book/src/concepts/bevy_integration/client/title.md
  book/src/concepts/bevy_integration/events.md
  book/src/concepts/bevy_integration/server.md
  book/src/concepts/bevy_integration/shared_plugin.md
  book/src/concepts/bevy_integration/system_order.md
  book/src/concepts/bevy_integration/title.md
  book/src/concepts/connection/multi_connection.md
  book/src/concepts/connection/title.md
  book/src/concepts/reliability/channels.md
  book/src/concepts/reliability/packet_header.md
  book/src/concepts/replication/protocol.md
  book/src/concepts/replication/replicate.md
  book/src/concepts/title.md
  book/src/concepts/transport/serialization.md
  book/src/concepts/transport/title.md
  book/src/examples/title.md
  book/src/guides/remote_server.md
  book/src/guides/title.md
  book/src/tutorial/advanced_systems.md
  book/src/tutorial/basic_systems.md
  book/src/tutorial/build_client_server.md
  book/src/tutorial/setup.md
Due: none

chore(book): update book (#1731)
  book/src/SUMMARY.md
  book/src/concepts/advanced_replication/bandwidth_management.md
  book/src/concepts/advanced_replication/client_replication.md
  book/src/concepts/advanced_replication/component_sync_mode.md
  book/src/concepts/advanced_replication/inputs.md
  book/src/concepts/advanced_replication/interest_management.md
  book/src/concepts/advanced_replication/interpolation.md
  book/src/concepts/advanced_replication/map_entities.md
  book/src/concepts/advanced_replication/prediction.md
  book/src/concepts/advanced_replication/prespawning.md
  book/src/concepts/advanced_replication/replication_logic.md
  book/src/concepts/bevy_integration/client/time_sync.md
  book/src/concepts/bevy_integration/client/title.md
  book/src/concepts/bevy_integration/events.md
  book/src/concepts/bevy_integration/server.md
  book/src/concepts/bevy_integration/shared_plugin.md
  book/src/concepts/bevy_integration/system_order.md
  book/src/concepts/bevy_integration/title.md
  book/src/concepts/connection/multi_connection.md
  book/src/concepts/connection/title.md
  book/src/concepts/reliability/channels.md
  book/src/concepts/reliability/packet_header.md
  book/src/concepts/replication/protocol.md
  book/src/concepts/replication/replicate.md
  book/src/concepts/title.md
  book/src/concepts/transport/serialization.md
  book/src/concepts/transport/title.md
  book/src/examples/title.md
  book/src/guides/remote_server.md
  book/src/guides/title.md
  book/src/tutorial/advanced_systems.md
  book/src/tutorial/basic_systems.md
  book/src/tutorial/build_client_server.md
  book/src/tutorial/setup.md
Due: none

fix test
  crates/integration/avian/src/types_2d.rs
Due: rustfmt, clippy, docs

fix tests
  crates/integration/avian/src/types_3d.rs
Due: rustfmt, clippy, docs

fix(avian): add correction for velocities (#1730)
  book/src/concepts/advanced_replication/avian.md
  crates/integration/avian/src/plugin.rs
  crates/integration/avian/src/types_2d.rs
  crates/integration/avian/src/types_3d.rs
  crates/replication/interpolation/src/registry.rs
  crates/replication/replication/src/impls/avian2d.rs
  crates/replication/replication/src/impls/avian3d.rs
  crates/tests/src/client_server/prediction/correction.rs
Due: rustfmt, clippy, docs

feat(hierarchy): better handle hierarchy propagation
  crates/replication/interpolation/src/plugin.rs
  crates/replication/prediction/src/plugin.rs
  crates/replication/replication/src/hierarchy.rs
  crates/replication/replication/src/lib.rs
  crates/replication/replication/src/send.rs
  crates/replication/replication/src/visibility/immediate.rs
  crates/replication/replication/src/visibility/room.rs
  crates/tests/src/client_server/hierarchy.rs
Due: rustfmt, clippy, docs

fix(hierarchy): replay manual visibility from local record on released replicon 0.44
  crates/replication/replication/src/visibility/immediate.rs
Due: rustfmt, clippy, docs

rebase
  Cargo.toml
  crates/replication/replication/src/visibility/immediate.rs
Due: rustfmt, clippy, docs, taplo

feat(replicate): simplify Replicate implementation
  book/src/concepts/advanced_replication/interest_management.md
  crates/core/core/src/id.rs
  crates/replication/replication/src/send.rs
Due: rustfmt, clippy, docs

feat(hierarchy): better handle hierarchy propagation (#1733)
  Cargo.toml
  crates/replication/prediction/src/plugin.rs
  crates/replication/replication/src/hierarchy.rs
  crates/replication/replication/src/lib.rs
  crates/replication/replication/src/send.rs
  crates/replication/replication/src/visibility/immediate.rs
  crates/replication/replication/src/visibility/room.rs
  crates/tests/src/client_server/hierarchy.rs
Due: rustfmt, clippy, docs, taplo

Also update ControlledBy, and only add ClientVisibility (for replicon) if ReplicationSender is present
  crates/replication/replication/src/control.rs
  crates/replication/replication/src/send.rs
  crates/replication/replication/src/server.rs
  crates/tests/src/client_server/replication.rs
Due: rustfmt, clippy, docs

feat(messages): allow parallel message sends via shared borrows
  crates/replication/replication/src/client.rs
  crates/replication/replication/src/server.rs
  crates/transport/messages/src/multi.rs
  crates/transport/messages/src/receive.rs
  crates/transport/messages/src/receive_event.rs
  crates/transport/messages/src/registry.rs
  crates/transport/messages/src/send.rs
  crates/transport/messages/src/send_trigger.rs
  crates/transport/messages/src/trigger.rs
  crates/transport/serde/src/entity_map.rs
  crates/transport/serde/src/lib.rs
  crates/transport/serde/src/registry.rs
  crates/transport/transport/src/channel/builder.rs
Due: rustfmt, clippy, docs
