Repository cBournhonesque/lightyear: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, docs, taplo

rustfmt:
  name: rustfmt
  description: Check if all files follow the rustfmt style
  entry: cargo fmt --all -- --check --color always
  language: system
  pass_filenames: false

clippy:
  name: clippy
  description: Run clippy linter
  entry: cargo clippy --features=lightyear_core/not_mock --workspace --exclude=compiletime --exclude=avian_3d_character --exclude=launcher --exclude=delta_compression --exclude=distributed_authority --no-deps -- -D warnings -A clippy::needless_lifetimes
  ...

docs:
  name: docs
  description: Build the documentation to ensure there are no errors
  entry: cargo +nightly doc --all-features --workspace --document-private-items --no-deps --keep-going
  language: system
  pass_filenames: false

taplo:
  name: Taplo TOML formatter
  description: Check formatting of all TOML files using Taplo
  entry: taplo fmt --check
  language: system
  pass_filenames: false

nit: fix test
  lightyear_replication/src/send/buffer.rs
  lightyear_replication/src/send/components.rs
  lightyear_replication/src/send/plugin.rs
  lightyear_replication/src/visibility/immediate.rs
  lightyear_tests/src/client_server/authority.rs
  lightyear_tests/src/client_server/replication.rs
  lightyear_tests/src/client_server/visibility.rs
Due: rustfmt, clippy, docs

remove CachedReplicate
  PROMPT.md
  lightyear_replication/src/send/buffer.rs
  lightyear_replication/src/send/components.rs
  lightyear_replication/src/send/plugin.rs
  lightyear_replication/src/visibility/immediate.rs
  lightyear_tests/src/client_server/replication.rs
Due: rustfmt, clippy, docs

all tests pass
  examples/lobby/src/server.rs
  examples/network_visibility/src/server.rs
  lightyear_replication/src/authority.rs
  lightyear_replication/src/delta.rs
  lightyear_replication/src/hierarchy.rs
  lightyear_replication/src/host.rs
  lightyear_replication/src/message.rs
  lightyear_replication/src/prespawn.rs
  lightyear_replication/src/receive.rs
  lightyear_replication/src/send/buffer.rs
  lightyear_replication/src/send/components.rs
  lightyear_replication/src/send/plugin.rs
  lightyear_replication/src/send/sender.rs
  lightyear_replication/src/visibility/immediate.rs
  lightyear_replication/src/visibility/room.rs
  lightyear_tests/src/client_server/hierarchy.rs
  lightyear_tests/src/client_server/input/bei.rs
  lightyear_tests/src/client_server/visibility.rs
Due: rustfmt, clippy, docs

nit: taplo
  lightyear_replication/Cargo.toml
  lightyear_tests/Cargo.toml
Due: taplo

Optimize replication logic by avoiding copies of the same data (#1345)
  PROMPT.md
  examples/lobby/src/server.rs
  examples/network_visibility/src/server.rs
  lightyear_replication/Cargo.toml
  lightyear_replication/src/authority.rs
  lightyear_replication/src/delta.rs
  lightyear_replication/src/hierarchy.rs
  lightyear_replication/src/host.rs
  lightyear_replication/src/message.rs
  lightyear_replication/src/prespawn.rs
  lightyear_replication/src/receive.rs
  lightyear_replication/src/send/buffer.rs
  lightyear_replication/src/send/components.rs
  lightyear_replication/src/send/plugin.rs
  lightyear_replication/src/send/sender.rs
  lightyear_replication/src/visibility/immediate.rs
  lightyear_replication/src/visibility/room.rs
  lightyear_tests/Cargo.toml
  lightyear_tests/src/bin/replicate.rs
  lightyear_tests/src/client_server/authority.rs
  lightyear_tests/src/client_server/hierarchy.rs
  lightyear_tests/src/client_server/input/bei.rs
  lightyear_tests/src/client_server/replication.rs
  lightyear_tests/src/client_server/visibility.rs
Due: rustfmt, clippy, docs, taplo

add profiling justfile
  .cargo/config.toml
  PROMPT.md
  lightyear_replication/src/send/components.rs
  lightyear_tests/justfile
  lightyear_tests/src/bin/replicate.rs
Due: rustfmt, clippy, docs, taplo

add profiling justfile (#1349)
  .cargo/config.toml
  PROMPT.md
  lightyear_replication/src/send/components.rs
  lightyear_tests/justfile
  lightyear_tests/src/bin/replicate.rs
Due: rustfmt, clippy, docs, taplo

wip try replicon implementation
  Cargo.toml
  PROMPT.md
  lightyear_replication/Cargo.toml
  lightyear_replication/src/error.rs
  lightyear_replication/src/lib.rs
  lightyear_replication/src/message.rs
  lightyear_replication/src/messages/actions.rs
  lightyear_replication/src/messages/change_ranges.rs
  lightyear_replication/src/messages/metadata.rs
  lightyear_replication/src/messages/mod.rs
  lightyear_replication/src/messages/serialized_data.rs
  lightyear_replication/src/messages/updates.rs
  lightyear_replication/src/plugin.rs
  lightyear_replication/src/receive.rs
  lightyear_replication/src/registry/component_mask.rs
  lightyear_replication/src/registry/mod.rs
  lightyear_replication/src/registry/registry.rs
  lightyear_replication/src/registry/replication.rs
  lightyear_replication/src/send/archetypes.rs
  lightyear_replication/src/send/buffer.rs
  lightyear_replication/src/send/client_pools.rs
  lightyear_replication/src/send/components.rs
  lightyear_replication/src/send/mod.rs
  lightyear_replication/src/send/plugin.rs
  lightyear_replication/src/send/query.rs
  lightyear_replication/src/send/sender.rs
  lightyear_replication/src/send/sender_ticks.rs
  lightyear_serde/src/writer.rs
  lightyear_tests/src/bin/replicate.rs
Due: rustfmt, clippy, docs, taplo

make LocalTimeline a resource; there can only be one since the driving timeline updates the localtimeline + Time<Virtual> speed
  PROMPT.md
  lightyear_core/src/timeline.rs
  lightyear_link/src/server.rs
  lightyear_messages/src/plugin.rs
  lightyear_messages/src/receive.rs
  lightyear_messages/src/send.rs
  lightyear_replication/src/send/buffer.rs
  lightyear_sync/src/client.rs
  lightyear_sync/src/timeline/sync.rs
  lightyear_transport/src/channel/builder.rs
  lightyear_transport/src/plugin.rs
Due: rustfmt, clippy, docs

cargo fmt
  lightyear_core/src/timeline.rs
  lightyear_messages/src/receive.rs
  lightyear_replication/src/components.rs
  lightyear_replication/src/messages/actions.rs
  lightyear_replication/src/plugin.rs
  lightyear_replication/src/prespawn.rs
  lightyear_replication/src/receive.rs
  lightyear_replication/src/send/buffer.rs
  lightyear_replication/src/send/components.rs
  lightyear_replication/src/send/plugin.rs
  lightyear_replication/src/send/sender.rs
  lightyear_sync/src/client.rs
  lightyear_sync/src/timeline/sync.rs
  lightyear_transport/src/channel/builder.rs
  lightyear_transport/src/plugin.rs
Due: rustfmt, clippy, docs

fix(replication): use correct mode in handle_connection to set per-sender predicted/interpolated
  lightyear_replication/src/send/components.rs
Due: rustfmt, clippy, docs

integrate replicon
  Cargo.toml
  examples/replicon/.cargo/config.toml
  examples/replicon/Cargo.toml
  examples/replicon/README.md
  examples/replicon/index.html
  examples/replicon/src/client.rs
  examples/replicon/src/lib.rs
  examples/replicon/src/main.rs
  examples/replicon/src/protocol.rs
  examples/replicon/src/renderer.rs
  examples/replicon/src/server.rs
  examples/replicon/src/shared.rs
  lightyear/Cargo.toml
  lightyear/src/shared.rs
  lightyear_core/src/timeline.rs
  lightyear_replicon/CHANGELOG.md
  lightyear_replicon/Cargo.toml
  lightyear_replicon/src/PLAN.md
  lightyear_replicon/src/client.rs
  lightyear_replicon/src/lib.rs
  lightyear_replicon/src/metadata.rs
  lightyear_replicon/src/registry.rs
  lightyear_replicon/src/server.rs
  lightyear_replicon/src/sync_target.rs
  lightyear_sync/src/timeline/sync.rs
  lightyear_transport/src/channel/builder.rs
  lightyear_transport/src/error.rs
  lightyear_transport/src/plugin.rs
Due: rustfmt, clippy, docs, taplo

fix(replication): use correct mode in handle_connection to set per-sender predicted/interpolated (#1358)
  lightyear_replication/src/send/components.rs
Due: rustfmt, clippy, docs

fix tests and cargo fmt
  .cargo/config.toml
  .github/workflows/main.yaml
  Cargo.toml
  demos/spaceships/src/renderer.rs
  demos/spaceships/src/server.rs
  examples/bevy_enhanced_inputs/src/renderer.rs
  examples/bevy_enhanced_inputs/src/shared.rs
  lightyear_avian/src/correction_2d.rs
  lightyear_avian/src/correction_3d.rs
  lightyear_avian/src/lag_compensation/history.rs
  lightyear_avian/src/lag_compensation/query.rs
  lightyear_core/src/timeline.rs
  lightyear_deterministic_replication/src/checksum.rs
  lightyear_inputs/src/client.rs
  lightyear_inputs/src/server.rs
  lightyear_messages/src/receive.rs
  lightyear_prediction/src/correction.rs
  lightyear_prediction/src/predicted_history.rs
  lightyear_prediction/src/resource_history.rs
  lightyear_prediction/src/rollback.rs
  lightyear_replication/src/prespawn.rs
  lightyear_replication/src/receive.rs
  lightyear_replication/src/send/buffer.rs
  lightyear_sync/src/client.rs
  lightyear_sync/src/timeline/sync.rs
  lightyear_tests/src/bin/replicate.rs
  lightyear_tests/src/client_server/base.rs
  lightyear_tests/src/client_server/input/bei.rs
  lightyear_tests/src/client_server/input/native.rs
  lightyear_tests/src/client_server/prediction/prespawn.rs
  lightyear_tests/src/client_server/prediction/rollback.rs
  lightyear_tests/src/client_server/replication.rs
  lightyear_tests/src/host_server/base.rs
  lightyear_tests/src/stepper.rs
  lightyear_transport/src/plugin.rs
Due: rustfmt, clippy, docs, taplo

fix tests and cargo fmt (#1360)
  .cargo/config.toml
  .github/workflows/main.yaml
  Cargo.toml
  demos/spaceships/src/renderer.rs
  demos/spaceships/src/server.rs
  examples/bevy_enhanced_inputs/src/renderer.rs
  examples/bevy_enhanced_inputs/src/shared.rs
  lightyear_avian/src/correction_2d.rs
  lightyear_avian/src/correction_3d.rs
  lightyear_avian/src/lag_compensation/history.rs
  lightyear_avian/src/lag_compensation/query.rs
  lightyear_core/src/timeline.rs
  lightyear_deterministic_replication/src/checksum.rs
  lightyear_inputs/src/client.rs
  lightyear_inputs/src/server.rs
  lightyear_messages/src/receive.rs
  lightyear_prediction/src/correction.rs
  lightyear_prediction/src/predicted_history.rs
  lightyear_prediction/src/resource_history.rs
  lightyear_prediction/src/rollback.rs
  lightyear_replication/src/prespawn.rs
  lightyear_replication/src/receive.rs
  lightyear_replication/src/send/buffer.rs
  lightyear_sync/src/client.rs
  lightyear_sync/src/timeline/sync.rs
  lightyear_tests/src/bin/replicate.rs
  lightyear_tests/src/client_server/base.rs
  lightyear_tests/src/client_server/input/bei.rs
  lightyear_tests/src/client_server/input/native.rs
  lightyear_tests/src/client_server/prediction/prespawn.rs
  lightyear_tests/src/client_server/prediction/rollback.rs
  lightyear_tests/src/client_server/replication.rs
  lightyear_tests/src/host_server/base.rs
  lightyear_tests/src/stepper.rs
  lightyear_transport/src/plugin.rs
Due: rustfmt, clippy, docs, taplo

implement replication target
  Cargo.toml
  lightyear_messages/src/plugin.rs
  lightyear_replicon/Cargo.toml
  lightyear_replicon/src/authority.rs
  lightyear_replicon/src/control.rs
  lightyear_replicon/src/lib.rs
  lightyear_replicon/src/registry.rs
  lightyear_replicon/src/send.rs
  lightyear_replicon/src/server.rs
  lightyear_replicon/src/sync_target.rs
Due: rustfmt, clippy, docs, taplo

fix: lightyear_metrics optional dep for std feature
  lightyear/Cargo.toml
Due: taplo

fix: lightyear_metrics optional dep for std feature (#1362)
  lightyear/Cargo.toml
Due: taplo

fix prediction to work with replicon
  Cargo.toml
  examples/common/src/client.rs
  lightyear_interpolation/Cargo.toml
  lightyear_interpolation/src/despawn.rs
  lightyear_interpolation/src/interpolation_history.rs
  lightyear_interpolation/src/lib.rs
  lightyear_interpolation/src/plugin.rs
  lightyear_interpolation/src/registry.rs
  lightyear_prediction/Cargo.toml
  lightyear_prediction/src/manager.rs
  lightyear_prediction/src/plugin.rs
  lightyear_prediction/src/predicted_history.rs
  lightyear_prediction/src/registry.rs
  lightyear_prediction/src/rollback.rs
  lightyear_replication/src/PLAN.md
  lightyear_replication/src/lib.rs
  lightyear_replication/src/metadata.rs
  lightyear_replication/src/receive.rs
  lightyear_replication/src/registry/deterministic.rs
  lightyear_replication/src/registry/mod.rs
  lightyear_replication/src/send.rs
  lightyear_replication/src/server.rs
Due: rustfmt, clippy, docs, taplo

feat(replication): add ReplicationState::is_visible helper
  lightyear_replication/src/send/components.rs
Due: rustfmt, clippy, docs

feat(replication): add ReplicationState::is_visible helper (#1366)
  lightyear_replication/src/send/components.rs
Due: rustfmt, clippy, docs

fix(reflect): add ReflectDefault to PreSpawned for scene deserialization
  lightyear_replication/src/prespawn.rs
Due: rustfmt, clippy, docs

fix(reflect): add ReflectDefault to PreSpawned for scene deserialization (#1367)
  lightyear_replication/src/prespawn.rs
Due: rustfmt, clippy, docs

Add a warning when clearing messages from a MessageReceiver.
  lightyear_messages/src/receive.rs
Due: rustfmt, clippy, docs

feat: update rollback logic
  lightyear_core/src/history_buffer.rs
  lightyear_prediction/src/lib.rs
  lightyear_prediction/src/manager.rs
  lightyear_prediction/src/plugin.rs
  lightyear_prediction/src/predicted_history.rs
  lightyear_prediction/src/registry.rs
  lightyear_prediction/src/rollback.rs
  lightyear_replication/src/PLAN.md
  lightyear_replication/src/client.rs
  lightyear_replication/src/lib.rs
Due: rustfmt, clippy, docs

tests compile
  lightyear_core/src/interpolation.rs
  lightyear_core/src/prediction.rs
  lightyear_inputs_bei/Cargo.toml
  lightyear_inputs_bei/src/plugin.rs
  lightyear_inputs_bei/src/setup.rs
  lightyear_replication/Cargo.toml
  lightyear_replication/src/lib.rs
  lightyear_replication/src/send.rs
Due: rustfmt, clippy, docs, taplo

feat(websocket): add target_url support for hostname connections
  lightyear_websocket/src/client.rs
Due: rustfmt, clippy, docs

fix prediction to work with replicon
  lightyear_replication/src/hierarchy.rs
  lightyear_replication/src/impls/avian2d.rs
  lightyear_replication/src/impls/avian3d.rs
  lightyear_replication/src/impls/mod.rs
  lightyear_replication/src/visibility/error.rs
  lightyear_replication/src/visibility/immediate.rs
  lightyear_replication/src/visibility/mod.rs
  lightyear_replication/src/visibility/room.rs
Due: rustfmt, clippy, docs

wip tests
  Cargo.toml
  lightyear_prediction/src/predicted_history.rs
  lightyear_replication/Cargo.toml
  lightyear_replication/src/hierarchy.rs
  lightyear_replication/src/lib.rs
  lightyear_replication/src/receive.rs
  lightyear_replication/src/send.rs
  lightyear_replication/src/visibility/immediate.rs
  lightyear_replication/src/visibility/room.rs
  lightyear_tests/Cargo.toml
  lightyear_tests/src/client_server/avian/position_replication.rs
  lightyear_tests/src/client_server/avian/transform_replication.rs
  lightyear_tests/src/client_server/mod.rs
  lightyear_tests/src/client_server/prediction/history.rs
  lightyear_tests/src/client_server/prediction/prespawn.rs
  lightyear_tests/src/client_server/prediction/rollback.rs
  lightyear_tests/src/client_server/replication.rs
  lightyear_tests/src/client_server/replication_advanced.rs
  lightyear_tests/src/client_server/visibility.rs
  lightyear_tests/src/protocol.rs
  lightyear_tests/src/stepper.rs
Due: rustfmt, clippy, docs, taplo

remove f32 bound
  examples/avian_physics/src/server.rs
  examples/avian_physics/src/shared.rs
  lightyear_avian2d/Cargo.toml
  lightyear_avian3d/Cargo.toml
  lightyear_replication/src/prespawn.rs
  lightyear_replication/src/send/components.rs
Due: rustfmt, clippy, docs, taplo

remove f32 bound (#1371)
  examples/avian_physics/src/server.rs
  examples/avian_physics/src/shared.rs
  lightyear_avian2d/Cargo.toml
  lightyear_avian3d/Cargo.toml
  lightyear_replication/src/prespawn.rs
  lightyear_replication/src/send/components.rs
Due: rustfmt, clippy, docs, taplo

feat(websocket): add target_url support for hostname connections (#1370)
  lightyear_websocket/src/client.rs
Due: rustfmt, clippy, docs

add tnua example
  examples/tnua/.cargo/config.toml
  examples/tnua/Cargo.toml
  examples/tnua/README.md
  examples/tnua/index.html
  examples/tnua/src/client.rs
  examples/tnua/src/main.rs
  examples/tnua/src/protocol.rs
  examples/tnua/src/renderer.rs
  examples/tnua/src/server.rs
  examples/tnua/src/shared.rs
  lightyear_websocket/src/client.rs
Due: rustfmt, clippy, docs, taplo

fix: common examples use new data layout from #1370 for websockets
  examples/common/src/client.rs
Due: rustfmt, clippy, docs

fix: common examples use new data layout from #1370 for websockets (#1374)
  examples/common/src/client.rs
Due: rustfmt, clippy, docs

feat: add reason to disconnected status
  examples/common/src/client_renderer.rs
Due: rustfmt, clippy, docs

Path conditions:
  rustfmt: any of: \.rs$
  clippy: any of: \.rs$
  docs: any of: \.rs$
  taplo: any of: \.toml$
