Repository cBournhonesque/lightyear: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, docs, taplo

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        description: Check if all files follow the rustfmt style
        entry: cargo fmt --all -- --check --color always
        types: [rust]
        language: system
        pass_filenames: false

      - id: clippy
        name: clippy
        description: Run clippy linter
        entry: cargo clippy --features=lightyear_core/not_mock --workspace --exclude=compiletime --exclude=avian_3d_character --exclude=launcher --exclude=delta_compression --exclude=distributed_authority --no-deps -- -D warnings -A clippy::needless_lifetimes
        types: [rust]
        language: system
        pass_filenames: false

      - id: docs
        name: docs
        description: Build the documentation to ensure there are no errors
        entry: cargo +nightly doc --all-features --workspace --document-private-items --no-deps --keep-going
        types: [rust]
        language: system
        pass_filenames: false

      - id: taplo
        name: Taplo TOML formatter
        description: Check formatting of all TOML files using Taplo
        entry: taplo fmt --check
        types: [toml]
        language: system
        pass_filenames: false

lightyear_tools imporvements and prediction fixes
  demos/spaceships/src/automation.rs
  demos/spaceships/src/shared.rs
  examples/bevy_enhanced_inputs/src/client.rs
  examples/deterministic_replication/src/client.rs
  examples/deterministic_replication/src/protocol.rs
  examples/deterministic_replication/src/server.rs
  examples/deterministic_replication/src/shared.rs
  examples/simple_box/src/client.rs
  lightyear_deterministic_replication/Cargo.toml
  lightyear_deterministic_replication/src/late_join.rs
  lightyear_deterministic_replication/src/lib.rs
  lightyear_inputs/src/client.rs
  lightyear_inputs_leafwing/src/input_message.rs
  lightyear_prediction/src/lib.rs
  lightyear_prediction/src/manager.rs
  lightyear_prediction/src/plugin.rs
  lightyear_prediction/src/predicted_history.rs
  lightyear_prediction/src/registry.rs
  lightyear_prediction/src/rollback.rs
  lightyear_tests/src/client_server/prediction/history.rs
  lightyear_tools/Cargo.toml
  lightyear_tools/src/debug/component.rs
  lightyear_tools/src/debug/mod.rs
  lightyear_tools/src/debug/tracing_layer.rs
Due: rustfmt, clippy, docs, taplo

add example issues
  example_issues.md
Due: none

lightyear_tools imporvements and prediction fixes
  examples/bevy_enhanced_inputs/src/automation.rs
  examples/deterministic_replication/src/client.rs
  lightyear_deterministic_replication/src/checksum.rs
  lightyear_deterministic_replication/src/late_join.rs
  lightyear_deterministic_replication/src/lib.rs
  lightyear_prediction/src/predicted_history.rs
Due: rustfmt, clippy, docs

fix examples, and make late join work in deterministic replication example
  examples/bevy_enhanced_inputs/src/automation.rs
  examples/bevy_enhanced_inputs/src/client.rs
  examples/deterministic_replication/src/client.rs
  examples/deterministic_replication/src/main.rs
  examples/deterministic_replication/src/protocol.rs
  examples/deterministic_replication/src/renderer.rs
  examples/deterministic_replication/src/server.rs
  examples/deterministic_replication/src/shared.rs
  examples/projectiles/src/automation.rs
  examples/projectiles/src/client.rs
  examples/projectiles/src/protocol.rs
  examples/projectiles/src/server.rs
  examples/projectiles/src/shared.rs
  lightyear_deterministic_replication/src/checksum.rs
  lightyear_deterministic_replication/src/late_join.rs
  lightyear_deterministic_replication/src/lib.rs
  lightyear_deterministic_replication/src/messages.rs
  lightyear_deterministic_replication/src/plugin.rs
  lightyear_inputs_bei/src/marker.rs
  lightyear_inputs_bei/src/plugin.rs
  lightyear_inputs_bei/src/setup.rs
  lightyear_prediction/src/manager.rs
  lightyear_prediction/src/registry.rs
Due: rustfmt, clippy, docs

refactor: keep crossbeam as pure transport, drop connection-layer observers #1446
  lightyear_crossbeam/Cargo.toml
  lightyear_crossbeam/src/lib.rs
Due: rustfmt, clippy, docs, taplo

fix: ignore WSAECONNRESET on Windows UDP receive (#1453)
  lightyear_udp/src/lib.rs
  lightyear_udp/src/server.rs
Due: rustfmt, clippy, docs

more example fixes
  demos/spaceships/src/shared.rs
  example_issues.md
  examples/avian_physics/src/client.rs
  examples/common/src/automation.rs
  examples/common/src/cli.rs
  examples/delta_compression/src/client.rs
  examples/distributed_authority/src/client.rs
  examples/fps/src/client.rs
  examples/fps/src/shared.rs
  examples/lobby/src/client.rs
  examples/lobby/src/main.rs
  examples/priority/src/client.rs
  examples/projectiles/src/server.rs
  examples/replication_groups/src/client.rs
  examples/simple_box/src/client.rs
  lightyear_avian/src/lag_compensation/query.rs
  lightyear_sync/src/timeline/input.rs
  lightyear_tools/src/bin/lightyear-debug.rs
Due: rustfmt, clippy, docs

ci
  examples/common/src/cli.rs
  examples/simple_box/src/client.rs
  lightyear/src/lib.rs
  lightyear_avian/src/plugin.rs
  lightyear_replication/src/lib.rs
  lightyear_replication/src/registry/mod.rs
  lightyear_replication/src/send.rs
  lightyear_replication/src/visibility/immediate.rs
  lightyear_replication/src/visibility/room.rs
Due: rustfmt, clippy, docs

update log
  example_issues.md
Due: none

Example fixes
  demos/spaceships/src/automation.rs
  demos/spaceships/src/client.rs
  demos/spaceships/src/protocol.rs
  demos/spaceships/src/renderer.rs
  demos/spaceships/src/shared.rs
  examples/avian_3d_character/src/client.rs
  examples/avian_physics/src/client.rs
  examples/bevy_enhanced_inputs/src/client.rs
  examples/bevy_enhanced_inputs/src/server.rs
  examples/bevy_enhanced_inputs/src/shared.rs
  examples/delta_compression/src/client.rs
  examples/deterministic_replication/src/automation.rs
  examples/deterministic_replication/src/main.rs
  examples/deterministic_replication/src/protocol.rs
  examples/distributed_authority/src/client.rs
  examples/fps/src/client.rs
  examples/fps/src/shared.rs
  examples/network_visibility/src/client.rs
  examples/priority/src/client.rs
  examples/projectiles/src/client.rs
  examples/projectiles/src/server.rs
  examples/projectiles/src/shared.rs
  examples/replication_groups/src/client.rs
  examples/simple_box/src/client.rs
  lightyear_inputs/src/server.rs
  lightyear_inputs_bei/src/marker.rs
  lightyear_inputs_bei/src/plugin.rs
  lightyear_inputs_bei/src/setup.rs
Due: rustfmt, clippy, docs

push issues
  example_issues.md
Due: none

fix deterministic
  examples/deterministic_replication/src/client.rs
  examples/deterministic_replication/src/main.rs
  examples/deterministic_replication/src/protocol.rs
  examples/deterministic_replication/src/server.rs
  lightyear_deterministic_replication/src/archetypes.rs
Due: rustfmt, clippy, docs

ci
  demos/spaceships/Cargo.toml
  examples/auth/Cargo.toml
  examples/avian_3d_character/Cargo.toml
  examples/avian_physics/Cargo.toml
  examples/bevy_enhanced_inputs/Cargo.toml
  examples/client_replication/Cargo.toml
  examples/delta_compression/Cargo.toml
  examples/deterministic_replication/Cargo.toml
  examples/deterministic_replication/src/client.rs
  examples/distributed_authority/Cargo.toml
  examples/fps/Cargo.toml
  examples/lobby/Cargo.toml
  examples/network_visibility/Cargo.toml
  examples/priority/Cargo.toml
  examples/projectiles/Cargo.toml
  examples/replication_groups/Cargo.toml
  examples/simple_box/Cargo.toml
  lightyear_tests/src/client_server/input/bei.rs
Due: rustfmt, clippy, docs, taplo

refactor: explicit TrySendError match + sharper crossbeam tests #1446
  lightyear_crossbeam/src/lib.rs
Due: rustfmt, clippy, docs

refactor: re-queue on Full, sharper docs, drop unused Result in crossbeam send #1446
  lightyear_crossbeam/src/lib.rs
Due: rustfmt, clippy, docs

refactor: entity context in send logs, sharper test setup #1446
  lightyear_crossbeam/src/lib.rs
Due: rustfmt, clippy, docs

fix: preserve FIFO on Full re-queue in crossbeam send via LinkSender::push_front #1446
  lightyear_crossbeam/src/lib.rs
  lightyear_link/src/lib.rs
Due: rustfmt, clippy, docs

fix test
  demos/spaceships/src/shared.rs
  examples/bevy_enhanced_inputs/src/automation.rs
  examples/bevy_enhanced_inputs/src/shared.rs
  examples/deterministic_replication/src/client.rs
  examples/deterministic_replication/src/protocol.rs
  examples/deterministic_replication/src/server.rs
  examples/deterministic_replication/src/shared.rs
  examples/fps/src/protocol.rs
  examples/fps/src/shared.rs
  examples/lobby/src/client.rs
  examples/lobby/src/main.rs
  examples/lobby/src/server.rs
  examples/replication_groups/src/client.rs
  examples/simple_box/src/automation.rs
  examples/simple_box/src/client.rs
  examples/simple_box/src/server.rs
  lightyear_deterministic_replication/Cargo.toml
  lightyear_deterministic_replication/src/archetypes.rs
  lightyear_deterministic_replication/src/checksum.rs
  lightyear_deterministic_replication/src/late_join.rs
  lightyear_deterministic_replication/src/lib.rs
  lightyear_deterministic_replication/src/mode.rs
  lightyear_prediction/src/registry.rs
  lightyear_prediction/src/rollback.rs
  lightyear_tests/src/client_server/prediction/prespawn.rs
Due: rustfmt, clippy, docs, taplo

example issues
  example_issues.md
  lightyear_deterministic_replication/src/checksum.rs
Due: rustfmt, clippy, docs

docs+test(crossbeam): document LinkStart-on-mirror pattern + add server-mirror integration test #1446
  lightyear_crossbeam/Cargo.toml
  lightyear_crossbeam/src/lib.rs
Due: rustfmt, clippy, docs, taplo

test(crossbeam): tighten server-mirror test — drop narrating comments + multi-line assert messages #1446
  lightyear_crossbeam/src/lib.rs
Due: rustfmt, clippy, docs

deterministic example
  examples/deterministic_replication/src/renderer.rs
  examples/deterministic_replication/src/shared.rs
Due: rustfmt, clippy, docs

improve deterministic replication
  demos/spaceships/src/automation.rs
  demos/spaceships/src/client.rs
  demos/spaceships/src/server.rs
  demos/spaceships/src/shared.rs
  example_issues.md
  examples/common/src/cli.rs
  examples/common/src/server.rs
  examples/deterministic_replication/src/client.rs
  examples/fps/src/client.rs
  examples/fps/src/protocol.rs
  examples/lobby/src/main.rs
  examples/projectiles/src/automation.rs
  examples/projectiles/src/client.rs
  examples/projectiles/src/renderer.rs
  examples/projectiles/src/server.rs
  examples/projectiles/src/shared.rs
  lightyear_deterministic_replication/src/checksum.rs
  lightyear_deterministic_replication/src/late_join.rs
  lightyear_interpolation/src/timeline.rs
  lightyear_prediction/src/lib.rs
  lightyear_prediction/src/manager.rs
  lightyear_prediction/src/registry.rs
  lightyear_prediction/src/rollback.rs
  lightyear_sync/src/timeline/input.rs
  lightyear_sync/src/timeline/sync.rs
  lightyear_tests/Cargo.toml
  lightyear_tests/src/client_server/deterministic/input_only.rs
  lightyear_tests/src/client_server/deterministic/mod.rs
  lightyear_tests/src/client_server/deterministic/protocol.rs
  lightyear_tests/src/client_server/deterministic/state_based_catchup.rs
  lightyear_tests/src/client_server/deterministic/stepper.rs
  lightyear_tests/src/client_server/mod.rs
  lightyear_tests/src/client_server/prediction/rollback.rs
Due: rustfmt, clippy, docs, taplo

fix(replication): return ComponentError on missing delta clone fn
  lightyear_replication/src/registry/delta.rs
Due: rustfmt, clippy, docs

fix avian rollbacks
  lightyear_avian/src/lib.rs
  lightyear_avian/src/plugin.rs
  lightyear_deterministic_replication/src/checksum.rs
  lightyear_tests/src/client_server/deterministic/input_only.rs
  lightyear_tests/src/client_server/deterministic/state_based_catchup.rs
Due: rustfmt, clippy, docs

fix ignored tests
  examples/avian_3d_character/src/client.rs
  examples/deterministic_replication/src/automation.rs
  examples/deterministic_replication/src/client.rs
  examples/deterministic_replication/src/server.rs
  examples/deterministic_replication/src/shared.rs
  lightyear/src/lib.rs
  lightyear_deterministic_replication/src/late_join.rs
  lightyear_interpolation/src/timeline.rs
  lightyear_replication/src/lib.rs
  lightyear_sync/src/client.rs
  lightyear_sync/src/ping/estimator.rs
  lightyear_sync/src/timeline/input.rs
  lightyear_tests/src/client_server/avian/position_replication.rs
  lightyear_tests/src/client_server/replication.rs
  lightyear_tests/src/protocol.rs
Due: rustfmt, clippy, docs

example issues
  example_issues.md
Due: none

fix: use strongly typed clone in buffer_insert_delta
  lightyear_replication/src/registry/delta.rs
Due: rustfmt, clippy, docs

example improvements
  demos/spaceships/src/renderer.rs
  example_issues.md
  examples/deterministic_replication/src/client.rs
  examples/deterministic_replication/src/main.rs
  examples/deterministic_replication/src/renderer.rs
  examples/deterministic_replication/src/shared.rs
  examples/fps/src/automation.rs
  examples/fps/src/client.rs
  examples/fps/src/renderer.rs
  examples/fps/src/server.rs
  examples/lobby/src/renderer.rs
  examples/projectiles/src/automation.rs
  examples/projectiles/src/server.rs
  examples/projectiles/src/shared.rs
Due: rustfmt, clippy, docs

fix(core): make Tick: Ord total, add wrap-aware comparison methods
  lightyear_core/src/tick.rs
  lightyear_sync/src/ping/store.rs
  lightyear_transport/src/packet/message.rs
  lightyear_transport/src/packet/packet.rs
  lightyear_utils/src/wrapping_id.rs
Due: rustfmt, clippy, docs

fix: migrate Tick comparison sites to wrap-aware methods
  lightyear_core/src/history_buffer.rs
  lightyear_inputs/src/client.rs
  lightyear_inputs/src/input_buffer.rs
  lightyear_inputs/src/input_message.rs
  lightyear_interpolation/src/interpolate.rs
  lightyear_interpolation/src/interpolation_history.rs
  lightyear_prediction/src/rollback.rs
  lightyear_replication/src/prespawn.rs
  lightyear_replication/src/receive.rs
  lightyear_replication/src/send/sender.rs
  lightyear_sync/src/timeline/remote.rs
Due: rustfmt, clippy, docs

style: fix pre-existing rustfmt drift on main
  lightyear_avian/src/lag_compensation/history.rs
  lightyear_replication/src/receive.rs
  lightyear_replication/src/visibility/room.rs
Due: rustfmt, clippy, docs

Fix CI
  demos/spaceships/src/client.rs
  demos/spaceships/src/shared.rs
  examples/common/src/cli.rs
  lightyear_deterministic_replication/src/late_join.rs
  lightyear_inputs_bei/src/marker.rs
  lightyear_inputs_bei/src/setup.rs
  lightyear_tests/src/client_server/prediction/rollback.rs
Due: rustfmt, clippy, docs

example
  example_issues.md
  lightyear_replication/src/authority.rs
Due: rustfmt, clippy, docs

fix: write confirmed value on every idle rebase, not just first
  lightyear_interpolation/src/interpolate.rs
  lightyear_interpolation/src/interpolation_history.rs
Due: rustfmt, clippy, docs

docs: restore context comments and document clamp-vs-extrapolate trade-off
  lightyear_interpolation/src/interpolate.rs
  lightyear_interpolation/src/interpolation_history.rs
Due: rustfmt, clippy, docs

fix: maintain bracketing keyframes under packet loss
  lightyear_interpolation/src/interpolate.rs
  lightyear_interpolation/src/interpolation_history.rs
Due: rustfmt, clippy, docs

fix: snap interpolated component to single remaining keyframe
  lightyear_interpolation/src/interpolation_history.rs
Due: rustfmt, clippy, docs

fix: smart drain + clamp for interpolation under packet loss
  lightyear_interpolation/src/interpolate.rs
  lightyear_interpolation/src/interpolation_history.rs
Due: rustfmt, clippy, docs

test: tolerate fixed overstep precision
  lightyear_interpolation/src/interpolate.rs
  lightyear_interpolation/src/plugin.rs
Due: rustfmt, clippy, docs
