Repository cBournhonesque/lightyear: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, docs, taplo

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        description: Check if all files follow the rustfmt style
        entry: cargo fmt --all -- --check --color always
        types: [rust]
        language: system
        pass_filenames: false

      - id: clippy
        name: clippy
        description: Run clippy linter
        entry: cargo clippy --features=lightyear_core/not_mock --workspace --exclude=compiletime --exclude=avian_3d_character --exclude=launcher --exclude=delta_compression --exclude=distributed_authority --no-deps -- -D warnings -A clippy::needless_lifetimes
        types: [rust]
        language: system
        pass_filenames: false

      - id: docs
        name: docs
        description: Build the documentation to ensure there are no errors
        entry: cargo +nightly doc --all-features --workspace --document-private-items --no-deps --keep-going
        types: [rust]
        language: system
        pass_filenames: false

      - id: taplo
        name: Taplo TOML formatter
        description: Check formatting of all TOML files using Taplo
        entry: taplo fmt --check
        types: [toml]
        language: system
        pass_filenames: false

feat(avian): fix avian for child colliders of a rigid body (#1598)
  book/src/concepts/advanced_replication/avian.md
  crates/integration/avian/src/plugin.rs
  crates/tests/src/client_server/avian/compound_replication.rs
  crates/tests/src/client_server/avian/mod.rs
  crates/tests/src/client_server/deterministic/input_only.rs
  crates/tests/src/client_server/deterministic/protocol.rs
  crates/tests/src/client_server/deterministic/state_based_catchup.rs
  crates/tests/src/protocol.rs
  examples/avian_2d/README.md
  examples/avian_2d/src/client.rs
  examples/avian_2d/src/main.rs
  examples/avian_2d/src/protocol.rs
  examples/avian_2d/src/renderer.rs
  examples/avian_2d/src/server.rs
  examples/avian_2d/src/shared.rs
  examples/deterministic_replication/README.md
  examples/deterministic_replication/src/protocol.rs
  examples/deterministic_replication/src/renderer.rs
  examples/deterministic_replication/src/shared.rs
Due: rustfmt, clippy, docs

send messages to remote timeline
  crates/connection/connection/src/host.rs
  crates/core/lightyear/src/protocol.rs
  crates/core/utils/src/registry.rs
  crates/inputs/inputs/src/plugin.rs
  crates/replication/interpolation/Cargo.toml
  crates/replication/interpolation/src/lib.rs
  crates/replication/interpolation/src/message.rs
  crates/replication/interpolation/src/plugin.rs
  crates/replication/interpolation/src/timeline.rs
  crates/replication/replication/src/authority.rs
  crates/transport/messages/src/client.rs
  crates/transport/messages/src/lib.rs
  crates/transport/messages/src/plugin.rs
  crates/transport/messages/src/receive.rs
  crates/transport/messages/src/receive_event.rs
  crates/transport/messages/src/registry.rs
  crates/transport/messages/src/send.rs
  crates/transport/messages/src/send_trigger.rs
  crates/transport/messages/src/server.rs
  crates/transport/messages/src/trigger.rs
  crates/transport/transport/src/channel/builder.rs
  crates/transport/transport/src/channel/registry.rs
  crates/transport/transport/src/plugin.rs
  examples/simple_box/src/protocol.rs
  examples/simple_box/src/server.rs
Due: rustfmt, clippy, docs, taplo

add MessageReceiver<M, T>
  crates/replication/interpolation/src/message.rs
  crates/transport/messages/src/client.rs
  crates/transport/messages/src/lib.rs
  crates/transport/messages/src/plugin.rs
  crates/transport/messages/src/receive.rs
  crates/transport/messages/src/receive_event.rs
  crates/transport/messages/src/registry.rs
  crates/transport/messages/src/send.rs
  crates/transport/messages/src/send_trigger.rs
  crates/transport/messages/src/server.rs
  crates/transport/messages/src/trigger.rs
  examples/simple_box/src/client.rs
  examples/simple_box/src/protocol.rs
Due: rustfmt, clippy, docs

lazily add MessageReceiver upon receiving bytes
  crates/core/core/src/lib.rs
  crates/core/core/src/timeline.rs
  crates/core/sync/src/client.rs
  crates/replication/interpolation/src/lib.rs
  crates/replication/interpolation/src/message.rs
  crates/replication/interpolation/src/plugin.rs
  crates/replication/interpolation/src/timeline.rs
  crates/transport/messages/src/client.rs
  crates/transport/messages/src/lib.rs
  crates/transport/messages/src/plugin.rs
  crates/transport/messages/src/receive.rs
  crates/transport/messages/src/receive_event.rs
  crates/transport/messages/src/registry.rs
  crates/transport/messages/src/send.rs
  crates/transport/messages/src/send_trigger.rs
  crates/transport/messages/src/server.rs
  crates/transport/messages/src/trigger.rs
  examples/simple_box/src/client.rs
  examples/simple_box/src/protocol.rs
  examples/simple_box/src/server.rs
Due: rustfmt, clippy, docs

fixes
  crates/core/core/src/lib.rs
  crates/core/core/src/timeline.rs
  crates/core/utils/src/registry.rs
  crates/replication/interpolation/src/timeline.rs
  crates/transport/messages/src/lib.rs
  crates/transport/messages/src/plugin.rs
  crates/transport/messages/src/receive.rs
  crates/transport/messages/src/receive_event.rs
  crates/transport/messages/src/registry.rs
  crates/transport/messages/src/send.rs
  crates/transport/messages/src/send_trigger.rs
  crates/transport/messages/src/trigger.rs
  crates/transport/transport/src/channel/builder.rs
  crates/transport/transport/src/channel/registry.rs
Due: rustfmt, clippy, docs

fix avian2d
  examples/avian_2d/src/shared.rs
Due: rustfmt, clippy, docs

fix avian2d (#1599)
  examples/avian_2d/src/shared.rs
Due: rustfmt, clippy, docs

fix(deterministic): skip folding empty prediction histories into client checksum
  crates/deterministic/deterministic_replication/src/checksum.rs
  crates/replication/prediction/src/registry.rs
Due: rustfmt, clippy, docs

fix(prediction): seed prediction history when rollback finds no restore state
  crates/replication/prediction/src/rollback.rs
Due: rustfmt, clippy, docs

fix(avian): order frame-interpolation Update after UpdateHistory
  crates/integration/avian/src/plugin.rs
Due: rustfmt, clippy, docs

ci fix
  crates/tests/src/client_server/avian/position_replication.rs
  crates/tests/src/client_server/base.rs
  crates/tests/src/host_server/base.rs
  crates/transport/transport/src/packet/compression.rs
  examples/avian_2d/src/shared.rs
Due: rustfmt, clippy, docs

feat: send messages to remote timeline (#1590)
  crates/connection/connection/src/host.rs
  crates/core/core/src/lib.rs
  crates/core/core/src/timeline.rs
  crates/core/lightyear/src/protocol.rs
  crates/core/sync/src/client.rs
  crates/core/utils/src/registry.rs
  crates/inputs/inputs/src/plugin.rs
  crates/replication/interpolation/Cargo.toml
  crates/replication/interpolation/src/timeline.rs
  crates/replication/replication/src/authority.rs
  crates/tests/src/client_server/avian/position_replication.rs
  crates/tests/src/client_server/base.rs
  crates/tests/src/host_server/base.rs
  crates/transport/messages/src/client.rs
  crates/transport/messages/src/lib.rs
  crates/transport/messages/src/plugin.rs
  crates/transport/messages/src/receive.rs
  crates/transport/messages/src/receive_event.rs
  crates/transport/messages/src/registry.rs
  crates/transport/messages/src/send.rs
  crates/transport/messages/src/send_trigger.rs
  crates/transport/messages/src/server.rs
  crates/transport/messages/src/trigger.rs
  crates/transport/transport/src/channel/builder.rs
  crates/transport/transport/src/channel/registry.rs
  crates/transport/transport/src/packet/compression.rs
  crates/transport/transport/src/plugin.rs
Due: rustfmt, clippy, docs, taplo

nit(avian): automatically register avian components
  crates/integration/avian/src/lib.rs
  crates/integration/avian/src/plugin.rs
  crates/integration/avian2d/Cargo.toml
  crates/integration/avian3d/Cargo.toml
  crates/replication/replication/src/lib.rs
  crates/tests/src/client_server/avian/position_replication.rs
  crates/tests/src/client_server/deterministic/protocol.rs
  crates/tests/src/protocol.rs
  examples/avian_2d/src/protocol.rs
  examples/avian_3d/README.md
  examples/avian_3d/src/client.rs
  examples/avian_3d/src/protocol.rs
  examples/avian_3d/src/renderer.rs
  examples/avian_3d/src/server.rs
  examples/avian_3d/src/shared.rs
  examples/deterministic_replication/src/shared.rs
  examples/fps/src/shared.rs
  examples/projectiles/src/protocol.rs
Due: rustfmt, clippy, docs, taplo

fix(avian): serialize physics components directly
  Cargo.toml
  crates/integration/avian/src/plugin.rs
  crates/integration/avian2d/Cargo.toml
  crates/integration/avian3d/Cargo.toml
Due: rustfmt, clippy, docs, taplo

nit(avian): automatically register avian components (#1608)
  Cargo.toml
  crates/integration/avian/src/lib.rs
  crates/integration/avian/src/plugin.rs
  crates/integration/avian2d/Cargo.toml
  crates/integration/avian3d/Cargo.toml
  crates/replication/replication/src/lib.rs
  crates/tests/src/client_server/deterministic/protocol.rs
  crates/tests/src/protocol.rs
  examples/avian_2d/src/protocol.rs
  examples/avian_3d/README.md
  examples/avian_3d/src/client.rs
  examples/avian_3d/src/protocol.rs
  examples/avian_3d/src/renderer.rs
  examples/avian_3d/src/server.rs
  examples/avian_3d/src/shared.rs
  examples/deterministic_replication/src/shared.rs
  examples/fps/src/shared.rs
  examples/projectiles/src/protocol.rs
Due: rustfmt, clippy, docs, taplo

refactor(replication): remove legacy delta compression
  crates/replication/prediction/Cargo.toml
  crates/replication/prediction/src/correction.rs
  crates/replication/prediction/src/registry.rs
  crates/replication/replication/Cargo.toml
  crates/replication/replication/src/REPLICON_INTEGRATION.md
  crates/replication/replication/src/delta.rs
  crates/replication/replication/src/diffable.rs
  crates/replication/replication/src/impls/avian2d.rs
  crates/replication/replication/src/impls/avian3d.rs
  crates/replication/replication/src/impls/mod.rs
  crates/replication/replication/src/lib.rs
  crates/replication/replication/src/registry/mod.rs
  crates/replication/replication/src/registry/replication.rs
  crates/tests/src/client_server/delta.rs
  crates/tests/src/client_server/deterministic/stepper.rs
  crates/tests/src/client_server/mod.rs
  crates/tests/src/protocol.rs
  crates/tests/src/stepper.rs
Due: rustfmt, clippy, docs, taplo

refactor(core): make Tick a non-wrapping u32
  crates/core/core/src/tick.rs
  crates/core/sync/src/client.rs
  crates/inputs/inputs/src/client.rs
  crates/inputs/inputs/src/server.rs
  crates/replication/prediction/src/manager.rs
  crates/replication/prediction/src/rollback.rs
  crates/tests/src/client_server/prediction/rollback.rs
  crates/tests/src/client_server/replication.rs
Due: rustfmt, clippy, docs

refactor(transport): consolidate channel lanes
  Cargo.toml
  crates/replication/replication/src/client.rs
  crates/replication/replication/src/server.rs
  crates/transport/messages/src/plugin.rs
  crates/transport/messages/src/receive.rs
  crates/transport/transport/Cargo.toml
  crates/transport/transport/src/channel/builder.rs
  crates/transport/transport/src/channel/receivers/mod.rs
  crates/transport/transport/src/channel/receivers/ordered_reliable.rs
  crates/transport/transport/src/channel/receivers/sequenced_reliable.rs
  crates/transport/transport/src/channel/receivers/sequenced_unreliable.rs
  crates/transport/transport/src/channel/receivers/unordered_reliable.rs
  crates/transport/transport/src/channel/receivers/unordered_unreliable.rs
  crates/transport/transport/src/channel/senders/mod.rs
  crates/transport/transport/src/channel/senders/reliable.rs
  crates/transport/transport/src/channel/senders/sequenced_unreliable.rs
  crates/transport/transport/src/channel/senders/unordered_unreliable.rs
  crates/transport/transport/src/channel/senders/unordered_unreliable_with_acks.rs
  crates/transport/transport/src/client.rs
  crates/transport/transport/src/lib.rs
  crates/transport/transport/src/packet/message.rs
  crates/transport/transport/src/plugin.rs
  crates/transport/transport/src/server.rs
Due: rustfmt, clippy, docs, taplo

refactor(transport): remove ordered wrapping ID maps
  crates/core/utils/src/wrapping_id.rs
  crates/replication/replication/src/client.rs
  crates/replication/replication/src/server.rs
  crates/transport/messages/src/plugin.rs
  crates/transport/messages/src/receive.rs
  crates/transport/transport/src/channel/builder.rs
  crates/transport/transport/src/channel/fragments.rs
  crates/transport/transport/src/channel/fragments/receive.rs
  crates/transport/transport/src/channel/fragments/send.rs
  crates/transport/transport/src/channel/mod.rs
  crates/transport/transport/src/channel/receive.rs
  crates/transport/transport/src/channel/receivers/error.rs
  crates/transport/transport/src/channel/receivers/mod.rs
  crates/transport/transport/src/channel/send.rs
  crates/transport/transport/src/channel/send_reliable.rs
  crates/transport/transport/src/channel/senders/fragment_ack_receiver.rs
  crates/transport/transport/src/channel/senders/fragment_sender.rs
  crates/transport/transport/src/client.rs
  crates/transport/transport/src/error.rs
  crates/transport/transport/src/lib.rs
  crates/transport/transport/src/packet/error.rs
  crates/transport/transport/src/packet/header.rs
  crates/transport/transport/src/packet/message.rs
  crates/transport/transport/src/packet/packet.rs
  crates/transport/transport/src/packet/packet_builder.rs
  crates/transport/transport/src/packet/packet_type.rs
  crates/transport/transport/src/packet/priority_manager.rs
  crates/transport/transport/src/packet/stats_manager.rs
  crates/transport/transport/src/plugin.rs
  crates/transport/transport/src/server.rs
Due: rustfmt, clippy, docs

refactor(core): make Tick a non-wrapping u32 (#1609)
  crates/core/core/src/tick.rs
  crates/core/sync/src/client.rs
  crates/inputs/inputs/src/client.rs
  crates/inputs/inputs/src/server.rs
  crates/replication/prediction/src/manager.rs
  crates/replication/prediction/src/rollback.rs
  crates/tests/src/client_server/prediction/rollback.rs
  crates/tests/src/client_server/replication.rs
Due: rustfmt, clippy, docs

refactor(replication): remove legacy delta compression (#1611)
  crates/replication/prediction/Cargo.toml
  crates/replication/prediction/src/correction.rs
  crates/replication/prediction/src/registry.rs
  crates/replication/replication/Cargo.toml
  crates/replication/replication/src/REPLICON_INTEGRATION.md
  crates/replication/replication/src/delta.rs
  crates/replication/replication/src/diffable.rs
  crates/replication/replication/src/impls/avian2d.rs
  crates/replication/replication/src/impls/avian3d.rs
  crates/replication/replication/src/impls/mod.rs
  crates/replication/replication/src/lib.rs
  crates/replication/replication/src/registry/mod.rs
  crates/replication/replication/src/registry/replication.rs
  crates/tests/src/client_server/delta.rs
  crates/tests/src/client_server/deterministic/stepper.rs
  crates/tests/src/client_server/mod.rs
  crates/tests/src/protocol.rs
  crates/tests/src/stepper.rs
Due: rustfmt, clippy, docs, taplo

refactor(transport): remove ordered wrapping ID maps
  crates/core/utils/src/wrapping_id.rs
  crates/transport/transport/src/channel/receivers/ordered_reliable.rs
  crates/transport/transport/src/channel/receivers/sequenced_reliable.rs
  crates/transport/transport/src/channel/receivers/unordered_reliable.rs
  crates/transport/transport/src/channel/senders/reliable.rs
  crates/transport/transport/src/packet/message.rs
  crates/transport/transport/src/packet/priority_manager.rs
Due: rustfmt, clippy, docs

refactor(utils): simplify wrapping ID comparison
  crates/core/utils/src/wrapping_id.rs
Due: rustfmt, clippy, docs

refactor(transport): remove ordered wrapping-ID maps (#1610)
  crates/core/utils/src/wrapping_id.rs
  crates/transport/transport/src/channel/receivers/ordered_reliable.rs
  crates/transport/transport/src/channel/receivers/sequenced_reliable.rs
  crates/transport/transport/src/channel/receivers/unordered_reliable.rs
  crates/transport/transport/src/channel/senders/reliable.rs
  crates/transport/transport/src/packet/message.rs
  crates/transport/transport/src/packet/priority_manager.rs
Due: rustfmt, clippy, docs

refactor(transport): apply wrapping-ID map changes to main (#1613)
  crates/core/utils/src/wrapping_id.rs
  crates/transport/transport/src/channel/receivers/ordered_reliable.rs
  crates/transport/transport/src/channel/receivers/sequenced_reliable.rs
  crates/transport/transport/src/channel/receivers/unordered_reliable.rs
  crates/transport/transport/src/channel/senders/reliable.rs
  crates/transport/transport/src/packet/message.rs
  crates/transport/transport/src/packet/priority_manager.rs
Due: rustfmt, clippy, docs

fix: improve handling of connection state transitions
  crates/connection/connection/src/identity.rs
  crates/connection/connection/src/lib.rs
  crates/connection/connection/src/server.rs
  crates/inputs/input_bei/src/plugin.rs
  crates/replication/replication/src/server.rs
Due: rustfmt, clippy, docs

fix: improve handling of connection state transitions (#1615)
  crates/connection/connection/src/identity.rs
  crates/connection/connection/src/lib.rs
  crates/connection/connection/src/server.rs
  crates/inputs/input_bei/src/plugin.rs
  crates/replication/replication/src/server.rs
Due: rustfmt, clippy, docs

fix(prediction): preserve pre-target history so deeper rollbacks restore canonically
  crates/replication/prediction/src/rollback.rs
Due: rustfmt, clippy, docs

fix(avian): restore persistent physics state on rollback
  Cargo.toml
  crates/core/lightyear/Cargo.toml
  crates/integration/avian/src/lib.rs
  crates/integration/avian/src/plugin.rs
  crates/integration/avian/src/rollback.rs
  crates/integration/avian2d/Cargo.toml
  crates/integration/avian3d/Cargo.toml
  crates/replication/prediction/src/predicted_history.rs
  crates/replication/prediction/src/registry.rs
Due: rustfmt, clippy, docs, taplo

fix(avian): restore persistent physics state on rollback (#1619)
  Cargo.toml
  crates/core/lightyear/Cargo.toml
  crates/integration/avian/src/lib.rs
  crates/integration/avian/src/plugin.rs
  crates/integration/avian/src/rollback.rs
  crates/integration/avian2d/Cargo.toml
  crates/integration/avian3d/Cargo.toml
  crates/replication/prediction/src/predicted_history.rs
  crates/replication/prediction/src/registry.rs
Due: rustfmt, clippy, docs, taplo

fix(deps): disable bevy_replicon's default world_serialization feature
  Cargo.toml
Due: taplo

fix(raw): tolerate clients despawned during server stop
  crates/connection/raw_connection/src/server.rs
Due: rustfmt, clippy, docs

fix(deps): disable bevy_replicon's default world_serialization feature (#1620)
  Cargo.toml
Due: taplo

fix(raw): tolerate clients despawned during server stop (#1621)
  crates/connection/raw_connection/src/server.rs
Due: rustfmt, clippy, docs

fix(prediction): prune prediction history
  crates/core/sync/src/timeline/input.rs
  crates/deterministic/deterministic_replication/src/late_join/client.rs
  crates/inputs/inputs/src/client.rs
  crates/replication/prediction/src/manager.rs
  crates/replication/prediction/src/predicted_history.rs
  crates/replication/prediction/src/rollback.rs
Due: rustfmt, clippy, docs

perf: fix benchmarks and reduce allocations
  benches/criterion/Cargo.toml
  benches/criterion/benches/bandwidth/replication.rs
  benches/criterion/benches/bandwidth/transport_compression.rs
  benches/criterion/src/measurements/bandwidth.rs
  crates/core/sync/src/ping/manager.rs
  crates/core/sync/src/ping/plugin.rs
  crates/replication/prediction/src/registry.rs
  crates/replication/replication/src/client.rs
  crates/tests/Cargo.toml
  crates/tests/src/protocol.rs
  crates/tests/src/stepper.rs
  crates/tests/tests/allocation_profile.rs
  crates/tests/tests/allocation_regression.rs
Due: rustfmt, clippy, docs, taplo

test: make allocation checks less brittle
  crates/tests/src/protocol.rs
  crates/tests/src/stepper.rs
  crates/tests/tests/allocation_profile.rs
  crates/tests/tests/allocation_regression.rs
Due: rustfmt, clippy, docs
