Repository cBournhonesque/lightyear: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, docs, taplo

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        description: Check if all files follow the rustfmt style
        entry: cargo fmt --all -- --check --color always
        types: [rust]
        language: system
        pass_filenames: false

      - id: clippy
        name: clippy
        description: Run clippy linter
        entry: cargo clippy --features=lightyear_core/not_mock --workspace --exclude=compiletime --exclude=avian_3d_character --exclude=launcher --exclude=delta_compression --exclude=distributed_authority --no-deps -- -D warnings -A clippy::needless_lifetimes
        types: [rust]
        language: system
        pass_filenames: false

      - id: docs
        name: docs
        description: Build the documentation to ensure there are no errors
        entry: cargo +nightly doc --all-features --workspace --document-private-items --no-deps --keep-going
        types: [rust]
        language: system
        pass_filenames: false

      - id: taplo
        name: Taplo TOML formatter
        description: Check formatting of all TOML files using Taplo
        entry: taplo fmt --check
        types: [toml]
        language: system
        pass_filenames: false

fix(delta): implement server-side reconstruction tracking to prevent quantization drift
  lightyear_replication/src/delta.rs
  lightyear_replication/src/registry/delta.rs
  lightyear_replication/src/send/buffer.rs
  lightyear_replication/src/send/sender.rs
Due: rustfmt, clippy, docs

fix(delta): clone-based reconstruction for multi-connection scenarios
  lightyear_interpolation/src/interpolate.rs
  lightyear_interpolation/src/interpolation_history.rs
  lightyear_replication/src/delta.rs
  lightyear_replication/src/registry/delta.rs
  lightyear_replication/src/send/sender.rs
Due: rustfmt, clippy, docs

fix: disable aggressive DeltaManager cleanup to fix multi-client race condition
  lightyear_replication/src/delta.rs
Due: rustfmt, clippy, docs

fix(delta): remove unused parameter and add entity despawn cleanup
  lightyear_replication/src/send/sender.rs
Due: rustfmt, clippy, docs

fix(delta): resync-aware baselines; drop absolute deltas
  lightyear_replication/src/delta.rs
  lightyear_replication/src/lib.rs
  lightyear_replication/src/registry/delta.rs
  lightyear_replication/src/send/buffer.rs
  lightyear_replication/src/send/sender.rs
Due: rustfmt, clippy, docs

fix(visibility): preserve PerSenderReplicationState on Lost to retain predicted/interpolated flags
  lightyear_replication/src/visibility/immediate.rs
Due: rustfmt, clippy, docs

fix(visibility): preserve PerSenderReplicationState on Lost to retain predicted/interpolated flags (#1401)
  lightyear_replication/src/visibility/immediate.rs
Due: rustfmt, clippy, docs

ci: pipeline jobs test and format fail
  Cargo.toml
  lightyear_replication/src/visibility/immediate.rs
Due: rustfmt, clippy, docs, taplo

impl Default + Clone + Copy for Interpolated
  lightyear_core/src/interpolation.rs
Due: rustfmt, clippy, docs

impl Default + Clone + Copy for Interpolated (#1405)
  lightyear_core/src/interpolation.rs
Due: rustfmt, clippy, docs

chore: fix gh actions
  Cargo.toml
  lightyear_replication/src/visibility/immediate.rs
Due: rustfmt, clippy, docs, taplo

chore: fix gh actions (#1409)
  Cargo.toml
  lightyear_replication/src/visibility/immediate.rs
Due: rustfmt, clippy, docs, taplo

fix: host-client mode for simple-box
  examples/simple_box/src/client.rs
Due: rustfmt, clippy, docs

fix: host-client mode for simple-box (#1410)
  examples/simple_box/src/client.rs
Due: rustfmt, clippy, docs

fix: update bevy features for examples
  Cargo.toml
  certificates/cert.pem
  certificates/digest.txt
  certificates/key.pem
Due: taplo

fix: update bevy features for examples (#1412)
  Cargo.toml
  certificates/cert.pem
  certificates/digest.txt
  certificates/key.pem
Due: taplo

fix: don't abort remaining component inserts on single failure
  lightyear_replication/src/receive.rs
Due: rustfmt, clippy, docs

fix: don't abort remaining component inserts on single failure (#1416)
  lightyear_replication/src/receive.rs
Due: rustfmt, clippy, docs

disable default features for bei
  Cargo.toml
Due: taplo

interpolation: init confirmed history when Interpolated is added
  lightyear_interpolation/src/interpolation_history.rs
  lightyear_interpolation/src/plugin.rs
Due: rustfmt, clippy, docs

fix: host-client controlled component
  lightyear_replication/src/host.rs
Due: rustfmt, clippy, docs

remove ApplyPosToTransform required component
  lightyear_avian/src/plugin.rs
Due: rustfmt, clippy, docs

fix: re-apply prediction, interpolation target on visibility gained
  lightyear_replication/src/visibility/room.rs
Due: rustfmt, clippy, docs

Claude session 1
  lightyear_replication/src/REPLICON_INTEGRATION.md
  lightyear_replication/src/channels.rs
  lightyear_replication/src/client.rs
  lightyear_replication/src/hierarchy.rs
  lightyear_replication/src/lib.rs
  lightyear_replication/src/metadata.rs
  lightyear_replication/src/registry/replication.rs
  lightyear_replication/src/send.rs
  lightyear_replication/src/send/buffer.rs
  lightyear_replication/src/server.rs
  lightyear_replication/src/visibility/immediate.rs
  lightyear_replication/src/visibility/room.rs
Due: rustfmt, clippy, docs

fix: re-apply prediction, interpolation target on visibility gained (#1428)
  lightyear_replication/src/visibility/room.rs
Due: rustfmt, clippy, docs

Claude session 2
  Cargo.toml
  examples/replicon/Cargo.toml
  lightyear_core/src/interpolation.rs
  lightyear_core/src/prediction.rs
  lightyear_inputs_bei/src/plugin.rs
  lightyear_interpolation/src/registry.rs
  lightyear_prediction/src/registry.rs
  lightyear_replication/Cargo.toml
  lightyear_replication/src/lib.rs
  lightyear_replication/src/prespawn.rs
  lightyear_replication/src/receive.rs
  lightyear_tests/src/client_server/avian/position_replication.rs
  lightyear_tests/src/client_server/base.rs
  lightyear_tests/src/client_server/input/bei.rs
  lightyear_tests/src/client_server/input/mod.rs
  lightyear_tests/src/client_server/input/native.rs
  lightyear_tests/src/client_server/mod.rs
  lightyear_tests/src/client_server/prediction/despawn.rs
  lightyear_tests/src/client_server/prediction/history.rs
  lightyear_tests/src/client_server/prediction/mod.rs
  lightyear_tests/src/client_server/prediction/prespawn.rs
  lightyear_tests/src/client_server/prediction/rollback.rs
  lightyear_tests/src/client_server/replication.rs
  lightyear_tests/src/client_server/visibility.rs
  lightyear_tests/src/host_server/input/bei.rs
  lightyear_tests/src/host_server/input/mod.rs
  lightyear_transport/src/channel/builder.rs
Due: rustfmt, clippy, docs, taplo

Claude fix 3
  lightyear_inputs_bei/src/plugin.rs
  lightyear_inputs_bei/src/setup.rs
  lightyear_replication/src/metadata.rs
  lightyear_tests/src/client_server/input/bei.rs
Due: rustfmt, clippy, docs

Add host-server tests + claude skills
  .claude/skills/01-repo-overview.md
  .claude/skills/02-replicon-migration.md
  .claude/skills/03-testing.md
  .claude/skills/04-prediction-system.md
  .claude/skills/05-replication-internals.md
  .claude/skills/06-common-patterns.md
  lightyear_tests/src/host_server/mod.rs
  lightyear_tests/src/host_server/replication.rs
Due: rustfmt, clippy, docs

Fix input tests
  lightyear_inputs_bei/src/marker.rs
  lightyear_tests/src/client_server/input/mod.rs
  lightyear_tests/src/host_server/input/bei.rs
  lightyear_tests/src/host_server/input/mod.rs
Due: rustfmt, clippy, docs

Nit fixes
  lightyear/src/server.rs
  lightyear/src/shared.rs
  lightyear_core/src/history_buffer.rs
  lightyear_inputs_bei/src/setup.rs
  lightyear_prediction/src/manager.rs
  lightyear_prediction/src/registry.rs
  lightyear_prediction/src/rollback.rs
  lightyear_replication/src/channels.rs
  lightyear_tests/src/client_server/prediction/despawn.rs
  lightyear_tests/src/client_server/prediction/prespawn.rs
  lightyear_tests/src/client_server/prediction/rollback.rs
  lightyear_tests/src/client_server/visibility.rs
Due: rustfmt, clippy, docs

More test fixes
  examples/replicon/.cargo/config.toml
  examples/replicon/Cargo.toml
  examples/replicon/README.md
  examples/replicon/index.html
  examples/replicon/src/client.rs
  examples/replicon/src/lib.rs
  examples/replicon/src/main.rs
  examples/replicon/src/protocol.rs
  examples/replicon/src/renderer.rs
  examples/replicon/src/server.rs
  examples/replicon/src/shared.rs
  lightyear_inputs/src/server.rs
  lightyear_replication/src/visibility/room.rs
  lightyear_tests/src/client_server/avian/position_replication.rs
  lightyear_tests/src/client_server/input/bei.rs
  lightyear_tests/src/client_server/input/native.rs
Due: rustfmt, clippy, docs, taplo

try examples
  certificates/cert.pem
  certificates/digest.txt
  certificates/key.pem
  lightyear_replication/src/hierarchy.rs
  lightyear_replication/src/lib.rs
Due: rustfmt, clippy, docs

Use released version of replicon
  Cargo.toml
  lightyear_replication/src/metadata.rs
  todo.md
Due: rustfmt, clippy, docs, taplo

add InputMarker only in entities with authority
  lightyear_inputs_bei/src/marker.rs
Due: rustfmt, clippy, docs

fix simple_box example
  .cargo/config.toml
  examples/common/src/cli.rs
  examples/simple_box/src/client.rs
  lightyear_replication/src/client.rs
  lightyear_replication/src/control.rs
  lightyear_replication/src/send.rs
  lightyear_tests/Cargo.toml
  lightyear_tests/src/client_server/input/mod.rs
  lightyear_tests/src/client_server/replication.rs
  lightyear_tests/src/host_server/input/mod.rs
  lightyear_tests/src/protocol.rs
  todo.md
Due: rustfmt, clippy, docs, taplo

Fix simple-box client-server mode
  .claude/.stone-agent-env
  examples/simple_box/Cargo.toml
  examples/simple_box/README.md
  examples/simple_box/src/client.rs
  examples/simple_box/src/server.rs
  lightyear_tests/src/client_server/avian/position_replication.rs
  lightyear_tests/src/client_server/input/native.rs
  lightyear_tests/src/client_server/prediction/history.rs
  lightyear_tests/src/client_server/prediction/mod.rs
  lightyear_tests/src/client_server/prediction/prespawn.rs
  lightyear_tests/src/client_server/prediction/rollback.rs
  lightyear_tests/src/client_server/prediction/spawn.rs
  lightyear_tests/src/client_server/replication.rs
  lightyear_tests/src/client_server/visibility.rs
  lightyear_tests/src/protocol.rs
Due: rustfmt, clippy, docs, taplo
