Repository cBournhonesque/lightyear: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, docs, taplo

rustfmt:
  name: rustfmt
  description: Check if all files follow the rustfmt style
  entry: cargo fmt --all -- --check --color always
  language: system
  pass_filenames: false

clippy:
  name: clippy
  description: Run clippy linter
  entry: cargo clippy --features=lightyear_core/not_mock --workspace --exclude=compiletime --exclude=avian_3d_character --exclude=launcher --exclude=delta_compression --exclude=distributed_authority --no-deps -- -D warnings -A clippy::needless_lifetimes
  ...

docs:
  name: docs
  description: Build the documentation to ensure there are no errors
  entry: cargo +nightly doc --all-features --workspace --document-private-items --no-deps --keep-going
  language: system
  pass_filenames: false

taplo:
  name: Taplo TOML formatter
  description: Check formatting of all TOML files using Taplo
  entry: taplo fmt --check
  language: system
  pass_filenames: false

feat: rust based wtransport certificate generation
  Cargo.toml
  certificates/Cargo.toml
  certificates/src/main.rs
Due: rustfmt, clippy, docs, taplo

feat: add reason to disconnected status (#1377)
  examples/common/src/client_renderer.rs
Due: rustfmt, clippy, docs

wip tests
  lightyear_inputs/src/server.rs
  lightyear_prediction/src/rollback.rs
  lightyear_replication/src/hierarchy.rs
  lightyear_replication/src/lib.rs
  lightyear_replication/src/metadata.rs
  lightyear_replication/src/server.rs
  lightyear_replication/src/visibility/immediate.rs
  lightyear_replication/src/visibility/room.rs
  lightyear_tests/src/client_server/base.rs
  lightyear_tests/src/client_server/input/native.rs
  lightyear_tests/src/client_server/mod.rs
  lightyear_tests/src/client_server/prediction/history.rs
  lightyear_tests/src/client_server/prediction/mod.rs
  lightyear_tests/src/client_server/prediction/rollback.rs
  lightyear_tests/src/client_server/replication.rs
  lightyear_tests/src/client_server/visibility.rs
  lightyear_tests/src/host_server/base.rs
Due: rustfmt, clippy, docs

chore: release lightyear 0.26
  .release.toml
  Cargo.toml
  README.md
  lightyear_avian2d/Cargo.toml
  lightyear_avian2d/src
  lightyear_avian3d/Cargo.toml
  lightyear_avian3d/src
Due: taplo

chore: Release
  Cargo.toml
  justfile
  lightyear/Cargo.toml
  lightyear_aeronet/Cargo.toml
  lightyear_avian2d/Cargo.toml
  lightyear_avian3d/Cargo.toml
  lightyear_connection/Cargo.toml
  lightyear_core/Cargo.toml
  lightyear_crossbeam/Cargo.toml
  lightyear_deterministic_replication/Cargo.toml
  lightyear_frame_interpolation/Cargo.toml
  lightyear_inputs/Cargo.toml
  lightyear_inputs_bei/Cargo.toml
  lightyear_inputs_leafwing/Cargo.toml
  lightyear_inputs_native/Cargo.toml
  lightyear_interpolation/Cargo.toml
  lightyear_link/Cargo.toml
  lightyear_messages/Cargo.toml
  lightyear_metrics/Cargo.toml
  lightyear_netcode/Cargo.toml
  lightyear_prediction/Cargo.toml
  lightyear_raw_connection/Cargo.toml
  lightyear_replication/Cargo.toml
  lightyear_replication/src/receive.rs
  lightyear_serde/Cargo.toml
  lightyear_steam/Cargo.toml
  lightyear_sync/Cargo.toml
  lightyear_transport/Cargo.toml
  lightyear_udp/Cargo.toml
  lightyear_ui/Cargo.toml
  lightyear_utils/Cargo.toml
  lightyear_websocket/Cargo.toml
  lightyear_webtransport/Cargo.toml
Due: rustfmt, clippy, docs, taplo

chore: Release
  Cargo.toml
  lightyear/Cargo.toml
  lightyear_aeronet/Cargo.toml
  lightyear_avian2d/Cargo.toml
  lightyear_avian3d/Cargo.toml
  lightyear_connection/Cargo.toml
  lightyear_core/Cargo.toml
  lightyear_crossbeam/Cargo.toml
  lightyear_deterministic_replication/Cargo.toml
  lightyear_frame_interpolation/Cargo.toml
  lightyear_inputs/Cargo.toml
  lightyear_inputs_bei/Cargo.toml
  lightyear_inputs_leafwing/Cargo.toml
  lightyear_inputs_native/Cargo.toml
  lightyear_interpolation/Cargo.toml
  lightyear_link/Cargo.toml
  lightyear_messages/Cargo.toml
  lightyear_metrics/Cargo.toml
  lightyear_netcode/Cargo.toml
  lightyear_prediction/Cargo.toml
  lightyear_raw_connection/Cargo.toml
  lightyear_replication/Cargo.toml
  lightyear_serde/Cargo.toml
  lightyear_steam/Cargo.toml
  lightyear_sync/Cargo.toml
  lightyear_transport/Cargo.toml
  lightyear_udp/Cargo.toml
  lightyear_ui/Cargo.toml
  lightyear_utils/Cargo.toml
  lightyear_websocket/Cargo.toml
  lightyear_webtransport/Cargo.toml
Due: taplo

chore: Release
  justfile
Due: none

chore: release lightyear 0.26 (#1387)
  .release.toml
  Cargo.toml
  README.md
  justfile
  lightyear/Cargo.toml
  lightyear_aeronet/Cargo.toml
  lightyear_avian2d/Cargo.toml
  lightyear_avian2d/src
  lightyear_avian3d/Cargo.toml
  lightyear_avian3d/src
  lightyear_connection/Cargo.toml
  lightyear_core/Cargo.toml
  lightyear_crossbeam/Cargo.toml
  lightyear_deterministic_replication/Cargo.toml
  lightyear_frame_interpolation/Cargo.toml
  lightyear_inputs/Cargo.toml
  lightyear_inputs_bei/Cargo.toml
  lightyear_inputs_leafwing/Cargo.toml
  lightyear_inputs_native/Cargo.toml
  lightyear_interpolation/Cargo.toml
  lightyear_link/Cargo.toml
  lightyear_messages/Cargo.toml
  lightyear_metrics/Cargo.toml
  lightyear_netcode/Cargo.toml
  lightyear_prediction/Cargo.toml
  lightyear_raw_connection/Cargo.toml
  lightyear_replication/Cargo.toml
  lightyear_replication/src/receive.rs
  lightyear_serde/Cargo.toml
  lightyear_steam/Cargo.toml
  lightyear_sync/Cargo.toml
  lightyear_transport/Cargo.toml
  lightyear_udp/Cargo.toml
  lightyear_ui/Cargo.toml
  lightyear_utils/Cargo.toml
  lightyear_websocket/Cargo.toml
  lightyear_webtransport/Cargo.toml
Due: rustfmt, clippy, docs, taplo

fix: fix doc test
  lightyear_replication/src/send/components.rs
Due: rustfmt, clippy, docs

fix: doctest
  lightyear_replication/src/send/components.rs
Due: rustfmt, clippy, docs

fix: doctest (#1388)
  lightyear_replication/src/send/components.rs
Due: rustfmt, clippy, docs

fix: cargo.toml
  Cargo.toml
Due: taplo

chore: add video to avian 3d examples
  examples/avian_3d_character/README.md
Due: none

chore: update deps
  Cargo.toml
  certificates/cert.pem
  certificates/digest.txt
  certificates/key.pem
  examples/build_wasm.sh
  lightyear/Cargo.toml
  lightyear/src/client.rs
  lightyear/src/lib.rs
  lightyear/src/web.rs
  lightyear_messages/src/plugin.rs
  lightyear_replication/src/send/components.rs
  lightyear_web/CHANGELOG.md
  lightyear_web/Cargo.toml
  lightyear_web/src/background_worker.rs
  lightyear_web/src/lib.rs
Due: rustfmt, clippy, docs, taplo

chore: update deps (#1390)
  Cargo.toml
  certificates/cert.pem
  certificates/digest.txt
  certificates/key.pem
  examples/build_wasm.sh
  lightyear/Cargo.toml
  lightyear/src/client.rs
  lightyear/src/lib.rs
  lightyear/src/web.rs
  lightyear_messages/src/plugin.rs
  lightyear_replication/src/send/components.rs
  lightyear_web/CHANGELOG.md
  lightyear_web/Cargo.toml
  lightyear_web/src/background_worker.rs
  lightyear_web/src/lib.rs
Due: rustfmt, clippy, docs, taplo

chore: 0.26.1
  justfile
Due: none

chore: Release
  Cargo.toml
  examples/auth/Cargo.toml
  examples/avian_3d_character/Cargo.toml
  examples/avian_physics/Cargo.toml
  examples/bevy_enhanced_inputs/Cargo.toml
  examples/client_replication/Cargo.toml
  examples/delta_compression/Cargo.toml
  examples/deterministic_replication/Cargo.toml
  examples/distributed_authority/Cargo.toml
  examples/fps/Cargo.toml
  examples/launcher/Cargo.toml
  examples/lobby/Cargo.toml
  examples/network_visibility/Cargo.toml
  examples/priority/Cargo.toml
  examples/projectiles/Cargo.toml
  examples/replication_groups/Cargo.toml
  examples/simple_box/Cargo.toml
  examples/simple_setup/Cargo.toml
Due: taplo

feat: vendor bevy_web_keepalive
  lightyear_web/CHANGELOG.md
  lightyear_web/Cargo.toml
  lightyear_web/src/background_worker.rs
  lightyear_web/src/lib.rs
Due: rustfmt, clippy, docs, taplo

implement replication target
  lightyear_replicon/Cargo.toml
  lightyear_replicon/src/authority.rs
  lightyear_replicon/src/control.rs
  lightyear_replicon/src/lib.rs
  lightyear_replicon/src/registry.rs
  lightyear_replicon/src/send.rs
  lightyear_replicon/src/server.rs
  lightyear_replicon/src/sync_target.rs
Due: rustfmt, clippy, docs, taplo

fix prediction to work with replicon
  Cargo.toml
  examples/common/src/client.rs
  lightyear_interpolation/Cargo.toml
  lightyear_interpolation/src/despawn.rs
  lightyear_interpolation/src/interpolation_history.rs
  lightyear_interpolation/src/lib.rs
  lightyear_interpolation/src/plugin.rs
  lightyear_interpolation/src/registry.rs
  lightyear_prediction/Cargo.toml
  lightyear_prediction/src/manager.rs
  lightyear_prediction/src/plugin.rs
  lightyear_prediction/src/predicted_history.rs
  lightyear_prediction/src/registry.rs
  lightyear_prediction/src/rollback.rs
  lightyear_replication/src/PLAN.md
  lightyear_replication/src/lib.rs
  lightyear_replication/src/metadata.rs
  lightyear_replication/src/receive.rs
  lightyear_replication/src/registry/deterministic.rs
  lightyear_replication/src/registry/mod.rs
  lightyear_replication/src/send.rs
  lightyear_replication/src/server.rs
Due: rustfmt, clippy, docs, taplo

fix prediction to work with replicon
  lightyear_replication/src/hierarchy.rs
  lightyear_replication/src/impls/avian2d.rs
  lightyear_replication/src/impls/avian3d.rs
  lightyear_replication/src/impls/mod.rs
  lightyear_replication/src/visibility/error.rs
  lightyear_replication/src/visibility/immediate.rs
  lightyear_replication/src/visibility/mod.rs
  lightyear_replication/src/visibility/room.rs
Due: rustfmt, clippy, docs

wip tests
  Cargo.toml
  lightyear_prediction/src/predicted_history.rs
  lightyear_replication/Cargo.toml
  lightyear_replication/src/hierarchy.rs
  lightyear_replication/src/lib.rs
  lightyear_replication/src/receive.rs
  lightyear_replication/src/send.rs
  lightyear_replication/src/visibility/immediate.rs
  lightyear_replication/src/visibility/room.rs
  lightyear_tests/Cargo.toml
  lightyear_tests/src/client_server/avian/position_replication.rs
  lightyear_tests/src/client_server/avian/transform_replication.rs
  lightyear_tests/src/client_server/mod.rs
  lightyear_tests/src/client_server/prediction/history.rs
  lightyear_tests/src/client_server/prediction/prespawn.rs
  lightyear_tests/src/client_server/prediction/rollback.rs
  lightyear_tests/src/client_server/replication.rs
  lightyear_tests/src/client_server/replication_advanced.rs
  lightyear_tests/src/client_server/visibility.rs
  lightyear_tests/src/protocol.rs
  lightyear_tests/src/stepper.rs
Due: rustfmt, clippy, docs, taplo

tests compile
  lightyear_core/src/interpolation.rs
  lightyear_core/src/prediction.rs
  lightyear_inputs_bei/Cargo.toml
  lightyear_inputs_bei/src/plugin.rs
  lightyear_inputs_bei/src/setup.rs
  lightyear_replication/Cargo.toml
  lightyear_replication/src/lib.rs
  lightyear_replication/src/send.rs
Due: rustfmt, clippy, docs, taplo

feat: update rollback logic
  lightyear_core/src/history_buffer.rs
  lightyear_prediction/src/lib.rs
  lightyear_prediction/src/manager.rs
  lightyear_prediction/src/plugin.rs
  lightyear_prediction/src/predicted_history.rs
  lightyear_prediction/src/registry.rs
  lightyear_prediction/src/rollback.rs
  lightyear_replication/src/PLAN.md
  lightyear_replication/src/client.rs
  lightyear_replication/src/lib.rs
Due: rustfmt, clippy, docs

fix: don’t drop PerSenderReplicationState on visibility Lost
  lightyear_replication/src/visibility/immediate.rs
Due: rustfmt, clippy, docs

feat: expose user data in connection token
  lightyear_netcode/src/lib.rs
  lightyear_netcode/src/server.rs
  lightyear_netcode/src/server_plugin.rs
Due: rustfmt, clippy, docs

fix: nit
  lightyear_netcode/src/server.rs
Due: rustfmt, clippy, docs

Expose user data in connection token (#1393)
  lightyear_netcode/src/lib.rs
  lightyear_netcode/src/server.rs
  lightyear_netcode/src/server_plugin.rs
Due: rustfmt, clippy, docs

fix docs
  lightyear_avian2d/Cargo.toml
  lightyear_avian3d/Cargo.toml
  lightyear_replication/src/authority.rs
Due: rustfmt, clippy, docs, taplo

chore: 0.26.3 to fix docs
  justfile
  lightyear_avian2d/Cargo.toml
  lightyear_avian2d/src
  lightyear_avian3d/Cargo.toml
  lightyear_avian3d/src
Due: taplo

test(delta): add integration test for predicted delta compression
  lightyear_tests/src/client_server/delta.rs
  lightyear_tests/src/protocol.rs
Due: rustfmt, clippy, docs

fix(delta): copy clone function to delta message metadata
  lightyear_replication/src/registry/delta.rs
Due: rustfmt, clippy, docs

Path conditions:
  rustfmt: any of: \.rs$
  clippy: any of: \.rs$
  docs: any of: \.rs$
  taplo: any of: \.toml$
