Repository cBournhonesque/lightyear: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, docs, taplo

rustfmt:
  name: rustfmt
  description: Check if all files follow the rustfmt style
  entry: cargo fmt --all -- --check --color always
  language: system
  pass_filenames: false

clippy:
  name: clippy
  description: Run clippy linter
  entry: cargo clippy --features=lightyear_core/not_mock --workspace --exclude=compiletime --exclude=avian_3d_character --exclude=launcher --exclude=delta_compression --exclude=distributed_authority --no-deps -- -D warnings -A clippy::needless_lifetimes
  ...

docs:
  name: docs
  description: Build the documentation to ensure there are no errors
  entry: cargo +nightly doc --all-features --workspace --document-private-items --no-deps --keep-going
  language: system
  pass_filenames: false

taplo:
  name: Taplo TOML formatter
  description: Check formatting of all TOML files using Taplo
  entry: taplo fmt --check
  language: system
  pass_filenames: false

Add UnlinkReason enum, use in Unlink and Unlinked
  lightyear_link/src/lib.rs
Due: rustfmt, clippy, docs

Use UnlinkReason everywhere Unlink or Unlinked are used and passed reason strings
  examples/lobby/src/client.rs
  lightyear_aeronet/src/lib.rs
  lightyear_aeronet/src/server.rs
  lightyear_link/src/lib.rs
  lightyear_link/src/server.rs
  lightyear_raw_connection/src/client.rs
  lightyear_raw_connection/src/server.rs
  lightyear_steam/src/client.rs
Due: rustfmt, clippy, docs

Add DisconnectedReason and fix type errors
  examples/common/src/client_renderer.rs
  lightyear_connection/src/client.rs
  lightyear_connection/src/host.rs
  lightyear_link/src/lib.rs
  lightyear_netcode/src/client_plugin.rs
  lightyear_steam/src/server.rs
Due: rustfmt, clippy, docs

Improve DisconnectedReason docs
  lightyear_connection/src/client.rs
Due: rustfmt, clippy, docs

Fix up variant usage and type errors
  lightyear_aeronet/src/lib.rs
  lightyear_aeronet/src/server.rs
  lightyear_connection/src/client.rs
  lightyear_netcode/src/client_plugin.rs
  lightyear_raw_connection/src/server.rs
  lightyear_steam/src/server.rs
Due: rustfmt, clippy, docs

Change Unknown string back to original casing
  examples/common/src/client_renderer.rs
Due: rustfmt, clippy, docs

Rename ClientRequested to UserRequested, remove unused Other variant
  examples/lobby/src/client.rs
  lightyear_aeronet/src/lib.rs
  lightyear_aeronet/src/server.rs
  lightyear_link/src/lib.rs
  lightyear_raw_connection/src/client.rs
  lightyear_steam/src/client.rs
  lightyear_steam/src/server.rs
Due: rustfmt, clippy, docs

feat(avian): automatically rollback islands-related resources if enabled (#1480)
  lightyear_avian/src/plugin.rs
  lightyear_tests/src/client_server/deterministic/input_only.rs
  lightyear_tests/src/client_server/deterministic/protocol.rs
  lightyear_tests/src/client_server/deterministic/stepper.rs
Due: rustfmt, clippy, docs

fix: use try commands in interpolation
  lightyear_interpolation/src/despawn.rs
  lightyear_interpolation/src/interpolate.rs
  lightyear_interpolation/src/interpolation_history.rs
Due: rustfmt, clippy, docs

Add gain authority regression test for issue #1347 (#1484)
  lightyear_replication/src/send.rs
Due: rustfmt, clippy, docs

Add support to set a connection request handler
  lightyear_netcode/src/server.rs
  lightyear_netcode/src/server_plugin.rs
Due: rustfmt, clippy, docs

Add replicate-once component registration
  examples/deterministic_replication/src/protocol.rs
  lightyear_replication/src/REPLICON_INTEGRATION.md
  lightyear_replication/src/registry/mod.rs
  lightyear_replication/src/registry/replication.rs
  lightyear_tests/src/client_server/deterministic/protocol.rs
  lightyear_tests/src/client_server/replication.rs
  lightyear_tests/src/protocol.rs
Due: rustfmt, clippy, docs

Add replicate-once component registration (#1488)
  examples/deterministic_replication/src/protocol.rs
  lightyear_replication/src/REPLICON_INTEGRATION.md
  lightyear_replication/src/registry/mod.rs
  lightyear_replication/src/registry/replication.rs
  lightyear_tests/src/client_server/deterministic/protocol.rs
  lightyear_tests/src/client_server/replication.rs
  lightyear_tests/src/protocol.rs
Due: rustfmt, clippy, docs

Consider max cases when checking packet size limits
  lightyear_replication/src/checkpoint.rs
  lightyear_replication/src/server.rs
  lightyear_transport/src/packet/packet.rs
  lightyear_transport/src/packet/packet_builder.rs
Due: rustfmt, clippy, docs

Consider max cases when checking packet size limits (#1490)
  lightyear_replication/src/checkpoint.rs
  lightyear_replication/src/server.rs
  lightyear_transport/src/packet/packet.rs
  lightyear_transport/src/packet/packet_builder.rs
Due: rustfmt, clippy, docs

Track last confirmed state rollback tick
  lightyear_prediction/src/checkpoint_ticks.rs
  lightyear_prediction/src/manager.rs
  lightyear_prediction/src/predicted_history.rs
  lightyear_prediction/src/registry.rs
  lightyear_prediction/src/rollback.rs
  lightyear_tests/src/client_server/prediction/rollback.rs
Due: rustfmt, clippy, docs

Advance replication tick after fixed loop
  lightyear_replication/src/send.rs
  lightyear_tests/src/client_server/avian/transform_replication.rs
Due: rustfmt, clippy, docs

Track last confirmed state rollback tick (#1492)
  lightyear_prediction/src/checkpoint_ticks.rs
  lightyear_prediction/src/manager.rs
  lightyear_prediction/src/predicted_history.rs
  lightyear_prediction/src/registry.rs
  lightyear_prediction/src/rollback.rs
  lightyear_tests/src/client_server/prediction/rollback.rs
Due: rustfmt, clippy, docs

Advance replication tick after fixed loop (#1491)
  lightyear_replication/src/send.rs
  lightyear_tests/src/client_server/avian/transform_replication.rs
Due: rustfmt, clippy, docs

Add transport packet compression
  Cargo.toml
  benches/criterion/Cargo.toml
  benches/criterion/benches/bandwidth/main.rs
  benches/criterion/benches/bandwidth/replication.rs
  benches/criterion/benches/bandwidth/transport_compression.rs
  benches/criterion/benches/timing/main.rs
  benches/criterion/benches/timing/replication.rs
  benches/criterion/benches/timing/transport_compression.rs
  benches/criterion/src/lib.rs
  benches/criterion/src/transport_compression.rs
  lightyear/Cargo.toml
  lightyear_transport/Cargo.toml
  lightyear_transport/src/channel/builder.rs
  lightyear_transport/src/lib.rs
  lightyear_transport/src/packet/compression.rs
  lightyear_transport/src/packet/error.rs
  lightyear_transport/src/packet/header.rs
  lightyear_transport/src/packet/mod.rs
  lightyear_transport/src/packet/packet.rs
  lightyear_transport/src/packet/packet_builder.rs
  lightyear_transport/src/packet/packet_type.rs
  lightyear_transport/src/plugin.rs
Due: rustfmt, clippy, docs, taplo

Add compression-aware packet packing
  benches/criterion/src/transport_compression.rs
  lightyear_transport/src/packet/compression.rs
  lightyear_transport/src/packet/error.rs
  lightyear_transport/src/packet/packet.rs
  lightyear_transport/src/packet/packet_builder.rs
  lightyear_transport/src/plugin.rs
Due: rustfmt, clippy, docs

Compression: apply bandwidth limiter after packing
  lightyear_transport/src/channel/builder.rs
  lightyear_transport/src/packet/priority_manager.rs
  lightyear_transport/src/plugin.rs
Due: rustfmt, clippy, docs

Compression: emit channel metrics after packet quota
  lightyear_transport/src/packet/compression.rs
  lightyear_transport/src/packet/packet.rs
  lightyear_transport/src/packet/packet_builder.rs
  lightyear_transport/src/packet/priority_manager.rs
  lightyear_transport/src/plugin.rs
Due: rustfmt, clippy, docs

Compression: use message metadata for send metrics
  lightyear_transport/src/packet/compression.rs
  lightyear_transport/src/packet/packet.rs
  lightyear_transport/src/packet/packet_builder.rs
  lightyear_transport/src/plugin.rs
Due: rustfmt, clippy, docs

Compression: document packet quota drop behavior
  lightyear_transport/src/plugin.rs
Due: rustfmt, clippy, docs

Compression: compress fragment messages
  lightyear_transport/src/channel/builder.rs
  lightyear_transport/src/channel/receivers/error.rs
  lightyear_transport/src/channel/receivers/fragment_receiver.rs
  lightyear_transport/src/channel/receivers/ordered_reliable.rs
  lightyear_transport/src/channel/receivers/sequenced_reliable.rs
  lightyear_transport/src/channel/receivers/sequenced_unreliable.rs
  lightyear_transport/src/channel/receivers/unordered_reliable.rs
  lightyear_transport/src/channel/receivers/unordered_unreliable.rs
  lightyear_transport/src/channel/senders/fragment_sender.rs
  lightyear_transport/src/channel/senders/mod.rs
  lightyear_transport/src/channel/senders/reliable.rs
  lightyear_transport/src/channel/senders/sequenced_unreliable.rs
  lightyear_transport/src/channel/senders/unordered_unreliable.rs
  lightyear_transport/src/channel/senders/unordered_unreliable_with_acks.rs
  lightyear_transport/src/packet/compression.rs
  lightyear_transport/src/packet/message.rs
  lightyear_transport/src/packet/packet.rs
  lightyear_transport/src/packet/packet_builder.rs
  lightyear_transport/src/plugin.rs
Due: rustfmt, clippy, docs

Compression: send fragment compression marker once
  lightyear_transport/src/channel/builder.rs
  lightyear_transport/src/channel/receivers/error.rs
  lightyear_transport/src/channel/receivers/fragment_receiver.rs
  lightyear_transport/src/channel/senders/fragment_sender.rs
  lightyear_transport/src/packet/message.rs
  lightyear_transport/src/packet/packet.rs
  lightyear_transport/src/packet/packet_builder.rs
  lightyear_transport/src/packet/packet_type.rs
Due: rustfmt, clippy, docs

Enable lz4 compression in lightyear_transport (#1493)
  Cargo.toml
  benches/criterion/Cargo.toml
  benches/criterion/benches/bandwidth/main.rs
  benches/criterion/benches/bandwidth/replication.rs
  benches/criterion/benches/bandwidth/transport_compression.rs
  benches/criterion/benches/timing/main.rs
  benches/criterion/benches/timing/replication.rs
  benches/criterion/benches/timing/transport_compression.rs
  benches/criterion/src/lib.rs
  benches/criterion/src/transport_compression.rs
  lightyear/Cargo.toml
  lightyear_transport/Cargo.toml
  lightyear_transport/src/channel/builder.rs
  lightyear_transport/src/channel/receivers/error.rs
  lightyear_transport/src/channel/receivers/fragment_receiver.rs
  lightyear_transport/src/channel/receivers/ordered_reliable.rs
  lightyear_transport/src/channel/receivers/sequenced_reliable.rs
  lightyear_transport/src/channel/receivers/sequenced_unreliable.rs
  lightyear_transport/src/channel/receivers/unordered_reliable.rs
  lightyear_transport/src/channel/receivers/unordered_unreliable.rs
  lightyear_transport/src/channel/senders/fragment_sender.rs
  lightyear_transport/src/channel/senders/mod.rs
  lightyear_transport/src/channel/senders/reliable.rs
  lightyear_transport/src/channel/senders/sequenced_unreliable.rs
  lightyear_transport/src/channel/senders/unordered_unreliable.rs
  lightyear_transport/src/channel/senders/unordered_unreliable_with_acks.rs
  lightyear_transport/src/lib.rs
  lightyear_transport/src/packet/compression.rs
  lightyear_transport/src/packet/error.rs
  lightyear_transport/src/packet/header.rs
  lightyear_transport/src/packet/message.rs
  lightyear_transport/src/packet/mod.rs
  lightyear_transport/src/packet/packet.rs
  lightyear_transport/src/packet/packet_builder.rs
  lightyear_transport/src/packet/packet_type.rs
  lightyear_transport/src/packet/priority_manager.rs
  lightyear_transport/src/plugin.rs
Due: rustfmt, clippy, docs, taplo

Enable compression even if uncompressed packet is smaller than MTU
  lightyear_transport/src/packet/packet_builder.rs
  lightyear_transport/src/plugin.rs
Due: rustfmt, clippy, docs

Enable compression even if uncompressed packet is smaller than MTU (#1495)
  lightyear_transport/src/packet/packet_builder.rs
  lightyear_transport/src/plugin.rs
Due: rustfmt, clippy, docs

Handle op_delta replication for prediction/interpolation
  Cargo.toml
  lightyear_interpolation/src/registry.rs
  lightyear_prediction/src/registry.rs
  lightyear_tests/Cargo.toml
  lightyear_tests/src/client_server/mod.rs
  lightyear_tests/src/client_server/op_delta.rs
Due: rustfmt, clippy, docs, taplo

fix: add explicit avian f32 feature when generating docs
  .github/workflows/main.yaml
  justfile
  lightyear/Cargo.toml
  lightyear/src/lib.rs
  lightyear_replication/Cargo.toml
Due: rustfmt, clippy, docs, taplo

fix: add explicit avian f32 feature when generating docs (#1496)
  .github/workflows/main.yaml
  justfile
  lightyear/Cargo.toml
  lightyear/src/lib.rs
  lightyear_replication/Cargo.toml
Due: rustfmt, clippy, docs, taplo

nit: improve release process
  justfile
  lightyear_crossbeam/Cargo.toml
Due: taplo

Improve release process (#1497)
  justfile
  lightyear_crossbeam/Cargo.toml
Due: taplo

Allow Plugin without client feature
  lightyear_replication/src/lib.rs
Due: rustfmt, clippy, docs

Remove match arm that cannot exist
  lightyear_replication/src/send.rs
Due: rustfmt, clippy, docs

Ensure ProtocolCheckPlugin compares apples to apples
  examples/auth/src/main.rs
  lightyear/src/protocol.rs
Due: rustfmt, clippy, docs

nit: prep for deploy
  justfile
  lightyear_inputs_bei/src/plugin.rs
  lightyear_inputs_bei/src/setup.rs
  lightyear_web/Cargo.toml
  lightyear_web/src/lib.rs
Due: rustfmt, clippy, docs, taplo

update book
  .github/workflows/website.yaml
  book/book.toml
  book/src/SUMMARY.md
  book/src/concepts/advanced_replication/authority.md
  book/src/concepts/advanced_replication/bandwidth_management.md
  book/src/concepts/advanced_replication/client_replication.md
  book/src/concepts/advanced_replication/component_registration.md
  book/src/concepts/advanced_replication/component_sync_mode.md
  book/src/concepts/advanced_replication/inputs.md
  book/src/concepts/advanced_replication/interest_management.md
  book/src/concepts/advanced_replication/interpolation.md
  book/src/concepts/advanced_replication/prediction.md
  book/src/concepts/advanced_replication/prespawning.md
  book/src/concepts/advanced_replication/replication_logic.md
  book/src/concepts/advanced_replication/title.md
  book/src/concepts/advanced_replication/visual_interpolation.md
  book/src/concepts/bevy_integration/client/time_sync.md
  book/src/concepts/bevy_integration/client/title.md
  book/src/concepts/bevy_integration/events.md
  book/src/concepts/bevy_integration/server.md
  book/src/concepts/bevy_integration/shared_plugin.md
  book/src/concepts/bevy_integration/system_order.md
  book/src/concepts/bevy_integration/title.md
  book/src/concepts/reliability/channels.md
  book/src/concepts/reliability/fragmentation.md
  book/src/concepts/reliability/packet_header.md
  book/src/concepts/reliability/title.md
  book/src/concepts/replication/protocol.md
  book/src/concepts/replication/replicate.md
  book/src/concepts/replication/title.md
  book/src/concepts/transport/packet.md
  book/src/concepts/transport/serialization.md
  book/src/concepts/transport/title.md
  book/src/examples/title.md
  book/src/guides/title.md
  book/src/tutorial/advanced_systems.md
  book/src/tutorial/basic_systems.md
Due: taplo

Path conditions:
  rustfmt: any of: \.rs$
  clippy: any of: \.rs$
  docs: any of: \.rs$
  taplo: any of: \.toml$
