Repository cBournhonesque/lightyear: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, docs, taplo

rustfmt:
  name: rustfmt
  description: Check if all files follow the rustfmt style
  entry: cargo fmt --all -- --check --color always
  language: system
  pass_filenames: false

clippy:
  name: clippy
  description: Run clippy linter
  entry: cargo clippy --features=lightyear_core/not_mock --workspace --exclude=compiletime --exclude=avian_3d_character --exclude=launcher --exclude=delta_compression --exclude=distributed_authority --no-deps -- -D warnings -A clippy::needless_lifetimes
  ...

docs:
  name: docs
  description: Build the documentation to ensure there are no errors
  entry: cargo +nightly doc --all-features --workspace --document-private-items --no-deps --keep-going
  language: system
  pass_filenames: false

taplo:
  name: Taplo TOML formatter
  description: Check formatting of all TOML files using Taplo
  entry: taplo fmt --check
  language: system
  pass_filenames: false

feat(inputs): server-side input-validation seam (ValidateInputs) (#1535)
  crates/inputs/inputs/src/lib.rs
  crates/inputs/inputs/src/server.rs
  crates/tests/src/client_server/input/leafwing.rs
  crates/transport/messages/src/receive.rs
Due: rustfmt, clippy, docs

Simplify resource replication
  book/src/concepts/replication/replicate.md
  crates/core/core/src/confirmed_history.rs
  crates/deterministic/deterministic_replication/src/late_join/mod.rs
  crates/deterministic/deterministic_replication/src/late_join/server.rs
  crates/deterministic/deterministic_replication/src/late_join/shared.rs
  crates/integration/avian/src/plugin.rs
  crates/replication/prediction/src/lib.rs
  crates/replication/prediction/src/plugin.rs
  crates/replication/prediction/src/predicted_history.rs
  crates/replication/prediction/src/registry.rs
  crates/replication/prediction/src/resource_history.rs
  crates/replication/prediction/src/rollback.rs
  crates/replication/replication/src/registry/replication.rs
  crates/tests/src/client_server/deterministic/protocol.rs
  examples/deterministic_replication/src/protocol.rs
  examples/deterministic_replication/src/shared.rs
Due: rustfmt, clippy, docs

fixes
  crates/replication/prediction/src/predicted_history.rs
  crates/replication/prediction/src/registry.rs
  crates/replication/prediction/src/rollback.rs
Due: rustfmt, clippy, docs

Simplify resource replication (#1536)
  book/src/concepts/replication/replicate.md
  crates/core/core/src/confirmed_history.rs
  crates/deterministic/deterministic_replication/src/late_join/mod.rs
  crates/deterministic/deterministic_replication/src/late_join/server.rs
  crates/deterministic/deterministic_replication/src/late_join/shared.rs
  crates/integration/avian/src/plugin.rs
  crates/replication/prediction/src/lib.rs
  crates/replication/prediction/src/plugin.rs
  crates/replication/prediction/src/predicted_history.rs
  crates/replication/prediction/src/registry.rs
  crates/replication/prediction/src/resource_history.rs
  crates/replication/prediction/src/rollback.rs
  crates/replication/replication/src/registry/replication.rs
  crates/tests/src/client_server/deterministic/protocol.rs
  examples/deterministic_replication/src/protocol.rs
  examples/deterministic_replication/src/shared.rs
Due: rustfmt, clippy, docs

test(inputs): cover authorize_controlled_targets host-client + PreSpawned branches
  crates/tests/src/client_server/input/leafwing.rs
  crates/tests/src/host_server/input/leafwing.rs
Due: rustfmt, clippy, docs

feat(inputs): opt-in authorize_controlled_targets helper (spoofed-target defense)
  crates/inputs/inputs/src/lib.rs
  crates/inputs/inputs/src/server.rs
  crates/tests/src/client_server/input/leafwing.rs
Due: rustfmt, clippy, docs

docs(inputs): document ordering custom validators after authorize_controlled_targets
  crates/inputs/inputs/src/server.rs
  crates/tests/src/client_server/input/leafwing.rs
Due: rustfmt, clippy, docs

fix(inputs): authorize_controlled_targets keeps emptied keepalive messages
  crates/inputs/inputs/src/server.rs
  crates/tests/src/client_server/input/leafwing.rs
Due: rustfmt, clippy, docs

feat(inputs): opt-in authorize_controlled_targets helper (spoofed-target defense) (#1526)
  crates/inputs/inputs/src/lib.rs
  crates/inputs/inputs/src/server.rs
  crates/tests/src/client_server/input/leafwing.rs
  crates/tests/src/host_server/input/leafwing.rs
Due: rustfmt, clippy, docs

simplify bei
  crates/inputs/input_bei/src/marker.rs
  crates/inputs/input_bei/src/plugin.rs
  crates/inputs/input_bei/src/setup.rs
Due: rustfmt, clippy, docs

fix projectiles
  crates/inputs/input_bei/src/plugin.rs
  crates/inputs/input_bei/src/setup.rs
  crates/replication/replication/src/hierarchy.rs
  crates/replication/replication/src/lib.rs
  examples/projectiles/src/renderer.rs
  examples/projectiles/src/server.rs
  examples/projectiles/src/shared.rs
Due: rustfmt, clippy, docs

simplify BEI replication
  crates/inputs/input_bei/src/marker.rs
  crates/inputs/input_bei/src/plugin.rs
  crates/inputs/input_bei/src/setup.rs
  crates/inputs/inputs/src/client.rs
  crates/inputs/inputs/src/input_message.rs
  crates/inputs/inputs/src/server.rs
  crates/replication/prediction/src/plugin.rs
  crates/replication/prediction/src/predicted_history.rs
  crates/tests/src/client_server/input/bei.rs
  crates/tests/src/client_server/prediction/rollback.rs
  examples/bevy_enhanced_inputs/src/automation.rs
  examples/bevy_enhanced_inputs/src/client.rs
  examples/bevy_enhanced_inputs/src/renderer.rs
  examples/bevy_enhanced_inputs/src/server.rs
  examples/bevy_enhanced_inputs/src/shared.rs
  examples/projectiles/src/client.rs
  examples/projectiles/src/server.rs
  examples/projectiles/src/shared.rs
Due: rustfmt, clippy, docs

fix
  crates/inputs/input_bei/src/setup.rs
  crates/replication/replication/src/hierarchy.rs
Due: rustfmt, clippy, docs

fix(inputs): simplify BEI input replication (#1537)
  crates/inputs/input_bei/src/marker.rs
  crates/inputs/input_bei/src/plugin.rs
  crates/inputs/input_bei/src/setup.rs
  crates/inputs/inputs/src/client.rs
  crates/inputs/inputs/src/input_message.rs
  crates/inputs/inputs/src/server.rs
  crates/replication/prediction/src/plugin.rs
  crates/replication/prediction/src/predicted_history.rs
  crates/replication/replication/src/hierarchy.rs
  crates/replication/replication/src/lib.rs
  crates/tests/src/client_server/input/bei.rs
  crates/tests/src/client_server/prediction/rollback.rs
  examples/bevy_enhanced_inputs/src/automation.rs
  examples/bevy_enhanced_inputs/src/client.rs
  examples/bevy_enhanced_inputs/src/renderer.rs
  examples/bevy_enhanced_inputs/src/server.rs
  examples/bevy_enhanced_inputs/src/shared.rs
  examples/projectiles/src/client.rs
  examples/projectiles/src/renderer.rs
  examples/projectiles/src/server.rs
  examples/projectiles/src/shared.rs
Due: rustfmt, clippy, docs

update readme
  README.md
Due: none

fix bei no-std
  crates/inputs/input_bei/src/plugin.rs
  crates/inputs/input_bei/src/setup.rs
Due: rustfmt, clippy, docs

feat(perf): remove steady-state allocations in transport crate
  Cargo.toml
  crates/transport/transport/Cargo.toml
  crates/transport/transport/src/packet/header.rs
  crates/transport/transport/src/packet/mod.rs
  crates/transport/transport/src/packet/packet_builder.rs
  crates/transport/transport/src/packet/stats_manager.rs
  crates/transport/transport/src/packet/test_utils.rs
  crates/transport/transport/src/plugin.rs
  crates/transport/transport/tests/allocation_regression.rs
  crates/transport/transport/tests/dhat_packet_loop.rs
Due: rustfmt, clippy, docs, taplo

ci fix
  crates/inputs/input_bei/src/plugin.rs
  crates/tests/src/client_server/avian/transform_replication.rs
Due: rustfmt, clippy, docs

feat(perf): remove steady-state allocations in transport crate (#1538)
  Cargo.toml
  crates/inputs/input_bei/src/plugin.rs
  crates/tests/src/client_server/avian/transform_replication.rs
  crates/transport/transport/Cargo.toml
  crates/transport/transport/src/packet/header.rs
  crates/transport/transport/src/packet/mod.rs
  crates/transport/transport/src/packet/packet_builder.rs
  crates/transport/transport/src/packet/stats_manager.rs
  crates/transport/transport/src/packet/test_utils.rs
  crates/transport/transport/src/plugin.rs
  crates/transport/transport/tests/allocation_regression.rs
  crates/transport/transport/tests/dhat_packet_loop.rs
Due: rustfmt, clippy, docs, taplo

feat(interpolation): Support multiple interpolation fns for the same component
  crates/inputs/input_bei/src/plugin.rs
  crates/replication/interpolation/Cargo.toml
  crates/replication/interpolation/src/archetypes.rs
  crates/replication/interpolation/src/interpolate.rs
  crates/replication/interpolation/src/lib.rs
  crates/replication/interpolation/src/plugin.rs
  crates/replication/interpolation/src/registry.rs
Due: rustfmt, clippy, docs, taplo

fix ci
  crates/inputs/inputs/src/server.rs
  crates/replication/interpolation/src/interpolate.rs
  crates/replication/interpolation/src/registry.rs
Due: rustfmt, clippy, docs

add allocation tests + prune prediction/confirmed history
  crates/core/core/src/confirmed_history.rs
  crates/core/core/src/time.rs
  crates/replication/interpolation/Cargo.toml
  crates/replication/interpolation/tests/allocation_regression.rs
  crates/replication/interpolation/tests/dhat_interpolation_history_loop.rs
  crates/replication/prediction/Cargo.toml
  crates/replication/prediction/src/plugin.rs
  crates/replication/prediction/src/predicted_history.rs
  crates/replication/prediction/src/registry.rs
  crates/replication/prediction/tests/allocation_regression.rs
  crates/replication/prediction/tests/dhat_prediction_history_loop.rs
  crates/tests/Cargo.toml
  crates/tests/tests/client_server_allocation.rs
  crates/transport/messages/Cargo.toml
  crates/transport/messages/src/lib.rs
  crates/transport/messages/src/receive.rs
  crates/transport/messages/src/send.rs
  crates/transport/messages/src/test_utils.rs
  crates/transport/messages/tests/allocation_regression.rs
  crates/transport/messages/tests/dhat_message_loop.rs
Due: rustfmt, clippy, docs, taplo

fixes
  crates/core/lightyear/src/client.rs
  crates/core/sync/src/ping/manager.rs
  crates/core/sync/src/ping/plugin.rs
  crates/replication/interpolation/src/archetypes.rs
  crates/replication/interpolation/src/interpolate.rs
  crates/replication/interpolation/src/registry.rs
  crates/tests/src/client_server/replication.rs
Due: rustfmt, clippy, docs

fix ack estimation
  crates/core/sync/src/ping/manager.rs
  crates/core/sync/src/ping/plugin.rs
  crates/deterministic/deterministic_replication/src/late_join/client.rs
  crates/deterministic/deterministic_replication/src/late_join/mod.rs
  crates/replication/prediction/src/registry.rs
  crates/transport/transport/src/plugin.rs
Due: rustfmt, clippy, docs

Revert "fix ack estimation"
  crates/core/sync/src/ping/manager.rs
  crates/core/sync/src/ping/plugin.rs
  crates/deterministic/deterministic_replication/src/late_join/client.rs
  crates/deterministic/deterministic_replication/src/late_join/mod.rs
  crates/replication/prediction/src/registry.rs
  crates/transport/transport/src/plugin.rs
Due: rustfmt, clippy, docs

Use Replicon userdata for checkpoint ticks
  Cargo.toml
  crates/replication/interpolation/src/plugin.rs
  crates/replication/prediction/src/plugin.rs
  crates/replication/replication/src/checkpoint.rs
  crates/replication/replication/src/client.rs
  crates/replication/replication/src/diff_history.rs
  crates/replication/replication/src/lib.rs
  crates/replication/replication/src/send.rs
  crates/replication/replication/src/server.rs
  crates/replication/replication/tests/checkpoint.rs
  crates/tests/src/client_server/input/bei.rs
Due: rustfmt, clippy, docs, taplo

Use Replicon userdata for checkpoint ticks (#1543)
  Cargo.toml
  crates/replication/interpolation/src/plugin.rs
  crates/replication/prediction/src/plugin.rs
  crates/replication/replication/src/checkpoint.rs
  crates/replication/replication/src/client.rs
  crates/replication/replication/src/diff_history.rs
  crates/replication/replication/src/lib.rs
  crates/replication/replication/src/send.rs
  crates/replication/replication/src/server.rs
  crates/replication/replication/tests/checkpoint.rs
  crates/tests/src/client_server/input/bei.rs
Due: rustfmt, clippy, docs, taplo

chore(build): test builds in all platforms
  .cargo/config.toml
  .github/workflows/platform-builds.yaml
  Cargo.toml
  crates/core/lightyear/Cargo.toml
  examples/common/Cargo.toml
Due: taplo

fix(ci): allow platform builds without lockfile
  .github/workflows/platform-builds.yaml
Due: none

chore(build): test builds in all platforms (#1544)
  .cargo/config.toml
  .github/workflows/platform-builds.yaml
  Cargo.toml
  crates/core/lightyear/Cargo.toml
  examples/common/Cargo.toml
Due: taplo

fix(transport): Use ping/pong only for RTT estimates
  crates/core/sync/src/ping/diagnostics.rs
  crates/core/sync/src/ping/manager.rs
  crates/core/sync/src/ping/plugin.rs
  crates/tests/src/timeline/sync_tests.rs
  crates/transport/transport/src/packet/priority_manager.rs
Due: rustfmt, clippy, docs

fix(transport): Use ping/pong only for RTT estimates (#1545)
  crates/core/sync/src/ping/diagnostics.rs
  crates/core/sync/src/ping/manager.rs
  crates/core/sync/src/ping/plugin.rs
  crates/tests/src/timeline/sync_tests.rs
  crates/transport/transport/src/packet/priority_manager.rs
Due: rustfmt, clippy, docs

Support Gilbert-Elliott packet-loss model
  crates/io/link/Cargo.toml
  crates/io/link/src/conditioner.rs
  crates/io/link/src/lib.rs
Due: rustfmt, clippy, docs, taplo

Emit event on packet lost
  crates/core/lightyear/src/lib.rs
  crates/transport/transport/src/plugin.rs
Due: rustfmt, clippy, docs

Emit event on packet lost (#1549)
  crates/core/lightyear/src/lib.rs
  crates/transport/transport/src/plugin.rs
Due: rustfmt, clippy, docs

fix(bei): fix observer adding bindings
  examples/bevy_enhanced_inputs/src/client.rs
Due: rustfmt, clippy, docs

fix(bei): fix observer adding bindings (#1551)
  examples/bevy_enhanced_inputs/src/client.rs
Due: rustfmt, clippy, docs

fix(example): disable frame interpolation on server
  examples/avian_3d_character/src/renderer.rs
Due: rustfmt, clippy, docs

Path conditions:
  rustfmt: any of: \.rs$
  clippy: any of: \.rs$
  docs: any of: \.rs$
  taplo: any of: \.toml$
