Repository cBournhonesque/lightyear: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, docs, taplo

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        description: Check if all files follow the rustfmt style
        entry: cargo fmt --all -- --check --color always
        types: [rust]
        language: system
        pass_filenames: false

      - id: clippy
        name: clippy
        description: Run clippy linter
        entry: cargo clippy --features=lightyear_core/not_mock --workspace --exclude=compiletime --exclude=avian_3d_character --exclude=launcher --exclude=delta_compression --exclude=distributed_authority --no-deps -- -D warnings -A clippy::needless_lifetimes
        types: [rust]
        language: system
        pass_filenames: false

      - id: docs
        name: docs
        description: Build the documentation to ensure there are no errors
        entry: cargo +nightly doc --all-features --workspace --document-private-items --no-deps --keep-going
        types: [rust]
        language: system
        pass_filenames: false

      - id: taplo
        name: Taplo TOML formatter
        description: Check formatting of all TOML files using Taplo
        entry: taplo fmt --check
        types: [toml]
        language: system
        pass_filenames: false

docs: fix UDP endpoint import path in transport book
  book/src/concepts/transport/title.md
Due: none

chore: remove facade CHANGELOG.md
  crates/core/lightyear/CHANGELOG.md
Due: none

docs: teach UdpEndpoint plus Server instead of ServerUdpIo
  book/src/tutorial/build_client_server.md
Due: none

feat(p2p): discover UDP peers through optional lobbies
  crates/connection/p2p/src/lib.rs
  crates/connection/p2p/src/lobby.rs
  crates/connection/p2p/src/session.rs
  crates/core/core/src/id.rs
  crates/io/udp/Cargo.toml
  crates/io/udp/src/lib.rs
  crates/io/udp/src/lobby.rs
  crates/tests/Cargo.toml
  crates/tests/src/lib.rs
  crates/tests/src/p2p/lobby.rs
  crates/tests/src/p2p/mod.rs
Due: rustfmt, clippy, docs, taplo

feat(p2p): publish per-peer dial context and break dial ties
  crates/connection/p2p/src/lobby.rs
Due: rustfmt, clippy, docs

feat(p2p): discover peers over WebSocket and WebTransport
  crates/connection/p2p/src/lobby.rs
  crates/core/lightyear/Cargo.toml
  crates/io/websocket/Cargo.toml
  crates/io/websocket/src/lib.rs
  crates/io/websocket/src/lobby.rs
  crates/io/webtransport/Cargo.toml
  crates/io/webtransport/src/lib.rs
  crates/io/webtransport/src/lobby.rs
  crates/tests/Cargo.toml
  crates/tests/src/p2p/mod.rs
  crates/tests/src/p2p/websocket.rs
  crates/tests/src/p2p/webtransport.rs
Due: rustfmt, clippy, docs, taplo

fix(lobby): preserve peer lookup and reject occupied identities
  crates/connection/p2p/src/lobby.rs
  crates/io/udp/Cargo.toml
  crates/io/websocket/Cargo.toml
  crates/io/websocket/src/lobby.rs
  crates/io/webtransport/Cargo.toml
  crates/io/webtransport/src/lobby.rs
  crates/tests/src/p2p/websocket.rs
Due: rustfmt, clippy, docs, taplo

refactor(p2p): carry one dial-context list, as Bytes
  crates/connection/p2p/Cargo.toml
  crates/connection/p2p/src/lobby.rs
Due: rustfmt, clippy, docs, taplo

style: format lobby transport and regression tests
  crates/io/udp/Cargo.toml
  crates/io/udp/src/lobby.rs
  crates/io/websocket/Cargo.toml
  crates/io/webtransport/Cargo.toml
  crates/tests/Cargo.toml
  crates/tests/src/p2p/lobby.rs
Due: rustfmt, clippy, docs, taplo

test(lobby): cover concurrent seed discovery and endpoint lookups
  crates/tests/src/p2p/websocket.rs
  crates/tests/src/p2p/webtransport.rs
Due: rustfmt, clippy, docs

fix(p2p): restore explicit lobby reconnects on stream transports
  crates/connection/connection/src/client.rs
  crates/connection/p2p/src/lobby.rs
  crates/io/websocket/src/lobby.rs
  crates/io/webtransport/src/lobby.rs
  crates/tests/src/p2p/websocket.rs
  crates/tests/src/p2p/webtransport.rs
Due: rustfmt, clippy, docs

fix(webtransport): return an error for malformed certificate digests
  crates/io/webtransport/src/client.rs
Due: rustfmt, clippy, docs

test(p2p): share one configurable stepper across transports
  crates/tests/src/p2p/lobby.rs
  crates/tests/src/p2p/mod.rs
  crates/tests/src/p2p/stepper.rs
  crates/tests/src/p2p/websocket.rs
  crates/tests/src/p2p/webtransport.rs
Due: rustfmt, clippy, docs

refactor(udp): annotate P2P links with a single insert
  crates/io/udp/src/lobby.rs
Due: rustfmt, clippy, docs

feat(p2p): admit peers through triggers and agree one activation tick
  crates/connection/p2p/src/join.rs
  crates/connection/p2p/src/lib.rs
  crates/connection/p2p/src/session.rs
  crates/core/lightyear/src/shared.rs
  crates/replication/prediction/src/manager.rs
  crates/replication/prediction/src/rollback.rs
Due: rustfmt, clippy, docs

feat(p2p): expose membership and support configurable session startup
  crates/connection/connection/CHANGELOG.md
  crates/connection/connection/src/lib.rs
  crates/connection/connection/src/network_target.rs
  crates/connection/connection/src/network_topology.rs
  crates/connection/connection/src/p2p.rs
  crates/connection/p2p/src/lib.rs
  crates/connection/p2p/src/session.rs
  crates/core/sync/src/timeline/input.rs
  crates/core/sync/src/timeline/sync.rs
  crates/deterministic/deterministic_replication/src/checksum.rs
  crates/deterministic/deterministic_replication/src/prediction_window.rs
  crates/inputs/input_bei/src/setup.rs
  crates/inputs/inputs/src/client.rs
  crates/replication/interpolation/src/timeline.rs
  crates/replication/prediction/src/plugin.rs
  crates/replication/prediction/src/predicted_history.rs
  crates/replication/prediction/src/rollback.rs
  crates/tests/Cargo.toml
  crates/tests/src/client_server/input/native.rs
  crates/tests/src/lib.rs
  crates/tests/src/p2p/mod.rs
  crates/tests/src/p2p/solo.rs
  demos/spaceships/src/shared.rs
  examples/common/src/p2p.rs
  examples/simple_box/README.md
Due: rustfmt, clippy, docs, taplo

feat(p2p): replay join history incrementally and preserve first-frame inputs
  Cargo.toml
  crates/deterministic/deterministic_replication/CHANGELOG.md
  crates/deterministic/deterministic_replication/Cargo.toml
  crates/deterministic/deterministic_replication/src/checksum.rs
  crates/deterministic/deterministic_replication/src/join_catch_up.rs
  crates/deterministic/deterministic_replication/src/late_join/client.rs
  crates/deterministic/deterministic_replication/src/lib.rs
  crates/inputs/inputs/CHANGELOG.md
  crates/inputs/inputs/src/client.rs
  crates/inputs/inputs/src/input_message.rs
  crates/inputs/inputs/src/lib.rs
  crates/tests/src/client_server/input/native.rs
  examples/common/src/p2p.rs
  examples/deterministic_replication/Cargo.toml
  examples/deterministic_replication/src/p2p.rs
  examples/simple_box/Cargo.toml
  examples/simple_box/README.md
  examples/simple_box/src/p2p.rs
Due: rustfmt, clippy, docs, taplo

feat(p2p): discover peers through optional transport-independent lobbies (#1742)
  crates/connection/connection/src/client.rs
  crates/connection/p2p/Cargo.toml
  crates/connection/p2p/src/lib.rs
  crates/connection/p2p/src/lobby.rs
  crates/connection/p2p/src/session.rs
  crates/core/core/src/id.rs
  crates/core/lightyear/Cargo.toml
  crates/io/udp/Cargo.toml
  crates/io/udp/src/lib.rs
  crates/io/udp/src/lobby.rs
  crates/io/websocket/Cargo.toml
  crates/io/websocket/src/lib.rs
  crates/io/websocket/src/lobby.rs
  crates/io/webtransport/Cargo.toml
  crates/io/webtransport/src/client.rs
  crates/io/webtransport/src/lib.rs
  crates/io/webtransport/src/lobby.rs
  crates/tests/Cargo.toml
  crates/tests/src/lib.rs
  crates/tests/src/p2p/lobby.rs
  crates/tests/src/p2p/mod.rs
  crates/tests/src/p2p/stepper.rs
  crates/tests/src/p2p/websocket.rs
  crates/tests/src/p2p/webtransport.rs
Due: rustfmt, clippy, docs, taplo

fix(spaceships): convert P2P demo to lobby-based roster
  demos/spaceships/src/p2p.rs
Due: rustfmt, clippy, docs

feat(p2p): Update p2p examples to use lobby feature
  examples/avian_2d/src/p2p.rs
  examples/avian_3d/src/p2p.rs
  examples/bevy_enhanced_inputs/src/p2p.rs
  examples/common/Cargo.toml
  examples/common/src/cli.rs
  examples/common/src/p2p.rs
  examples/deterministic_replication/src/automation.rs
  examples/deterministic_replication/src/p2p.rs
  examples/fps/src/p2p.rs
  examples/network_visibility/src/p2p.rs
  examples/replication_groups/src/p2p.rs
  examples/simple_box/src/automation.rs
  examples/simple_box/src/p2p.rs
Due: rustfmt, clippy, docs, taplo

docs(examples): document lobby-based P2P mode in all P2P readmes
  examples/avian_2d/README.md
  examples/avian_3d/README.md
  examples/bevy_enhanced_inputs/README.md
  examples/deterministic_replication/README.md
  examples/fps/README.md
  examples/network_visibility/README.md
  examples/replication_groups/README.md
  examples/simple_box/README.md
  examples/simple_box/p2p_smoke.sh
  justfile
Due: none

feat(p2p): run examples on lobby-based peer discovery (#1747)
  demos/spaceships/src/p2p.rs
  examples/avian_2d/README.md
  examples/avian_2d/src/p2p.rs
  examples/avian_3d/README.md
  examples/avian_3d/src/p2p.rs
  examples/bevy_enhanced_inputs/README.md
  examples/bevy_enhanced_inputs/src/p2p.rs
  examples/common/Cargo.toml
  examples/common/src/cli.rs
  examples/common/src/p2p.rs
  examples/deterministic_replication/README.md
  examples/deterministic_replication/src/automation.rs
  examples/deterministic_replication/src/p2p.rs
  examples/fps/README.md
  examples/fps/src/p2p.rs
  examples/network_visibility/README.md
  examples/network_visibility/src/p2p.rs
  examples/replication_groups/README.md
  examples/replication_groups/src/p2p.rs
  examples/simple_box/README.md
  examples/simple_box/p2p_smoke.sh
  examples/simple_box/src/automation.rs
  examples/simple_box/src/p2p.rs
  justfile
Due: rustfmt, clippy, docs, taplo

fix(prediction): use try_remove when dropping VisualCorrection on component removal
  crates/replication/prediction/src/correction.rs
Due: rustfmt, clippy, docs

fix(prediction): use try_remove when dropping VisualCorrection on component removal (#1751)
  crates/replication/prediction/src/correction.rs
Due: rustfmt, clippy, docs

fix(rooms): Fix updating rooms for new clients
  crates/replication/replication/src/send.rs
  crates/replication/replication/src/visibility/room.rs
  crates/tests/src/client_server/replication.rs
Due: rustfmt, clippy, docs

Improve debug messages when rollbacks are detected.
  crates/replication/prediction/src/registry.rs
Due: rustfmt, clippy, docs

Avoid adding correction systems if we've already done so.
  crates/replication/prediction/src/registry.rs
Due: rustfmt, clippy, docs

Use a higher threshold for Avian LinearVelocity and AngularVelocity rollbacks.
  crates/integration/avian/src/plugin.rs
Due: rustfmt, clippy, docs

Improve debug messages when rollbacks are detected. (#1755)
  crates/replication/prediction/src/registry.rs
Due: rustfmt, clippy, docs

Avoid adding correction systems if we've already done so. (#1756)
  crates/replication/prediction/src/registry.rs
Due: rustfmt, clippy, docs

Use a higher threshold for Avian LinearVelocity and AngularVelocity rollbacks. (#1757)
  crates/integration/avian/src/plugin.rs
Due: rustfmt, clippy, docs

nit(input): don't panic if running prediction without inputs
  crates/replication/prediction/src/plugin.rs
  crates/replication/prediction/src/rollback.rs
Due: rustfmt, clippy, docs

nit(input): don't panic if running prediction without inputs (#1758)
  crates/replication/prediction/src/plugin.rs
  crates/replication/prediction/src/rollback.rs
Due: rustfmt, clippy, docs

feat(p2p): replay join history incrementally and preserve first-frame inputs
  Cargo.toml
  crates/deterministic/deterministic_replication/CHANGELOG.md
  crates/deterministic/deterministic_replication/Cargo.toml
  crates/deterministic/deterministic_replication/src/archetypes.rs
  crates/deterministic/deterministic_replication/src/checksum.rs
  crates/deterministic/deterministic_replication/src/join_catch_up.rs
  crates/deterministic/deterministic_replication/src/late_join/client.rs
  crates/deterministic/deterministic_replication/src/lib.rs
  crates/inputs/inputs/CHANGELOG.md
  crates/inputs/inputs/src/client.rs
  crates/inputs/inputs/src/input_message.rs
  crates/inputs/inputs/src/lib.rs
  crates/tests/src/client_server/input/native.rs
  crates/tests/src/p2p/mod.rs
  crates/tests/src/p2p/simulation.rs
  crates/tests/src/p2p/stepper.rs
  examples/common/src/p2p.rs
  examples/deterministic_replication/Cargo.toml
  examples/deterministic_replication/README.md
  examples/deterministic_replication/src/p2p.rs
  examples/simple_box/Cargo.toml
  examples/simple_box/README.md
  examples/simple_box/src/p2p.rs
Due: rustfmt, clippy, docs, taplo

feat(p2p): expose membership and support configurable session startup
  crates/connection/connection/CHANGELOG.md
  crates/connection/connection/src/lib.rs
  crates/connection/connection/src/network_target.rs
  crates/connection/connection/src/network_topology.rs
  crates/connection/connection/src/p2p.rs
  crates/connection/p2p/src/lib.rs
  crates/connection/p2p/src/session.rs
  crates/core/sync/src/timeline/input.rs
  crates/core/sync/src/timeline/sync.rs
  crates/deterministic/deterministic_replication/src/checksum.rs
  crates/deterministic/deterministic_replication/src/prediction_window.rs
  crates/inputs/input_bei/src/setup.rs
  crates/inputs/inputs/src/client.rs
  crates/inputs/inputs/src/server.rs
  crates/replication/interpolation/src/timeline.rs
  crates/replication/prediction/src/plugin.rs
  crates/replication/prediction/src/predicted_history.rs
  crates/tests/src/client_server/input/native.rs
  crates/tests/src/lib.rs
  crates/tests/src/p2p/mod.rs
  crates/tests/src/p2p/solo.rs
  crates/tests/src/p2p/stepper.rs
  demos/spaceships/src/shared.rs
  examples/common/src/p2p.rs
  examples/simple_box/README.md
Due: rustfmt, clippy, docs
