Repository cBournhonesque/lightyear: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, docs, taplo

rustfmt:
  name: rustfmt
  description: Check if all files follow the rustfmt style
  entry: cargo fmt --all -- --check --color always
  language: system
  pass_filenames: false

clippy:
  name: clippy
  description: Run clippy linter
  entry: cargo clippy --features=lightyear_core/not_mock --workspace --exclude=compiletime --exclude=avian_3d_character --exclude=launcher --exclude=delta_compression --exclude=distributed_authority --no-deps -- -D warnings -A clippy::needless_lifetimes
  ...

docs:
  name: docs
  description: Build the documentation to ensure there are no errors
  entry: cargo +nightly doc --all-features --workspace --document-private-items --no-deps --keep-going
  language: system
  pass_filenames: false

taplo:
  name: Taplo TOML formatter
  description: Check formatting of all TOML files using Taplo
  entry: taplo fmt --check
  language: system
  pass_filenames: false

refactor(prediction): make rollback state global (#1628)
  book/src/concepts/advanced_replication/prespawning.md
  book/src/tutorial/advanced_systems.md
  crates/core/core/src/timeline.rs
  crates/core/sync/src/timeline/remote.rs
  crates/deterministic/deterministic_replication/src/late_join/client.rs
  crates/inputs/inputs/src/client.rs
  crates/replication/interpolation/src/timeline.rs
  crates/replication/prediction/src/correction.rs
  crates/replication/prediction/src/despawn.rs
  crates/replication/prediction/src/manager.rs
  crates/replication/prediction/src/plugin.rs
  crates/replication/prediction/src/predicted_history.rs
  crates/replication/prediction/src/registry.rs
  crates/replication/prediction/src/rollback.rs
  crates/replication/replication/src/REPLICON_INTEGRATION.md
  crates/tests/src/client_server/deterministic/state_based_catchup.rs
  crates/tests/src/client_server/deterministic/stepper.rs
  crates/tests/src/client_server/diff.rs
  crates/tests/src/client_server/input/native.rs
  crates/tests/src/client_server/prediction/mod.rs
  crates/tests/src/client_server/prediction/rollback.rs
  crates/tests/src/stepper.rs
  examples/common/src/client.rs
  examples/deterministic_replication/src/main.rs
  examples/fps/src/debug.rs
  examples/projectiles/src/server.rs
  examples/projectiles/src/shared.rs
Due: rustfmt, clippy, docs

feat(sync): aggregate P2P timeline pacing (#1630)
  crates/core/sync/src/lib.rs
  crates/core/sync/src/timeline/input.rs
  crates/core/sync/src/timeline/remote.rs
  crates/core/sync/src/timeline/sync.rs
  crates/deterministic/deterministic_replication/src/lib.rs
  crates/deterministic/deterministic_replication/src/plugin.rs
  crates/deterministic/deterministic_replication/src/prediction_window.rs
  crates/inputs/inputs/src/client.rs
  crates/replication/interpolation/src/timeline.rs
  crates/replication/prediction/src/manager.rs
  crates/replication/prediction/src/rollback.rs
Due: rustfmt, clippy, docs

fix(serde): preserve high entity index bits
  crates/transport/serde/src/entity_map.rs
Due: rustfmt, clippy, docs

test(ci): run unit tests for every crate
  .github/workflows/main.yaml
  crates/core/utils/Cargo.toml
  crates/core/utils/src/ecs.rs
  crates/inputs/input_bei/src/input_message.rs
  crates/inputs/inputs_leafwing/src/plugin.rs
  crates/replication/prediction/src/registry.rs
  crates/transport/transport/src/channel/builder.rs
  crates/transport/transport/src/plugin.rs
Due: rustfmt, clippy, docs, taplo

fix(p2p): wire topology features and lint examples
  crates/connection/connection/Cargo.toml
  crates/connection/connection/src/identity.rs
  crates/connection/connection/src/lib.rs
  crates/connection/connection/src/network_topology.rs
  crates/core/lightyear/Cargo.toml
  crates/core/sync/Cargo.toml
  crates/deterministic/deterministic_replication/Cargo.toml
  crates/inputs/input_bei/Cargo.toml
  crates/inputs/inputs/Cargo.toml
  crates/inputs/inputs/src/client.rs
  crates/inputs/inputs_leafwing/Cargo.toml
  crates/inputs/inputs_native/Cargo.toml
  demos/spaceships/Cargo.toml
  examples/avian_2d/Cargo.toml
  examples/avian_3d/Cargo.toml
  examples/common/Cargo.toml
  examples/fps/Cargo.toml
  examples/network_visibility/Cargo.toml
  examples/replication_groups/Cargo.toml
  examples/replication_groups/src/p2p.rs
  examples/simple_box/Cargo.toml
  justfile
Due: rustfmt, clippy, docs, taplo

fix(examples): default P2P builds to GUI
  justfile
Due: none

ci: consolidate test compilation
  .github/workflows/main.yaml
  README.md
Due: none

ci: allow generating the workspace lockfile
  .github/workflows/main.yaml
Due: none

refactor(p2p): remove unused crate features
  crates/connection/connection/Cargo.toml
  crates/connection/connection/src/network_topology.rs
  crates/core/lightyear/Cargo.toml
  crates/core/sync/Cargo.toml
  crates/deterministic/deterministic_replication/Cargo.toml
  crates/inputs/input_bei/Cargo.toml
  crates/inputs/inputs/Cargo.toml
  crates/inputs/inputs_leafwing/Cargo.toml
  crates/inputs/inputs_native/Cargo.toml
Due: rustfmt, clippy, docs, taplo

test(ci): run unit tests for every crate (#1652)
  .github/workflows/main.yaml
  README.md
  crates/core/utils/Cargo.toml
  crates/core/utils/src/ecs.rs
  crates/inputs/input_bei/src/input_message.rs
  crates/inputs/inputs_leafwing/src/plugin.rs
  crates/replication/prediction/src/registry.rs
  crates/transport/serde/src/entity_map.rs
  crates/transport/transport/src/channel/builder.rs
  crates/transport/transport/src/plugin.rs
Due: rustfmt, clippy, docs, taplo

ci: run coverage only on main
  .github/workflows/main.yaml
  README.md
Due: none

style(p2p): format facade feature
  crates/core/lightyear/Cargo.toml
Due: taplo

ci: run coverage only on main (#1653)
  .github/workflows/main.yaml
  README.md
Due: none

fix(host): retry pending connection when server starts
  crates/connection/connection/src/host.rs
  crates/tests/src/host_server/base.rs
Due: rustfmt, clippy, docs

chore: replace certificate script with Rust utility
  Cargo.toml
  certificates/Cargo.toml
  certificates/generate.sh
  certificates/src/main.rs
  demos/spaceships/README.md
  examples/README.md
  examples/auth/README.md
  examples/avian_2d/README.md
  examples/avian_3d/README.md
  examples/bevy_enhanced_inputs/README.md
  examples/delta_compression/README.md
  examples/deterministic_replication/README.md
  examples/fps/README.md
  examples/lobby/README.md
  examples/network_visibility/README.md
  examples/priority/README.md
  examples/projectiles/README.md
  examples/replication_groups/README.md
  examples/simple_box/README.md
  examples/simple_setup/README.md
Due: rustfmt, clippy, docs, taplo

fix(messages): warn when clearing unread messages
  crates/transport/messages/src/receive.rs
Due: rustfmt, clippy, docs

chore: replace certificate script with Rust utility (#1655)
  Cargo.toml
  certificates/Cargo.toml
  certificates/generate.sh
  certificates/src/main.rs
  demos/spaceships/README.md
  examples/README.md
  examples/auth/README.md
  examples/avian_2d/README.md
  examples/avian_3d/README.md
  examples/bevy_enhanced_inputs/README.md
  examples/delta_compression/README.md
  examples/deterministic_replication/README.md
  examples/fps/README.md
  examples/lobby/README.md
  examples/network_visibility/README.md
  examples/priority/README.md
  examples/projectiles/README.md
  examples/replication_groups/README.md
  examples/simple_box/README.md
  examples/simple_setup/README.md
Due: rustfmt, clippy, docs, taplo

nit: Warn when clearing unread messages (#1656)
  crates/transport/messages/src/receive.rs
Due: rustfmt, clippy, docs

feat(examples): add deterministic P2P input demos
  examples/bevy_enhanced_inputs/Cargo.toml
  examples/bevy_enhanced_inputs/README.md
  examples/bevy_enhanced_inputs/src/client.rs
  examples/bevy_enhanced_inputs/src/debug.rs
  examples/bevy_enhanced_inputs/src/lib.rs
  examples/bevy_enhanced_inputs/src/main.rs
  examples/bevy_enhanced_inputs/src/p2p.rs
  examples/bevy_enhanced_inputs/src/server.rs
  examples/bevy_enhanced_inputs/src/shared.rs
  examples/deterministic_replication/Cargo.toml
  examples/deterministic_replication/README.md
  examples/deterministic_replication/src/automation.rs
  examples/deterministic_replication/src/client.rs
  examples/deterministic_replication/src/main.rs
  examples/deterministic_replication/src/p2p.rs
  examples/deterministic_replication/src/protocol.rs
  examples/deterministic_replication/src/shared.rs
Due: rustfmt, clippy, docs, taplo

fix(connection): use structured disconnect reasons
  crates/connection/connection/src/client.rs
  crates/connection/connection/src/host.rs
  crates/connection/connection/src/lib.rs
  crates/connection/connection/src/network_topology.rs
  crates/connection/connection/src/server.rs
  crates/connection/netcode/src/client_plugin.rs
  crates/connection/netcode/src/server_plugin.rs
  crates/connection/raw_connection/src/client.rs
  crates/connection/raw_connection/src/server.rs
  crates/connection/steam/src/client.rs
  crates/connection/steam/src/server.rs
  crates/io/aeronet/src/lib.rs
  crates/io/aeronet/src/server.rs
  crates/io/crossbeam/src/lib.rs
  crates/io/link/src/lib.rs
  crates/io/link/src/server.rs
  crates/io/websocket/src/server.rs
  crates/io/webtransport/src/server.rs
  crates/tests/src/client_server/connection.rs
  crates/tests/src/client_server/replication.rs
  crates/tests/src/stepper.rs
  examples/common/src/client_renderer.rs
  examples/lobby/src/client.rs
Due: rustfmt, clippy, docs

test: simplify disconnect reason coverage
  crates/connection/connection/src/client.rs
  crates/io/link/src/lib.rs
  crates/tests/src/client_server/replication.rs
Due: rustfmt, clippy, docs

Use enums for unlink and disconnect reasons (#1657)
  crates/connection/connection/src/client.rs
  crates/connection/connection/src/host.rs
  crates/connection/connection/src/lib.rs
  crates/connection/connection/src/network_topology.rs
  crates/connection/connection/src/server.rs
  crates/connection/netcode/src/client_plugin.rs
  crates/connection/netcode/src/server_plugin.rs
  crates/connection/raw_connection/src/client.rs
  crates/connection/raw_connection/src/server.rs
  crates/connection/steam/src/client.rs
  crates/connection/steam/src/server.rs
  crates/io/aeronet/src/lib.rs
  crates/io/aeronet/src/server.rs
  crates/io/crossbeam/src/lib.rs
  crates/io/link/src/lib.rs
  crates/io/link/src/server.rs
  crates/io/websocket/src/server.rs
  crates/io/webtransport/src/server.rs
  crates/tests/src/client_server/connection.rs
  crates/tests/src/client_server/replication.rs
  crates/tests/src/stepper.rs
  examples/common/src/client_renderer.rs
  examples/lobby/src/client.rs
Due: rustfmt, clippy, docs

refactor(replication): observe receiver lifecycle cleanup
  crates/replication/replication/src/client.rs
  crates/replication/replication/src/receive.rs
  crates/tests/src/client_server/replication.rs
Due: rustfmt, clippy, docs

feat(replication): add receiver-side persistence
  crates/replication/replication/src/client.rs
  crates/replication/replication/src/control.rs
  crates/replication/replication/src/lib.rs
  crates/replication/replication/src/receive.rs
  crates/tests/src/client_server/replication.rs
Due: rustfmt, clippy, docs

feat(replication): add receiver-side persistence (#1658)
  crates/replication/replication/src/client.rs
  crates/replication/replication/src/control.rs
  crates/replication/replication/src/lib.rs
  crates/replication/replication/src/receive.rs
  crates/tests/src/client_server/replication.rs
Due: rustfmt, clippy, docs

fix(host): clarify host lifecycle handling
  crates/connection/connection/src/host.rs
Due: rustfmt, clippy, docs

fix(host): retry pending connection when server starts (#1654)
  crates/connection/connection/src/host.rs
  crates/tests/src/host_server/base.rs
Due: rustfmt, clippy, docs

refactor(example): simplify replication priority
  crates/replication/replication/src/lib.rs
  examples/priority/README.md
  examples/priority/src/protocol.rs
  examples/priority/src/server.rs
Due: rustfmt, clippy, docs

Simplify priority example with ReplicatePriority (#1660)
  crates/replication/replication/src/lib.rs
  examples/priority/README.md
  examples/priority/src/protocol.rs
  examples/priority/src/server.rs
Due: rustfmt, clippy, docs

test(examples): verify P2P prediction rollback
  examples/simple_box/README.md
  examples/simple_box/p2p_smoke.sh
  examples/simple_box/src/automation.rs
  examples/simple_box/src/client.rs
  examples/simple_box/src/debug.rs
  justfile
Due: rustfmt, clippy, docs

fix(examples): warm up Avian P2P rollback state
  examples/avian_2d/src/p2p.rs
  examples/avian_3d/src/p2p.rs
  examples/avian_3d/src/renderer.rs
  examples/fps/src/p2p.rs
Due: rustfmt, clippy, docs

refactor(inputs): route through cached network topology (#1627)
  crates/inputs/input_bei/src/setup.rs
  crates/inputs/inputs/src/client.rs
Due: rustfmt, clippy, docs

fix(replication): specify visibility scope lifetimes
  crates/replication/replication/src/control.rs
  crates/replication/replication/src/send.rs
  crates/replication/replication/src/visibility/immediate.rs
Due: rustfmt, clippy, docs

Path conditions:
  rustfmt: any of: \.rs$
  clippy: any of: \.rs$
  docs: any of: \.rs$
  taplo: any of: \.toml$
